In [1]:
import pandas as pd
import sqlalchemy as db
import cx_Oracle as orcl
import datetime as dt
import numpy as np

print("cx_Oracle.version:", orcl.version)
# show all columns without without truncating
pd.set_option('display.max_columns', None)
import sys
reload(sys)
sys.setdefaultencoding('utf8')

('cx_Oracle.version:', '7.2.3')

In [ ]:
host = "10.21.18.15"
port = "1521"
sid = "PROFITSDB"
dsn = orcl.makedsn(host, port, sid)
connection = orcl.connect("mobileuser","Kenya1234##", dsn)
cur = orcl.Cursor(connection)

In [ ]:
host = "10.21.18.13"
port = "1521"
sid = "ECHODB1"
dsn = orcl.makedsn(host, port, sid)
connection = orcl.connect("ALLAN.ASWANI","Password1!", dsn)
cur = orcl.Cursor(connection)

In [56]:
host="128.2.5.46"
port="1521"
sid="PROFITSDB"
username="MOBILEUSER"
password="nathan"
dsn_tns = orcl.makedsn(host, port,sid)
connection = orcl.connect(user=username, password=password, dsn=dsn_tns)
cur = orcl.Cursor(connection)

##checking customer information
statements = """SELECT * FROM CUSTOMER"""
customer = pd.read_sql_query(statements, connection)
pd.set_option('display.max_columns', None)
customer.head(4)

###latest customer numbers
customer.tail(4)

statement_trx = """select P.ACCOUNT_NUMBER,p.cust_id,
trim(C.SURNAME) || ' '|| trim(C.FIRST_NAME) ||' ' || trim(C.MIDDLE_NAME) as name,
D.ID_TRANSACT,
d.TIMESTAMP,
D.ID_JUSTIFIC,
J.DESCRIPTION,
DECODE (D.DEBIT_CREDIT_FLAG,'2','CR','1','DR') "DR/CR",
D.ENTRY_AMOUNT,
D.PREV_ACC_BALANCE, 
D.VALUE_DATE,
D.TRX_USR,
D.ENTRY_COMMENTS
from fst_demand_extrait d, justific j, profits_account p, customer c
where
D.ID_JUSTIFIC = J.ID_JUSTIFIC
and
P.CUST_ID = C.CUST_ID
and
D.FK_DEPOSIT_ACCOACC= P.DEP_ACC_NUMBER
and p.PRFT_SYSTEM=3
and trunc(d.TIMESTAMP) >= to_date('01-06-2019','dd-mm-yyyy')
and trunc(d.TIMESTAMP) <= to_date('30-09-2019','dd-mm-yyyy')
order by D.VALUE_DATE asc"""
trxns_data = pd.read_sql_query(statement_trx, connection)
pd.set_option('display.max_columns', None)
trxns_data.head(10)


trxns_data.tail(10)

In [57]:
statement_trx_4 = '''select D.TMSTAMP,
D.TRX_DATE,
d.TRX_UNIT,
d.TRX_USR,
d.TRX_USR_SN,
d.TUN_INTERNAL_SN,
trim(to_char(D.TRX_DATE,'yyyymmdd'))||''||trim(D.TRX_UNIT)||''||trim(D.TRX_USR)||''||trim (abs(D.TRX_USR_SN) -1)||''||trim(D.TUN_INTERNAL_SN) as TRANSACTION_REF,
P.ID_PRODUCT,
P.DESCRIPTION AS PRODUCT_DESCRIPTION,
R.ACCOUNT_NUMBER, 
A.FK_CUSTOMERCUST_ID,
C.ID_NO AS NATIONAL_ID,
S.MOBILE_TEL,
A.DESIGNATION AS ACCOUNT_NAME,
D.I_ID_JUSTIFIC,
J.DESCRIPTION AS TRANSACTION_TYPE,
ABS (D.I_AMOUNT) "TRANSACTION_AMOUNT",
D.ACC_AMOUNT_40 AS COMMISSION,
D.ACC_AMOUNT_42 AS "EXCISE DUTY",
D.O_FINAL_ACC_AMOUNT AS TOTAL_TRX_AMOUNT,
D.I_COMMENTS TRX_COMMENTS,
F.REVERSE_FLAG, 
F.REVERSED_TRX_FLAG

from prod.DEP_TRX_RECORDING D, prod.JUSTIFIC J, prod.PRODUCT P, prod.DEPOSIT_ACCOUNT A, prod.PROFITS_ACCOUNT R, prod.FST_DEMAND_EXTRAIT F, prod.OTHER_ID C, prod.CUSTOMER S 
WHERE 
A.ACCOUNT_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = F.FK_DEPOSIT_ACCOACC
and A.ACCOUNT_NUMBER = F.FK_DEPOSIT_ACCOACC
AND C.FK_CUSTOMERCUST_ID=A.FK_CUSTOMERCUST_ID
AND D.ID_PRODUCT = P.ID_PRODUCT
AND D.I_ID_JUSTIFIC = J.ID_JUSTIFIC
AND A.FK_CUSTOMERCUST_ID=S.CUST_ID
AND F.TRX_DATE = D.TRX_DATE   
AND F.TRX_UNIT  = D.TRX_UNIT 
AND F.TRX_SN = D.TRX_USR_SN 
AND F.TRX_USR = D.TRX_USR
and F.TUN_INTERNAL_SN = D.TUN_INTERNAL_SN 
AND TRUNC(D.TMSTAMP) between TO_DATE('01-01-2019', 'dd-mm-yyyy') and 
TO_DATE('25-12-2019', 'dd-mm-yyyy') 
--AND D.I_ID_JUSTIFIC IN (31804,31805,31815,32096,32097,32099,32096,32097,32099) 
AND R.PRFT_SYSTEM = 3
AND R.PRODUCT_ID NOT IN ('36000','35000','34000')
AND F.REVERSE_FLAG =0
AND F.REVERSED_TRX_FLAG=0
'''
trxns_data_trx_4 = pd.read_sql_query(statement_trx_4, connection)
trxns_data_trx_4

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,2019-12-06 16:16:12,2019-12-06,100,MIPU0001,2164,1,20191206100MIPU000121631,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),33233.00,0.0,0.0,33233.00,HOUSING FINANCE-CPF LASERAND STANCHART,0,0
1,2019-11-29 09:07:39,2019-11-29,100,ENM1227,194,1,20191129100ENM12271931,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,33100,JOURNAL CREDIT,9468.80,0.0,0.0,9468.80,BANK CHARGES WRITE-OFF,0,0
2,2019-11-29 09:06:25,2019-11-29,100,ENM1227,38,1,20191129100ENM1227371,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,33100,JOURNAL CREDIT,12864.76,0.0,0.0,12864.76,BANK CHARGES WRITE-OFF,0,0
3,2019-11-15 11:21:17,2019-11-15,100,ENM1227,5890,1,20191115100ENM122758891,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,4764.78,0.0,0.0,4764.78,0600067009-CLAIM not found.,0,0
4,2019-11-15 11:20:51,2019-11-15,100,ENM1227,5809,1,20191115100ENM122758081,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,4621.77,0.0,0.0,4621.77,0600067572-CLAIM not found.,0,0
5,2019-11-15 11:20:45,2019-11-15,100,ENM1227,5793,1,20191115100ENM122757921,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,1026.61,0.0,0.0,1026.61,0600095577-CLAIM not found.,0,0
6,2019-11-15 11:20:15,2019-11-15,100,ENM1227,5694,1,20191115100ENM122756931,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,5498.53,0.0,0.0,5498.53,0600095305-CLAIM not found.,0,0
7,2019-11-15 11:19:35,2019-11-15,100,ENM1227,5570,1,20191115100ENM122755691,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,1038.59,0.0,0.0,1038.59,0600048552-CLAIM not found.,0,0
8,2019-11-15 11:19:22,2019-11-15,100,ENM1227,5528,1,20191115100ENM122755271,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,3197.74,0.0,0.0,3197.74,0600002003-CLAIM not found.,0,0
9,2019-11-14 14:14:03,2019-11-14,100,ENM1227,19758,1,20191114100ENM1227197571,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,23927.58,0.0,0.0,23927.58,0600127107-CLAIM not found.,0,0
10,2019-11-14 12:01:03,2019-11-14,100,ENM1227,8129,1,20191114100ENM122781281,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,16639.87,0.0,0.0,16639.87,0600108861-CLAIM not found.,0,0
11,2019-06-12 15:22:19,2019-06-12,100,MIPU0001,897,1,20190612100MIPU00018961,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),9000.00,0.0,0.0,9000.00,HFCK-TRIBE HOTEL LTD,0,0
12,2019-05-09 15:07:09,2019-05-09,100,MIPU0001,887,1,20190509100MIPU00018861,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),12000.00,0.0,0.0,12000.00,HOUSING FINANCE-,0,0
13,2019-05-06 15:10:30,2019-05-06,100,MIPU0001,1090,1,20190506100MIPU000110891,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),20500.00,0.0,0.0,20500.00,HFC-DREAM KENYA TRUST,0,0
14,2019-03-20 09:44:42,2019-03-20,100,ENM1227,11,1,20190320100ENM1227101,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,34001,JOURNAL DEBIT,10500.00,0.0,0.0,-10500.00,MATER HOSPITAL-FEB,0,0
15,2019-03-11 20:19:45,2019-03-11,100,ENM1227,890,1,20190311100ENM12278891,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,34001,JOURNAL DEBIT,10000.00,0.0,0.0,-10000.00,ERNST & YOUNG-FEB,0,0
16,2019-02-20 16:03:11,2019-02-20,100,MIPU0001,1002,1,20190220100MIPU000110011,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),11386.30,0.0,0.0,11386.30,HOUSING FINANCE-POSTAL CORPORATION,0,0
17,2019-11-29 09:08:49,2019-11-29,100,ENM1227,344,1,20191129100ENM12273431,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,33100,JOURNAL CREDIT,6606.27,0.0,0.0,6606.27,BANK CHARGES WRITE-OFF,0,0
18,2019-11-29 09:08:47,2019-11-29,100,ENM1227,338,1,20191129100ENM12273371,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,33100,JOURNAL CREDIT,6657.51,0.0,0.0,6657.51,BANK CHARGES WRITE-OFF,0,0
19,2019-11-15 11:21:18,2019-11-15,100,ENM1227,5894,1,20191115100ENM122758931,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,2337.20,0.0,0.0,2337.20,0600067487-CLAIM not found.,0,0
20,2019-11-15 11:21:10,2019-11-15,100,ENM1227,5866,1,20191115100ENM122758651,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,984.99,0.0,0.0,984.99,0600067002-CLAIM not found.,0,0
21,2019-11-15 11:20:46,2019-11-15,100,ENM1227,5797,1,20191115100ENM122757961,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,1058.77,0.0,0.0,1058.77,0600095676-CLAIM not found.,0,0
22,2019-11-15 11:20:43,2019-11-15,100,ENM1227,5784,1,20191115100ENM122757831,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,1038.59,0.0,0.0,1038.59,0600094855-CLAIM not found.,0,0
23,2019-11-15 11:20:20,2019-11-15,100,ENM1227,5710,1,20191115100ENM122757091,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,11225.72,0.0,0.0,11225.72,0600095359-CLAIM not found.,0,0
24,2019-11-15 11:19:49,2019-11-15,100,ENM1227,5614,1,20191115100ENM122756131,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,7905.90,0.0,0.0,7905.90,0600048659-CLAIM not found.,0,0
25,2019-11-15 11:07:26,2019-11-15,100,ENM1227,4662,1,20191115100ENM122746611,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,1390.69,0.0,0.0,1390.69,0600048023-CLAIM not found.,0,0
26,2019-11-15 10:04:41,2019-11-15,100,ENM1227,752,1,20191115100ENM12277511,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,18756.34,0.0,0.0,18756.34,0600044435-CLAIM not found.,0,0
27,2019-11-15 10:04:23,2019-11-15,100,ENM1227,708,1,20191115100ENM12277071,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,165.75,0.0,0.0,165.75,0600043348-CLAIM not found.,0,0
28,2019-11-15 10:03:39,2019-11-15,100,ENM1227,594,1,20191115100ENM12275931,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,3638.39,0.0,0.0,3638.39,0600027073-CLAIM not found.,0,0
29,2019-11-14 13:31:09,2019-11-14,100,ENM1227,15598,1,20191114100ENM1227155971,32000,MEMO PRODUCT-JOURNAL,0000430004,43,00000,,SALARY SUSPENSE ACCOUNT-HEAD OFFICE ...,31639,SALARY POSTINGS RETURN REJECTED AMOUNTS,11042.82,0.0,0.0,11042.82,0600033385-CLAIM not found.,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5656317,2019-11-16 11:42:56,2019-11-16,16,LMW3176,45,1,2019111616LMW3176441,31103,LENGO ACCOUNT,2000047653,74024,1871453,254720781681,AGNES W. MUGANE AND JOHN MUNYIRI MUGANE ...,32001,CASH WITHDRAWAL,195000.00,300.0,60.0,-195362.00,,0,0
5656318,2019-11-16 11:42:56,2019-11-16,16,LMW3176,45,1,2019111616LMW3176441,31103,LENGO ACCOUNT,2000047653,74024,1871453,254720781681,AGNES W. MUGANE AND JOHN MUNYIRI MUGANE ...,32001,CASH WITHDRAWAL,195000.00,300.0,60.0,-195362.00,,0,0
5656319,2019-11-16 11:42:56,2019-11-16,16,LMW3176,45,1,2019111616LMW3176441,31103,LENGO ACCOUNT,2000047653,74024,1871453,254720781681,AGNES W. MUGANE AND JOHN MUNYIRI MUGANE ...,32001,CASH WITHDRAWAL,195000.00,300.0,60.0,-195362.00,,0,0
5656320,2019-11-16 11:42:56,2019-11-16,16,LMW3176,45,1,2019111616LMW3176441,31103,LENGO ACCOUNT,2000047653,74024,1871453,254720781681,AGNES W. MUGANE AND JOHN MUNYIRI MUGANE ...,32001,CASH WITHDRAWAL,195000.00,300.0,60.0,-195362.00,,0,0
5656321,2019-11-21 11:56:36,2019-11-21,410,DJK1954,91,1,20191121410DJK1954901,31511,MICRO BIZ ACCOUNT,2200323201,220032,7476570,254721299817,ANNE WANJIKU WANJOHI ...,31001,DEPOSIT CASH,4200.00,0.0,0.0,4200.00,NAOMI,0,0
5656322,2019-11-22 10:38:18,2019-11-22,109,KOCE0001,2663,1,20191122109KOCE000126621,31705,CURRENT ACCOUNT STAFF,7050000058,135787,3431985,254722516218,FRANK M.IRERI & OR ANGELA M.IRERI ...,32099,ACCOUNT TO MPESA(B2C),30000.00,0.0,0.0,-30022.00,SEND TO MPESA 254722516218,0,0
5656323,2019-11-22 10:38:18,2019-11-22,109,KOCE0001,2663,1,20191122109KOCE000126621,31705,CURRENT ACCOUNT STAFF,7050000058,135787,3431985,254722516218,FRANK M.IRERI & OR ANGELA M.IRERI ...,32099,ACCOUNT TO MPESA(B2C),30000.00,0.0,0.0,-30022.00,SEND TO MPESA 254722516218,0,0
5656324,2019-11-25 14:39:45,2019-11-25,100,SIS415,489,1,20191125100SIS4154881,31704,CURRENT ACCOUNT CORPORATE,1987473202,198747,CPR/2015/185325,254735338096,CLAYCITY LIMITED ...,39100,INCOMING RTGS CR,100000.00,0.0,0.0,100000.00,THOMAS MAINA NJUGUNA MBOTE,0,0
5656325,2019-11-30 22:36:45,2019-11-30,400,99973112,2241,1,201911304009997311222401,31704,CURRENT ACCOUNT CORPORATE,7040000901,147397,440302,,DAINA AGRICULTUAL PRODUCTS ...,94915,DEBIT INTEREST,0.00,0.0,0.0,-4.95,,0,0
5656326,2019-12-04 21:01:46,2019-12-04,100,99974431,32916,1,2019120410099974431329151,31718,PERSONAL CURRENT ACCOUNT-UNBUN,7180002159,162776,13643974,,MARETE HUMPHREY KITHINJI ...,34006,STANDING ORDER PAYMENT,35861.83,0.0,0.0,-35861.83,LOANS STANDING ORDER.74431-6000014293,0,0
5656327,2019-12-05 13:12:03,2019-12-05,100,ESB0001,2410,1,20191205100ESB000124091,31561,SME BIZ ACCOUNT,4221703201,422170,9826568,254722313650,JOHN MWANGI KIGURU ...,31819,MPESA CR WHIZZPAY,1500.00,0.0,0.0,1500.00,NL58G201BS-254724256045 MPESATOACC,0,0
5656328,2019-12-05 13:24:48,2019-12-05,230,LWN363,51,1,20191205230LWN363501,31704,CURRENT ACCOUNT CORPORATE,7040000744,38168,47P300000014,,APOSTOLIC CARMEL GIRLS SECONDARY SCHOOL ...,31001,DEPOSIT CASH,50000.00,0.0,0.0,50000.00,ADM NO 2821 ALICE WENDY MUGO,0,0
5656329,2019-12-05 21:47:20,2019-12-06,109,KOCE0001,1061,1,20191206109KOCE000110601,31561,SME BIZ ACCOUNT,2287683202,228768,25793739,254720388430,JOHN NJENGA GITHIO ...,32098,AIRTIME PURCHASE( MOBILE APP),350.00,5.0,1.0,-356.00,BUY AIRTIME FOR AIRTSAF 254720388430,0,0
5656330,2019-12-05 21:47:20,2019-12-06,109,KOCE0001,1061,1,20191206109KOCE000110601,31561,SME BIZ ACCOUNT,2287683202,228768,25793739,254720388430,JOHN NJENGA GITHIO ...,32098,AIRTIME PURCHASE( MOBILE APP),350.00,5.0,1.0,-356.00,BUY AIRTIME FOR AIRTSAF 254720388430,0,0
5656331,2019-12-05 21:47:20,2019-12-06,109,KOCE0001,1061,1,20191206109KOCE000110601,31561,SME BIZ ACCOUNT,2287683202,228768,25793739,254720388430,JOHN NJENGA GITHIO ...,32098,AIRTIME PURCHASE( MOBILE APP),350.00,5.0,1.0,-356.00,BUY AIRTIME FOR AIRTSAF 254720388430,0,0
5656332,2019-12-06 23:20:58,2019-12-07,100,ATMUSER,48,1,20191207100ATMUSER471,31718,PERSONAL CURRENT ACCOUNT-UNBUN,2146013201,214601,10402384,254722851123,DICKSON GACHANJA KIHARA ...,33011,ECOMMERCE/ONLINE TRANSACTION,4360.00,0.0,0.0,-4360.00,ATM DEBIT,0,0
5656333,2019-12-07 08:26:40,2019-12-07,109,KOCE0001,3081,1,20191207109KOCE000130801,31511,MICRO BIZ ACCOUNT,1486333202,148633,25381228,254724013450,SIMON NGANGA AND OR SANDEHI WAITHERA KAMAU ...,32099,ACCOUNT TO MPESA(B2C),21000.00,30.0,6.0,-21058.00,SEND TO MPESA 254724013450,0,0
5656334,2019-12-07 08:26:40,2019-12-07,109,KOCE0001,3081,1,20191207109KOCE000130801,31511,MICRO BIZ ACCOUNT,1486333202,148633,25381228,254724013450,SIMON NGANGA AND OR SANDEHI WAITHERA KAMAU ...,32099,ACCOUNT TO MPESA(B2C),21000.00,30.0,6.0,-21058.00,SEND TO MPESA 254724013450,0,0
5656335,2019-12-07 08:26:40,2019-12-07,109,KOCE0001,3081,1,20191207109KOCE000130801,31511,MICRO BIZ ACCOUNT,1486333202,148633,25381228,254724013450,SIMON NGANGA AND OR SANDEHI WAITHERA KAMAU ...,32099,ACCOUNT TO MPESA(B2C),21000.00,30.0,6.0,-21058.00,SEND TO MPESA 254724013450,0,0
5656336,2019-12-07 08:26:40,2019-12-07,109,KOCE0001,3081,1,20191207109KOCE000130801,31511,MICRO BIZ ACCOUNT,1486333202,148633,25381228,254724013450,SIMON NGANGA AND OR SANDEHI WAITHERA KAMAU ...,32099,ACCOUNT TO MPESA(B2C),21000.00,30.0,6.0,-21058.00,SEND TO MPESA 254724013450,0,0
5656337,2019-12-12 12:20:14,2019-12-13,109,KOCE0001,5176,1,20191213109KOCE000151751,31705,CURRENT ACCOUNT STAFF,7050000302,154446,25105957,254724831069,SARAH MONG'INA MOMANYI ...,32099,ACCOUNT TO MPESA(B2C),5000.00,0.0,0.0,-5022.00,SEND TO MPESA 254724831069,0,0
5656338,2019-12-12 12:20:14,2019-12-13,109,KOCE0001,5176,1,20191213109KOCE000151751,31705,CURRENT ACCOUNT STAFF,7050000302,154446,25105957,254724831069,SARAH MONG'INA MOMANYI ...,32099,ACCOUNT TO MPESA(B2C),5000.00,0.0,0.0,-5022.00,SEND TO MPESA 254724831069,0,0
5656339,2019-12-13 12:22:20,2019-12-13,220,VKM3102,60,1,20191213220VKM3102591,31718,PERSONAL CURRENT ACCOUNT-UNBUN,7180002959,168961,CPR/ 2011/ 55019,254722225911,POLO RESTAURANT LIMITED ...,31001,DEPOSIT CASH,16445.00,0.0,0.0,16445.00,EUNICE,0,0
5656340,2019-12-19 13:20:52,2019-12-19,220,DAK1718,89,1,20191219220DAK1718881,31718,PERSONAL CURRENT ACCOUNT-UNBUN,7180002959,168961,CPR/ 2011/ 55019,254722225911,POLO RESTAURANT LIMITED ...,31001,DEPOSIT CASH,11048.00,0.0,0.0,11048.00,EUNICE,0,0
5656341,2019-01-01 04:02:41,2018-12-31,220,99973111,1795,1,201812312209997311117941,31108,1ST HOP,2000084868,122259,23429529,254723573916,ELIAS MWENDIA WATHITHA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,214.80,,0,0
5656342,2019-10-30 16:50:51,2019-10-30,100,99979195,3557,1,201910301009997919535561,31103,LENGO ACCOUNT,2000090267,129191,14482089,004528339575,DAVID JUMBE BIRONGO ...,34001,JOURNAL DEBIT,7.44,0.0,0.0,0.00,Transferred to UFAA,0,0
5656343,2019-01-01 04:07:33,2018-12-31,300,99973112,6460,1,201812313009997311264591,31715,CROSS OVER SAVING ACCOUNT,2000104808,166240,13891364,,CHRISPHINE ODHIAMBO O ATEGO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,78.63,,0,0
5656344,2019-01-01 04:07:33,2018-12-31,300,99973112,6460,1,201812313009997311264591,31715,CROSS OVER SAVING ACCOUNT,2000104808,166240,13891364,,CHRISPHINE ODHIAMBO O ATEGO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,78.63,,0,0
5656345,2019-01-01 04:09:20,2018-12-31,510,99973114,3638,1,201812315109997311436371,31715,CROSS OVER SAVING ACCOUNT,2086943101,208694,32749134,254795859695,CHARITY WANGECI KARIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,104.13,,0,0
5656346,2019-01-01 04:09:20,2018-12-31,510,99973114,3638,1,201812315109997311436371,31715,CROSS OVER SAVING ACCOUNT,2086943101,208694,32749134,254795859695,CHARITY WANGECI KARIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,104.13,,0,0

In [3]:
trxns_data_trx_4 = pd.read_csv("/Users/allan.aswani/Downloads/calculation/transactions_2019_11_25.csv")

In [4]:
trxns_data_trx_4

,Unnamed: 0,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,ID_PRODUCT,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,0,2019-11-07 08:42,2019-11-07,17,WML2084,4,1,2019110717WML208431,HFC SALARY ACCOUNT,2301083201,31501,230108,6431666,2.54716E+11,PETER IRUNGU KAMAU ...,31615,OTC CASH WITHDRAWAL,8550.0,100.0,,0,0
1,1,2019-03-06 15:01,2019-03-06,20,OMN1986,112,1,2019030620OMN19861111,HFC SALARY ACCOUNT,6648883201,31501,664888,21991533,2.54729E+11,CATHERINE WANGARE NJUGUNA ...,31615,OTC CASH WITHDRAWAL,9700.0,100.0,,0,0
2,2,2019-04-05 21:27,2019-04-06,109,KOCE0003,314,1,20190406109KOCE00033131,VIRTUAL ACCOUNT MOBILE,6686233201,31572,668623,21257746,2.54713E+11,CATHERINE SAANI ...,32099,ACCOUNT TO MPESA(B2C),2650.0,54.0,SEND TO MPESA 254712943509,0,0
3,3,2019-10-22 12:32,2019-10-22,19,PWK1613,75,1,2019102219PWK1613741,TRANSACTIONAL ACCOUNT-CA,2000000323,31719,857,10899859,2.54722E+11,CATHERINE GAKII KIBITI ...,31615,OTC CASH WITHDRAWAL,20000.0,100.0,,0,0
4,4,2019-05-30 17:38,2019-05-30,109,KOCE0002,4191,1,20190530109KOCE000241901,YOLO ACCOUNT,6400643201,31521,640064,36674185,2.54725E+11,OLIVER KIBET CHEREN ...,32099,ACCOUNT TO MPESA(B2C),300.0,23.0,SEND TO MPESA 254724672405,0,0
5,5,2019-09-08 18:33,2019-09-09,109,KOCE0001,4571,1,20190909109KOCE000145701,TRANSACTIONAL ACCOUNT-CA,7190010573,31719,8809,8925590,2.54734E+11,JAMES WILSON OMOLO JAGUGA ...,32099,ACCOUNT TO MPESA(B2C),1000.0,30.0,SEND TO MPESA 254725335540,0,0
6,6,2019-10-08 20:44,2019-10-09,109,KOCE0003,26,1,20191009109KOCE0003251,PERSONAL CURRENT ACCOUNT-UNBUN,2227773201,31718,222777,34083225,2.54729E+11,MICHELLE MWARANTA G GICHUHI ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254729419006,0,0
7,7,2019-07-26 09:59,2019-07-26,280,GNG2042,5,1,20190726280GNG204241,TRANSACTIONAL ACCOUNT-CA,1954703201,31719,195470,1901824,2.54721E+11,PROF. PETER MACHATHA GITU ...,31615,OTC CASH WITHDRAWAL,50000.0,100.0,,0,0
8,8,2019-05-04 06:14,2019-05-04,230,10010002,3,1,2.01905E+20,HFC SALARY ACCOUNT,1474223203,31501,147422,22403150,2.54716E+11,JUSTUS OYARO ORAYO ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,5000.0,35.0,ATM DEBIT,0,0
9,9,2019-03-20 09:43,2019-03-20,109,KOCE0001,10905,1,20190320109KOCE0001109041,VIRTUAL ACCOUNT MOBILE,6006563201,31572,600656,34758978,2.54742E+11,BENJAMIN MUKANDA ...,32099,ACCOUNT TO MPESA(B2C),450.0,23.0,SEND TO MPESA 254741635119,0,0
10,10,2019-03-24 16:38,2019-03-25,109,KOCE0001,22846,1,20190325109KOCE0001228451,VIRTUAL ACCOUNT MOBILE,7014423201,31572,701442,25545230,2.54727E+11,SARAH KABURI ...,32099,ACCOUNT TO MPESA(B2C),850.0,30.0,SEND TO MPESA 254727256638,0,0
11,11,2019-04-05 11:55,2019-04-05,109,KOCE0001,13656,1,20190405109KOCE0001136551,MICRO BIZ ACCOUNT,1379623201,31511,137962,29313945,2.54711E+11,JEFF CHEMAGERI ARISI ...,32099,ACCOUNT TO MPESA(B2C),15000.0,60.0,SEND TO MPESA 254711394352,0,0
12,12,2019-05-13 09:48,2019-05-13,109,KOCE0002,5183,1,20190513109KOCE000251821,VIRTUAL ACCOUNT MOBILE,6857823201,31572,685782,21957898,2.54721E+11,JAPHAN ONG'ANG'A ...,32099,ACCOUNT TO MPESA(B2C),470.0,23.0,SEND TO MPESA 254721345893,0,0
13,13,2019-08-28 22:20,2019-08-29,109,KOCE0001,1479,1,20190829109KOCE000114781,VIRTUAL ACCOUNT MOBILE,6972903201,31572,697290,32825322,2.54705E+11,WINNIE OKUMU ...,32099,ACCOUNT TO MPESA(B2C),100.0,23.0,SEND TO MPESA 254705075075,0,0
14,14,2019-07-10 00:54,2019-07-10,109,KOCE0001,2243,1,20190710109KOCE000122421,VIRTUAL ACCOUNT MOBILE,6483083201,31572,648308,14728285,2.54725E+11,MICHAEL WANJALAH ...,32099,ACCOUNT TO MPESA(B2C),30000.0,60.0,SEND TO MPESA 254725410189,0,0
15,15,2019-07-12 22:30,2019-07-13,109,KOCE0001,1488,1,20190713109KOCE000114871,HFC SALARY ACCOUNT,2152153201,31501,215215,24467903,2.54724E+11,HELLEN RAEL ATIENO OWIRA ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254724372370,0,0
16,16,2019-01-22 21:20,2019-01-23,109,KOCE0001,273,1,20190123109KOCE00012721,VIRTUAL ACCOUNT MOBILE,2620393201,31572,262039,26881464,2.54711E+11,PAUL KONAH ...,32099,ACCOUNT TO MPESA(B2C),20.0,23.0,SEND TO MPESA 254710898142,0,0
17,17,2019-04-25 11:14,2019-04-25,109,KOCE0003,1225,1,20190425109KOCE000312241,YOLO ACCOUNT,8612933201,31521,861293,29720297,2.54711E+11,ELIUD KIPKORIR YANO ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,7500.0,30.0,NDP1H3XMKV-254711415633 MPESA TO ACC,0,0
18,18,2019-05-04 13:06,2019-05-04,19,CWC1539,99,5,2019050419CWC1539985,HFC SALARY ACCOUNT,2180943201,31501,218094,13347256,2.54706E+11,JULIUS LUTOMIA LUTTAH ...,31634,SALARY POSTINGS WITH COMMISSION,25000.0,150.0,STAFF SALARY 2019,0,0
19,19,2019-09-27 07:08,2019-09-27,109,KOCE0001,2424,1,20190927109KOCE000124231,MICRO BIZ ACCOUNT,1545073202,31511,154507,13235347,2.54725E+11,CHRISTOPHER BILL NYAMWARE AWITI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,30.0,SEND TO MPESA 254729716448,0,0
20,20,2019-06-22 20:21,2019-06-24,230,10010002,6,1,2.01906E+20,YOLO ACCOUNT,2004563201,31521,200456,22872637,2.54722E+11,ALEX MUNYASYA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,1000.0,35.0,ATM DEBIT,0,0
21,21,2019-02-24 14:14,2019-02-25,109,KOCE0002,3838,1,20190225109KOCE000238371,VIRTUAL ACCOUNT MOBILE,7151533201,31572,715153,30258456,2.54718E+11,SIMON MUGOSI ...,32099,ACCOUNT TO MPESA(B2C),100.0,23.0,SEND TO MPESA 254718128945,0,0
22,22,2019-10-26 13:32,2019-10-26,109,KOCE0001,8739,1,20191026109KOCE000187381,VIRTUAL ACCOUNT MOBILE,6015423201,31572,601542,7728463,2.54711E+11,GRACE NDEGE ...,32098,AIRTIME PURCHASE( MOBILE APP),140.0,5.0,BUY AIRTIME FOR AIRTSAF 254710887607,0,0
23,23,2019-06-14 18:29,2019-06-14,200,10010014,29,1,2.01906E+21,LENGO ACCOUNT,1936173101,31103,193617,25217231,2.54723E+11,EVANS KIPRONO CHERUIYOT ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.0,35.0,ATM DEBIT,0,0
24,24,2019-02-26 17:26,2019-02-26,109,KOCE0001,21792,1,20190226109KOCE0001217911,VIRTUAL ACCOUNT MOBILE,5420593201,31572,542059,27382381,2.54709E+11,MURITHI MUTEGI ...,32099,ACCOUNT TO MPESA(B2C),13800.0,60.0,SEND TO MPESA 254708526724,0,0
25,25,2019-07-03 10:49,2019-07-03,100,ENM1227,51,1,20190703100ENM1227501,TRANSACTIONAL ACCOUNT-CA,7190017495,31719,182957,30839624,2.54701E+11,ERIC KIMANTHI MATI ...,31634,SALARY POSTINGS WITH COMMISSION,6950.0,150.0,ERIC KIMANTHI MATI,0,0
26,26,2019-03-05 20:04,2019-03-05,109,KOCE0002,13686,1,20190305109KOCE0002136851,MICRO BIZ ACCOUNT,2151233201,31511,215123,25131164,2.54712E+11,ROBERT KIHORO MAINA ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,13000.0,30.0,NC57AYB42L-254712383477 MPESA TO ACC,0,0
27,27,2019-06-15 13:56,2019-06-15,109,KOCE0001,10129,1,20190615109KOCE0001101281,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),2027.0,22.0,SEND TO MPESA 254714714383,0,0
28,28,2019-02-28 20:17,2019-02-28,600,999C7468,1888,1,20190228600999C746818871,PERSONAL CURRENT ACCOUNT-UNBUN,7180004008,31718,187554,20080277,,SAMUEL NYANGATE ATEYA ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
29,29,2019-04-09 17:15,2019-04-09,109,KOCE0001,22952,1,20190409109KOCE0001229511,TRANSACTIONAL ACCOUNT-CA,2000010006,31719,14210,3357635,2.54723E+11,JAMES CHARLES KINYUA ...,32096,BUY GOOD( MOBILE APP),4000.0,35.0,MPESA B2B PAY TILL 696339,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952681,952681,2019-03-26 07:31,2019-03-26,109,KOCE0001,6542,1,20190326109KOCE000165411,VIRTUAL ACCOUNT MOBILE,6603043201,31572,660304,25008891,2.54703E+11,NASON KIOKO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,54.0,SEND TO MPESA 254703171276,0,0
952682,952682,2019-01-30 16:45,2019-01-30,109,KOCE0003,5541,1,20190130109KOCE000355401,PERSONAL CURRENT ACCOUNT-UNBUN,7180003195,31718,172971,24550530,2.54727E+11,JACK OTIENO AYIEKO ...,32099,ACCOUNT TO MPESA(B2C),40000.0,60.0,SEND TO MPESA 254726841254,0,0
952683,952683,2019-05-04 15:08,2019-05-04,100,ATMUSER,235,1,20190504100ATMUSER2341,MICRO BIZ ACCOUNT,2280343201,31511,228034,25954452,2.5472E+11,ISAIAH BURETI ...,33008,ATM WITHDR OFFUS MASTERCARD,2000.0,250.0,ATM DEBIT,0,0
952684,952684,2019-09-12 15:28,2019-09-12,109,KOCE0001,8633,1,20190912109KOCE000186321,TRANSACTIONAL ACCOUNT-CA,2000083860,31719,120888,3875431,2.54726E+11,SAMWEL KIBET A. RONO ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254726295959,0,0
952685,952685,2019-04-06 13:38,2019-04-06,300,10010003,31,1,2.01904E+21,TRANSACTIONAL ACCOUNT-CA,7190018843,31719,186275,20270871,,MWATELA NYAMAWI BATI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,500.0,35.0,ATM DEBIT,0,0
952686,952686,2019-03-07 14:25,2019-03-07,500,10010004,19,1,2.01903E+21,TRANSACTIONAL ACCOUNT-CA,2000007846,31719,10406,153811,2.54722E+11,CHOME JEMIMA WASAI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,8000.0,35.0,ATM DEBIT,0,0
952687,952687,2019-01-08 23:27,2019-01-09,109,KOCE0001,68,1,20190109109KOCE0001671,VIRTUAL ACCOUNT MOBILE,3840183201,31572,384018,26013401,2.54713E+11,MOSES MATHERI ...,32099,ACCOUNT TO MPESA(B2C),6400.0,60.0,SEND TO MPESA 254712953661,0,0
952688,952688,2019-08-31 17:31,2019-08-31,300,999C7468,688,1,20190831300999C74686871,CURRENT ACCOUNT CORPORATE,2043843201,31704,204384,CPR/2014/160641,2.54703E+11,NAIM & SONS LOGISTICS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952689,952689,2019-09-20 18:15,2019-09-20,109,KOCE0001,11347,1,20190920109KOCE0001113461,VIRTUAL ACCOUNT MOBILE,5767723201,31572,576772,10503614,2.54705E+11,JOHN MUHU ...,32098,AIRTIME PURCHASE( MOBILE APP),250.0,5.0,BUY AIRTIME FOR AIRTSAF 254705160090,0,0
952690,952690,2019-03-13 19:21,2019-03-13,109,KOCE0002,11054,1,20190313109KOCE0002110531,VIRTUAL ACCOUNT MOBILE,3416903201,31572,341690,21714153,2.54722E+11,JOYCE KARISA ...,32099,ACCOUNT TO MPESA(B2C),15000.0,60.0,SEND TO MPESA 254721552655,0,0
952691,952691,2019-02-02 07:14,2019-02-02,109,KOCE0003,259,1,20190202109KOCE00032581,MICRO BIZ ACCOUNT,1535323201,31511,153532,22901757,2.54725E+11,ANTONY MWANGI NGA'NG'A ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,1200.0,30.0,NB24KKNSYO-254724547166 MPESA TO ACC,0,0
952692,952692,2019-01-30 18:43,2019-01-30,109,KOCE0006,640,1,20190130109KOCE00066391,VIRTUAL ACCOUNT MOBILE,2803413201,31572,280341,25243225,2.54727E+11,BENJAMIN ONDEKO ...,32099,ACCOUNT TO MPESA(B2C),1652.0,40.0,SEND TO MPESA 254727079547,0,0
952693,952693,2019-04-09 14:55,2019-04-09,109,KOCE0001,18443,1,20190409109KOCE0001184421,CURRENT ACCOUNT CORPORATE,7040000221,31704,40847,C5/2808,,NYUMBA SACCO LTD ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,9000.0,30.0,ND964AM21M-254723438713 MPESATOACC,0,0
952694,952694,2019-02-28 20:16,2019-02-28,280,999C7468,1733,1,20190228280999C746817321,PERSONAL CURRENT ACCOUNT-UNBUN,7180003842,31718,183430,2042607,2.54723E+11,STANLEY THEURI MACHIRA ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952695,952695,2019-02-21 10:53,2019-02-21,109,KOCE0002,3552,1,20190221109KOCE000235511,VIRTUAL ACCOUNT MOBILE,5497973201,31572,549797,21976214,2.54724E+11,MICHAEL KANAI ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254724458938,0,0
952696,952696,2019-02-04 14:55,2019-02-04,109,KOCE0004,2412,1,20190204109KOCE000424111,VIRTUAL ACCOUNT MOBILE,6495203201,31572,649520,29448795,2.547E+11,FAITH MUSHILA ...,32099,ACCOUNT TO MPESA(B2C),1420.0,33.0,SEND TO MPESA 254727204616,0,0
952697,952697,2019-10-01 09:33,2019-10-01,109,KOCE0001,4674,1,20191001109KOCE000146731,MICRO BIZ ACCOUNT,3203633201,31511,320363,31278113,2.54701E+11,BEATRICE WALUGU ...,32099,ACCOUNT TO MPESA(B2C),530.0,30.0,SEND TO MPESA 254701420781,0,0
952698,952698,2019-08-26 10:47,2019-08-26,109,KOCE0001,15138,1,20190826109KOCE0001151371,TRANSACTIONAL ACCOUNT-CA,7190005556,31719,149926,21844516,2.54721E+11,JAMES MBARAKA OICHOE ...,32099,ACCOUNT TO MPESA(B2C),400.0,23.0,SEND TO MPESA 254725337591,0,0
952699,952699,2019-03-06 12:47,2019-03-06,109,KOCE0001,10323,1,20190306109KOCE0001103221,VIRTUAL ACCOUNT MOBILE,7203213201,31572,720321,30267031,2.54727E+11,GERALD WAMBUGU ...,32099,ACCOUNT TO MPESA(B2C),50.0,23.0,SEND TO MPESA 254726670288,0,0
952700,952700,2019-07-13 13:23,2019-07-13,109,KOCE0001,8214,1,20190713109KOCE000182131,TRANSACTIONAL ACCOUNT-CA,2000022117,31719,20901,996493,2.54716E+11,PHILIP KANGETHE BURUGU ...,32099,ACCOUNT TO MPESA(B2C),7000.0,60.0,SEND TO MPESA 254716271206,0,0
952701,952701,2019-04-19 22:11,2019-04-20,109,KOCE0001,23354,1,20190420109KOCE0001233531,VIRTUAL ACCOUNT MOBILE,4230213201,31572,423021,8352214,2.54711E+11,JOSEPHAT MBITHUKA ...,32099,ACCOUNT TO MPESA(B2C),10700.0,60.0,SEND TO MPESA 254711382030,0,0
952702,952702,2019-01-31 21:26,2019-01-31,200,999C7466,679,1,20190131200999C74666781,CURRENT ACCOUNT CORPORATE,7040000294,31704,135606,CPR/2012/71400,,HIGHLANDS FOODS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952703,952703,2019-07-21 18:35,2019-07-22,109,KOCE0001,10384,1,20190722109KOCE0001103831,VIRTUAL ACCOUNT MOBILE,9131563201,31572,913156,26415413,2.54798E+11,BENJAMIN KIMANI ...,32099,ACCOUNT TO MPESA(B2C),50.0,23.0,SEND TO MPESA 254717007527,0,0
952704,952704,2019-08-31 07:33,2019-08-31,100,ATMUSER,97,1,20190831100ATMUSER961,TRANSACTIONAL ACCOUNT-CA,2000006373,31719,8268,3462293,2.54736E+11,JIM MINAI AND OR MARGARET ATIENO OMOLLO ...,33007,ATM WITHDR OFFUS KENSWITCH,3048.0,75.0,ATM DEBIT,0,0
952705,952705,2019-05-14 18:16,2019-05-14,109,KOCE0001,16975,1,20190514109KOCE0001169741,VIRTUAL ACCOUNT MOBILE,3957413201,31572,395741,30150623,2.54723E+11,ALFRED ISOLIO ...,32099,ACCOUNT TO MPESA(B2C),900.0,30.0,SEND TO MPESA 254722920294,0,0
952706,952706,2019-08-14 12:04,2019-08-14,600,LAA1859,71,1,20190814600LAA1859701,TRANSACTIONAL ACCOUNT-CA,2000048198,31719,67896,921094,2.54734E+11,NAAMAN OUMA OBONGO ...,31615,OTC CASH WITHDRAWAL,15000.0,100.0,,0,0
952707,952707,2019-06-02 17:14,2019-06-03,109,KOCE0001,28387,1,20190603109KOCE0001283861,PERSONAL CURRENT ACCOUNT-UNBUN,7180003267,31718,174015,22304202,2.54721E+11,SARAH NJERI NYAMBURA ...,32099,ACCOUNT TO MPESA(B2C),4000.0,60.0,SEND TO MPESA 254713933220,0,0
952708,952708,2019-09-29 16:36,2019-09-30,109,KOCE0001,8461,1,20190930109KOCE000184601,MICRO BIZ ACCOUNT,2973343201,31511,297334,30623197,2.5471E+11,FREDRICK OUMA ...,32098,AIRTIME PURCHASE( MOBILE APP),100.0,5.0,BUY AIRTIME FOR AIRTSAF 254710129143,0,0
952709,952709,2019-10-20 21:47,2019-10-22,109,KOCE0001,8820,1,20191022109KOCE000188191,MICRO BIZ ACCOUNT,1488443202,31511,148844,24766517,2.54721E+11,KEVIN ODHIAMBO PANDE ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254720775143,0,0
952710,952710,2019-10-25 07:25,2019-10-25,109,KOCE0001,2703,1,20191025109KOCE000127021,VIRTUAL ACCOUNT MOBILE,4878013201,31572,487801,25240979,2.54741E+11,RODA OBONYO ...,32099,ACCOUNT TO MPESA(B2C),250.0,23.0,SEND TO MPESA 254740791750,0,0

In [5]:
df1 = trxns_data_trx_4
df1

,Unnamed: 0,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,ID_PRODUCT,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,0,2019-11-07 08:42,2019-11-07,17,WML2084,4,1,2019110717WML208431,HFC SALARY ACCOUNT,2301083201,31501,230108,6431666,2.54716E+11,PETER IRUNGU KAMAU ...,31615,OTC CASH WITHDRAWAL,8550.0,100.0,,0,0
1,1,2019-03-06 15:01,2019-03-06,20,OMN1986,112,1,2019030620OMN19861111,HFC SALARY ACCOUNT,6648883201,31501,664888,21991533,2.54729E+11,CATHERINE WANGARE NJUGUNA ...,31615,OTC CASH WITHDRAWAL,9700.0,100.0,,0,0
2,2,2019-04-05 21:27,2019-04-06,109,KOCE0003,314,1,20190406109KOCE00033131,VIRTUAL ACCOUNT MOBILE,6686233201,31572,668623,21257746,2.54713E+11,CATHERINE SAANI ...,32099,ACCOUNT TO MPESA(B2C),2650.0,54.0,SEND TO MPESA 254712943509,0,0
3,3,2019-10-22 12:32,2019-10-22,19,PWK1613,75,1,2019102219PWK1613741,TRANSACTIONAL ACCOUNT-CA,2000000323,31719,857,10899859,2.54722E+11,CATHERINE GAKII KIBITI ...,31615,OTC CASH WITHDRAWAL,20000.0,100.0,,0,0
4,4,2019-05-30 17:38,2019-05-30,109,KOCE0002,4191,1,20190530109KOCE000241901,YOLO ACCOUNT,6400643201,31521,640064,36674185,2.54725E+11,OLIVER KIBET CHEREN ...,32099,ACCOUNT TO MPESA(B2C),300.0,23.0,SEND TO MPESA 254724672405,0,0
5,5,2019-09-08 18:33,2019-09-09,109,KOCE0001,4571,1,20190909109KOCE000145701,TRANSACTIONAL ACCOUNT-CA,7190010573,31719,8809,8925590,2.54734E+11,JAMES WILSON OMOLO JAGUGA ...,32099,ACCOUNT TO MPESA(B2C),1000.0,30.0,SEND TO MPESA 254725335540,0,0
6,6,2019-10-08 20:44,2019-10-09,109,KOCE0003,26,1,20191009109KOCE0003251,PERSONAL CURRENT ACCOUNT-UNBUN,2227773201,31718,222777,34083225,2.54729E+11,MICHELLE MWARANTA G GICHUHI ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254729419006,0,0
7,7,2019-07-26 09:59,2019-07-26,280,GNG2042,5,1,20190726280GNG204241,TRANSACTIONAL ACCOUNT-CA,1954703201,31719,195470,1901824,2.54721E+11,PROF. PETER MACHATHA GITU ...,31615,OTC CASH WITHDRAWAL,50000.0,100.0,,0,0
8,8,2019-05-04 06:14,2019-05-04,230,10010002,3,1,2.01905E+20,HFC SALARY ACCOUNT,1474223203,31501,147422,22403150,2.54716E+11,JUSTUS OYARO ORAYO ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,5000.0,35.0,ATM DEBIT,0,0
9,9,2019-03-20 09:43,2019-03-20,109,KOCE0001,10905,1,20190320109KOCE0001109041,VIRTUAL ACCOUNT MOBILE,6006563201,31572,600656,34758978,2.54742E+11,BENJAMIN MUKANDA ...,32099,ACCOUNT TO MPESA(B2C),450.0,23.0,SEND TO MPESA 254741635119,0,0
10,10,2019-03-24 16:38,2019-03-25,109,KOCE0001,22846,1,20190325109KOCE0001228451,VIRTUAL ACCOUNT MOBILE,7014423201,31572,701442,25545230,2.54727E+11,SARAH KABURI ...,32099,ACCOUNT TO MPESA(B2C),850.0,30.0,SEND TO MPESA 254727256638,0,0
11,11,2019-04-05 11:55,2019-04-05,109,KOCE0001,13656,1,20190405109KOCE0001136551,MICRO BIZ ACCOUNT,1379623201,31511,137962,29313945,2.54711E+11,JEFF CHEMAGERI ARISI ...,32099,ACCOUNT TO MPESA(B2C),15000.0,60.0,SEND TO MPESA 254711394352,0,0
12,12,2019-05-13 09:48,2019-05-13,109,KOCE0002,5183,1,20190513109KOCE000251821,VIRTUAL ACCOUNT MOBILE,6857823201,31572,685782,21957898,2.54721E+11,JAPHAN ONG'ANG'A ...,32099,ACCOUNT TO MPESA(B2C),470.0,23.0,SEND TO MPESA 254721345893,0,0
13,13,2019-08-28 22:20,2019-08-29,109,KOCE0001,1479,1,20190829109KOCE000114781,VIRTUAL ACCOUNT MOBILE,6972903201,31572,697290,32825322,2.54705E+11,WINNIE OKUMU ...,32099,ACCOUNT TO MPESA(B2C),100.0,23.0,SEND TO MPESA 254705075075,0,0
14,14,2019-07-10 00:54,2019-07-10,109,KOCE0001,2243,1,20190710109KOCE000122421,VIRTUAL ACCOUNT MOBILE,6483083201,31572,648308,14728285,2.54725E+11,MICHAEL WANJALAH ...,32099,ACCOUNT TO MPESA(B2C),30000.0,60.0,SEND TO MPESA 254725410189,0,0
15,15,2019-07-12 22:30,2019-07-13,109,KOCE0001,1488,1,20190713109KOCE000114871,HFC SALARY ACCOUNT,2152153201,31501,215215,24467903,2.54724E+11,HELLEN RAEL ATIENO OWIRA ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254724372370,0,0
16,16,2019-01-22 21:20,2019-01-23,109,KOCE0001,273,1,20190123109KOCE00012721,VIRTUAL ACCOUNT MOBILE,2620393201,31572,262039,26881464,2.54711E+11,PAUL KONAH ...,32099,ACCOUNT TO MPESA(B2C),20.0,23.0,SEND TO MPESA 254710898142,0,0
17,17,2019-04-25 11:14,2019-04-25,109,KOCE0003,1225,1,20190425109KOCE000312241,YOLO ACCOUNT,8612933201,31521,861293,29720297,2.54711E+11,ELIUD KIPKORIR YANO ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,7500.0,30.0,NDP1H3XMKV-254711415633 MPESA TO ACC,0,0
18,18,2019-05-04 13:06,2019-05-04,19,CWC1539,99,5,2019050419CWC1539985,HFC SALARY ACCOUNT,2180943201,31501,218094,13347256,2.54706E+11,JULIUS LUTOMIA LUTTAH ...,31634,SALARY POSTINGS WITH COMMISSION,25000.0,150.0,STAFF SALARY 2019,0,0
19,19,2019-09-27 07:08,2019-09-27,109,KOCE0001,2424,1,20190927109KOCE000124231,MICRO BIZ ACCOUNT,1545073202,31511,154507,13235347,2.54725E+11,CHRISTOPHER BILL NYAMWARE AWITI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,30.0,SEND TO MPESA 254729716448,0,0
20,20,2019-06-22 20:21,2019-06-24,230,10010002,6,1,2.01906E+20,YOLO ACCOUNT,2004563201,31521,200456,22872637,2.54722E+11,ALEX MUNYASYA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,1000.0,35.0,ATM DEBIT,0,0
21,21,2019-02-24 14:14,2019-02-25,109,KOCE0002,3838,1,20190225109KOCE000238371,VIRTUAL ACCOUNT MOBILE,7151533201,31572,715153,30258456,2.54718E+11,SIMON MUGOSI ...,32099,ACCOUNT TO MPESA(B2C),100.0,23.0,SEND TO MPESA 254718128945,0,0
22,22,2019-10-26 13:32,2019-10-26,109,KOCE0001,8739,1,20191026109KOCE000187381,VIRTUAL ACCOUNT MOBILE,6015423201,31572,601542,7728463,2.54711E+11,GRACE NDEGE ...,32098,AIRTIME PURCHASE( MOBILE APP),140.0,5.0,BUY AIRTIME FOR AIRTSAF 254710887607,0,0
23,23,2019-06-14 18:29,2019-06-14,200,10010014,29,1,2.01906E+21,LENGO ACCOUNT,1936173101,31103,193617,25217231,2.54723E+11,EVANS KIPRONO CHERUIYOT ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.0,35.0,ATM DEBIT,0,0
24,24,2019-02-26 17:26,2019-02-26,109,KOCE0001,21792,1,20190226109KOCE0001217911,VIRTUAL ACCOUNT MOBILE,5420593201,31572,542059,27382381,2.54709E+11,MURITHI MUTEGI ...,32099,ACCOUNT TO MPESA(B2C),13800.0,60.0,SEND TO MPESA 254708526724,0,0
25,25,2019-07-03 10:49,2019-07-03,100,ENM1227,51,1,20190703100ENM1227501,TRANSACTIONAL ACCOUNT-CA,7190017495,31719,182957,30839624,2.54701E+11,ERIC KIMANTHI MATI ...,31634,SALARY POSTINGS WITH COMMISSION,6950.0,150.0,ERIC KIMANTHI MATI,0,0
26,26,2019-03-05 20:04,2019-03-05,109,KOCE0002,13686,1,20190305109KOCE0002136851,MICRO BIZ ACCOUNT,2151233201,31511,215123,25131164,2.54712E+11,ROBERT KIHORO MAINA ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,13000.0,30.0,NC57AYB42L-254712383477 MPESA TO ACC,0,0
27,27,2019-06-15 13:56,2019-06-15,109,KOCE0001,10129,1,20190615109KOCE0001101281,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),2027.0,22.0,SEND TO MPESA 254714714383,0,0
28,28,2019-02-28 20:17,2019-02-28,600,999C7468,1888,1,20190228600999C746818871,PERSONAL CURRENT ACCOUNT-UNBUN,7180004008,31718,187554,20080277,,SAMUEL NYANGATE ATEYA ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
29,29,2019-04-09 17:15,2019-04-09,109,KOCE0001,22952,1,20190409109KOCE0001229511,TRANSACTIONAL ACCOUNT-CA,2000010006,31719,14210,3357635,2.54723E+11,JAMES CHARLES KINYUA ...,32096,BUY GOOD( MOBILE APP),4000.0,35.0,MPESA B2B PAY TILL 696339,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952681,952681,2019-03-26 07:31,2019-03-26,109,KOCE0001,6542,1,20190326109KOCE000165411,VIRTUAL ACCOUNT MOBILE,6603043201,31572,660304,25008891,2.54703E+11,NASON KIOKO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,54.0,SEND TO MPESA 254703171276,0,0
952682,952682,2019-01-30 16:45,2019-01-30,109,KOCE0003,5541,1,20190130109KOCE000355401,PERSONAL CURRENT ACCOUNT-UNBUN,7180003195,31718,172971,24550530,2.54727E+11,JACK OTIENO AYIEKO ...,32099,ACCOUNT TO MPESA(B2C),40000.0,60.0,SEND TO MPESA 254726841254,0,0
952683,952683,2019-05-04 15:08,2019-05-04,100,ATMUSER,235,1,20190504100ATMUSER2341,MICRO BIZ ACCOUNT,2280343201,31511,228034,25954452,2.5472E+11,ISAIAH BURETI ...,33008,ATM WITHDR OFFUS MASTERCARD,2000.0,250.0,ATM DEBIT,0,0
952684,952684,2019-09-12 15:28,2019-09-12,109,KOCE0001,8633,1,20190912109KOCE000186321,TRANSACTIONAL ACCOUNT-CA,2000083860,31719,120888,3875431,2.54726E+11,SAMWEL KIBET A. RONO ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254726295959,0,0
952685,952685,2019-04-06 13:38,2019-04-06,300,10010003,31,1,2.01904E+21,TRANSACTIONAL ACCOUNT-CA,7190018843,31719,186275,20270871,,MWATELA NYAMAWI BATI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,500.0,35.0,ATM DEBIT,0,0
952686,952686,2019-03-07 14:25,2019-03-07,500,10010004,19,1,2.01903E+21,TRANSACTIONAL ACCOUNT-CA,2000007846,31719,10406,153811,2.54722E+11,CHOME JEMIMA WASAI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,8000.0,35.0,ATM DEBIT,0,0
952687,952687,2019-01-08 23:27,2019-01-09,109,KOCE0001,68,1,20190109109KOCE0001671,VIRTUAL ACCOUNT MOBILE,3840183201,31572,384018,26013401,2.54713E+11,MOSES MATHERI ...,32099,ACCOUNT TO MPESA(B2C),6400.0,60.0,SEND TO MPESA 254712953661,0,0
952688,952688,2019-08-31 17:31,2019-08-31,300,999C7468,688,1,20190831300999C74686871,CURRENT ACCOUNT CORPORATE,2043843201,31704,204384,CPR/2014/160641,2.54703E+11,NAIM & SONS LOGISTICS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952689,952689,2019-09-20 18:15,2019-09-20,109,KOCE0001,11347,1,20190920109KOCE0001113461,VIRTUAL ACCOUNT MOBILE,5767723201,31572,576772,10503614,2.54705E+11,JOHN MUHU ...,32098,AIRTIME PURCHASE( MOBILE APP),250.0,5.0,BUY AIRTIME FOR AIRTSAF 254705160090,0,0
952690,952690,2019-03-13 19:21,2019-03-13,109,KOCE0002,11054,1,20190313109KOCE0002110531,VIRTUAL ACCOUNT MOBILE,3416903201,31572,341690,21714153,2.54722E+11,JOYCE KARISA ...,32099,ACCOUNT TO MPESA(B2C),15000.0,60.0,SEND TO MPESA 254721552655,0,0
952691,952691,2019-02-02 07:14,2019-02-02,109,KOCE0003,259,1,20190202109KOCE00032581,MICRO BIZ ACCOUNT,1535323201,31511,153532,22901757,2.54725E+11,ANTONY MWANGI NGA'NG'A ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,1200.0,30.0,NB24KKNSYO-254724547166 MPESA TO ACC,0,0
952692,952692,2019-01-30 18:43,2019-01-30,109,KOCE0006,640,1,20190130109KOCE00066391,VIRTUAL ACCOUNT MOBILE,2803413201,31572,280341,25243225,2.54727E+11,BENJAMIN ONDEKO ...,32099,ACCOUNT TO MPESA(B2C),1652.0,40.0,SEND TO MPESA 254727079547,0,0
952693,952693,2019-04-09 14:55,2019-04-09,109,KOCE0001,18443,1,20190409109KOCE0001184421,CURRENT ACCOUNT CORPORATE,7040000221,31704,40847,C5/2808,,NYUMBA SACCO LTD ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,9000.0,30.0,ND964AM21M-254723438713 MPESATOACC,0,0
952694,952694,2019-02-28 20:16,2019-02-28,280,999C7468,1733,1,20190228280999C746817321,PERSONAL CURRENT ACCOUNT-UNBUN,7180003842,31718,183430,2042607,2.54723E+11,STANLEY THEURI MACHIRA ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952695,952695,2019-02-21 10:53,2019-02-21,109,KOCE0002,3552,1,20190221109KOCE000235511,VIRTUAL ACCOUNT MOBILE,5497973201,31572,549797,21976214,2.54724E+11,MICHAEL KANAI ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254724458938,0,0
952696,952696,2019-02-04 14:55,2019-02-04,109,KOCE0004,2412,1,20190204109KOCE000424111,VIRTUAL ACCOUNT MOBILE,6495203201,31572,649520,29448795,2.547E+11,FAITH MUSHILA ...,32099,ACCOUNT TO MPESA(B2C),1420.0,33.0,SEND TO MPESA 254727204616,0,0
952697,952697,2019-10-01 09:33,2019-10-01,109,KOCE0001,4674,1,20191001109KOCE000146731,MICRO BIZ ACCOUNT,3203633201,31511,320363,31278113,2.54701E+11,BEATRICE WALUGU ...,32099,ACCOUNT TO MPESA(B2C),530.0,30.0,SEND TO MPESA 254701420781,0,0
952698,952698,2019-08-26 10:47,2019-08-26,109,KOCE0001,15138,1,20190826109KOCE0001151371,TRANSACTIONAL ACCOUNT-CA,7190005556,31719,149926,21844516,2.54721E+11,JAMES MBARAKA OICHOE ...,32099,ACCOUNT TO MPESA(B2C),400.0,23.0,SEND TO MPESA 254725337591,0,0
952699,952699,2019-03-06 12:47,2019-03-06,109,KOCE0001,10323,1,20190306109KOCE0001103221,VIRTUAL ACCOUNT MOBILE,7203213201,31572,720321,30267031,2.54727E+11,GERALD WAMBUGU ...,32099,ACCOUNT TO MPESA(B2C),50.0,23.0,SEND TO MPESA 254726670288,0,0
952700,952700,2019-07-13 13:23,2019-07-13,109,KOCE0001,8214,1,20190713109KOCE000182131,TRANSACTIONAL ACCOUNT-CA,2000022117,31719,20901,996493,2.54716E+11,PHILIP KANGETHE BURUGU ...,32099,ACCOUNT TO MPESA(B2C),7000.0,60.0,SEND TO MPESA 254716271206,0,0
952701,952701,2019-04-19 22:11,2019-04-20,109,KOCE0001,23354,1,20190420109KOCE0001233531,VIRTUAL ACCOUNT MOBILE,4230213201,31572,423021,8352214,2.54711E+11,JOSEPHAT MBITHUKA ...,32099,ACCOUNT TO MPESA(B2C),10700.0,60.0,SEND TO MPESA 254711382030,0,0
952702,952702,2019-01-31 21:26,2019-01-31,200,999C7466,679,1,20190131200999C74666781,CURRENT ACCOUNT CORPORATE,7040000294,31704,135606,CPR/2012/71400,,HIGHLANDS FOODS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.0,300.0,,0,0
952703,952703,2019-07-21 18:35,2019-07-22,109,KOCE0001,10384,1,20190722109KOCE0001103831,VIRTUAL ACCOUNT MOBILE,9131563201,31572,913156,26415413,2.54798E+11,BENJAMIN KIMANI ...,32099,ACCOUNT TO MPESA(B2C),50.0,23.0,SEND TO MPESA 254717007527,0,0
952704,952704,2019-08-31 07:33,2019-08-31,100,ATMUSER,97,1,20190831100ATMUSER961,TRANSACTIONAL ACCOUNT-CA,2000006373,31719,8268,3462293,2.54736E+11,JIM MINAI AND OR MARGARET ATIENO OMOLLO ...,33007,ATM WITHDR OFFUS KENSWITCH,3048.0,75.0,ATM DEBIT,0,0
952705,952705,2019-05-14 18:16,2019-05-14,109,KOCE0001,16975,1,20190514109KOCE0001169741,VIRTUAL ACCOUNT MOBILE,3957413201,31572,395741,30150623,2.54723E+11,ALFRED ISOLIO ...,32099,ACCOUNT TO MPESA(B2C),900.0,30.0,SEND TO MPESA 254722920294,0,0
952706,952706,2019-08-14 12:04,2019-08-14,600,LAA1859,71,1,20190814600LAA1859701,TRANSACTIONAL ACCOUNT-CA,2000048198,31719,67896,921094,2.54734E+11,NAAMAN OUMA OBONGO ...,31615,OTC CASH WITHDRAWAL,15000.0,100.0,,0,0
952707,952707,2019-06-02 17:14,2019-06-03,109,KOCE0001,28387,1,20190603109KOCE0001283861,PERSONAL CURRENT ACCOUNT-UNBUN,7180003267,31718,174015,22304202,2.54721E+11,SARAH NJERI NYAMBURA ...,32099,ACCOUNT TO MPESA(B2C),4000.0,60.0,SEND TO MPESA 254713933220,0,0
952708,952708,2019-09-29 16:36,2019-09-30,109,KOCE0001,8461,1,20190930109KOCE000184601,MICRO BIZ ACCOUNT,2973343201,31511,297334,30623197,2.5471E+11,FREDRICK OUMA ...,32098,AIRTIME PURCHASE( MOBILE APP),100.0,5.0,BUY AIRTIME FOR AIRTSAF 254710129143,0,0
952709,952709,2019-10-20 21:47,2019-10-22,109,KOCE0001,8820,1,20191022109KOCE000188191,MICRO BIZ ACCOUNT,1488443202,31511,148844,24766517,2.54721E+11,KEVIN ODHIAMBO PANDE ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254720775143,0,0
952710,952710,2019-10-25 07:25,2019-10-25,109,KOCE0001,2703,1,20191025109KOCE000127021,VIRTUAL ACCOUNT MOBILE,4878013201,31572,487801,25240979,2.54741E+11,RODA OBONYO ...,32099,ACCOUNT TO MPESA(B2C),250.0,23.0,SEND TO MPESA 254740791750,0,0

In [6]:
df1.ACCOUNT_NUMBER = df1.ACCOUNT_NUMBER.astype('int64')

In [7]:
account_100 = df1.query('ACCOUNT_NUMBER == "9340593201"')
account_100

,Unnamed: 0,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,ID_PRODUCT,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
10627,10627,2019-07-14 10:20,2019-07-15,109,KOCE0001,4830,1,20190715109KOCE000148291,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254700294591,0,0
20760,20760,2019-07-22 09:09,2019-07-22,109,KOCE0001,14356,1,20190722109KOCE0001143551,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),2000.0,40.0,SEND TO MPESA 254700294591,0,0
33109,33109,2019-08-01 00:44,2019-08-01,109,KOCE0001,973,1,20190801109KOCE00019721,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),25000.0,60.0,SEND TO MPESA 254720211892,0,0
146760,146760,2019-07-30 16:00,2019-07-30,109,KOCE0001,11040,1,20190730109KOCE0001110391,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),20000.0,60.0,SEND TO MPESA 254722141284,0,0
254437,254437,2019-07-07 11:41,2019-07-08,109,KOCE0001,5977,1,20190708109KOCE000159761,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),5000.0,60.0,SEND TO MPESA 254700294591,0,0
264489,264489,2019-07-27 11:35,2019-07-27,109,KOCE0001,7061,1,20190727109KOCE000170601,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),61800.0,60.0,SEND TO MPESA 254722141284,0,0
358030,358030,2019-08-01 07:33,2019-08-01,109,KOCE0001,2171,1,20190801109KOCE000121701,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),23000.0,60.0,SEND TO MPESA 254722141284,0,0
360537,360537,2019-07-15 19:25,2019-07-15,109,KOCE0001,23935,1,20190715109KOCE0001239341,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254700294591,0,0
385565,385565,2019-08-25 14:00,2019-08-26,109,KOCE0001,7274,1,20190826109KOCE000172731,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),51000.0,22.0,SEND TO MPESA 254722141284,0,0
472698,472698,2019-07-30 11:31,2019-07-30,109,KOCE0001,6426,1,20190730109KOCE000164251,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),5000.0,60.0,SEND TO MPESA 254722141284,0,0
491680,491680,2019-07-22 08:22,2019-07-22,109,KOCE0001,13896,1,20190722109KOCE0001138951,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),3000.0,54.0,SEND TO MPESA 254700294591,0,0
511853,511853,2019-08-17 17:24,2019-08-17,109,KOCE0001,10258,1,20190817109KOCE0001102571,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),4200.0,22.0,SEND TO MPESA 254720211892,0,0
517081,517081,2019-07-28 12:42,2019-07-29,109,KOCE0001,853,1,20190729109KOCE00018521,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),10000.0,60.0,SEND TO MPESA 254722141284,0,0
561278,561278,2019-08-25 16:09,2019-08-26,109,KOCE0001,8628,1,20190826109KOCE000186271,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),480.0,15.0,SEND TO MPESA 254723875616,0,0
614122,614122,2019-08-24 13:59,2019-08-24,109,KOCE0001,8359,1,20190824109KOCE000183581,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),20000.0,22.0,SEND TO MPESA 254722141284,0,0
615928,615928,2019-08-09 09:07,2019-08-09,109,KOCE0001,4566,1,20190809109KOCE000145651,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),2700.0,22.0,SEND TO MPESA 254722141284,0,0
667016,667016,2019-08-23 12:25,2019-08-23,109,KOCE0002,862,1,20190823109KOCE00028611,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),70000.0,22.0,SEND TO MPESA 254722141284,0,0
673027,673027,2019-08-26 20:17,2019-08-27,109,KOCE0001,182,1,20190827109KOCE00011811,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),65000.0,22.0,SEND TO MPESA 254722141284,0,0
678750,678750,2019-08-17 19:19,2019-08-17,109,KOCE0001,11500,1,20190817109KOCE0001114991,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),700.0,15.0,SEND TO MPESA 254722141284,0,0
685062,685062,2019-07-15 19:24,2019-07-15,109,KOCE0002,4688,1,20190715109KOCE000246871,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),5000.0,60.0,SEND TO MPESA 254720211892,0,0
730136,730136,2019-08-14 19:12,2019-08-14,109,KOCE0001,13414,1,20190814109KOCE0001134131,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),13000.0,22.0,SEND TO MPESA 254722141284,0,0
775896,775896,2019-08-27 08:42,2019-08-27,109,KOCE0001,3780,1,20190827109KOCE000137791,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),70000.0,22.0,SEND TO MPESA 254720211892,0,0
811658,811658,2019-08-23 12:34,2019-08-23,109,KOCE0001,6294,1,20190823109KOCE000162931,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254722141284,0,0
843208,843208,2019-08-28 09:21,2019-08-28,109,KOCE0001,3608,1,20190828109KOCE000136071,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254722141284,0,0
858212,858212,2019-07-08 22:02,2019-07-09,109,KOCE0001,1832,1,20190709109KOCE000118311,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),30100.0,60.0,SEND TO MPESA 254720211892,0,0
880164,880164,2019-07-27 20:25,2019-07-27,109,KOCE0001,15023,1,20190727109KOCE0001150221,VIRTUAL ACCOUNT MOBILE,9340593201,31572,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),20000.0,60.0,SEND TO MPESA 254722141284,0,0
937685,937685,2019-08-23 18:18,2019-08-23,109,KOCE0001,11788,1,20190823109KOCE0001117871,CURRENT ACCOUNT STAFF,9340593201,31705,934059,22844723,2.54722E+11,OKERO JOHN NATHAN ...,32099,ACCOUNT TO MPESA(B2C),20000.0,22.0,SEND TO MPESA 254722141284,0,0

In [8]:
#column names and type
df1.dtypes.to_list

<bound method Series.tolist of Unnamed: 0               int64
TMSTAMP                 object
TRX_DATE                object
TRX_UNIT                 int64
TRX_USR                 object
TRX_USR_SN               int64
TUN_INTERNAL_SN          int64
TRANSACTION_REF         object
PRODUCT_DESCRIPTION     object
ACCOUNT_NUMBER           int64
ID_PRODUCT               int64
FK_CUSTOMERCUST_ID       int64
NATIONAL_ID             object
MOBILE_TEL              object
ACCOUNT_NAME            object
I_ID_JUSTIFIC            int64
TRANSACTION_TYPE        object
TRANSACTION_AMOUNT     float64
COMMISSION             float64
TRX_COMMENTS            object
REVERSE_FLAG             int64
REVERSED_TRX_FLAG        int64
dtype: object>

In [12]:
df2 = df1.query('ID_PRODUCT == "31111"' or 'ID_PRODUCT == "31705"' or 'ID_PRODUCT == "31200"')
df2.sort_values(ascending=False,by='TMSTAMP')
df2

,Unnamed: 0,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,ID_PRODUCT,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
27,27,2019-06-15 13:56,2019-06-15,109,KOCE0001,10129,1,20190615109KOCE0001101281,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),2027.0,22.0,SEND TO MPESA 254714714383,0,0
102,102,2019-07-03 09:58,2019-07-03,109,KOCE0001,5954,1,20190703109KOCE000159531,STAFF SALARY ACCOUNT,2000033156,31111,38623,13224078,2.54729E+11,JAMES MUMINA MUENDO ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254720895962,0,0
105,105,2019-05-30 18:25,2019-05-30,109,KOCE0002,4491,1,20190530109KOCE000244901,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254711581765,0,0
122,122,2019-07-27 15:02,2019-07-27,109,KOCE0002,2029,1,20190727109KOCE000220281,STAFF SALARY ACCOUNT,2000115001,31111,188319,26130176,2.54729E+11,KIMWETICH KIPRUTO KELVIN ...,32099,ACCOUNT TO MPESA(B2C),2500.0,22.0,SEND TO MPESA 254728814964,0,0
180,180,2019-05-29 17:40,2019-05-29,109,KOCE0003,759,1,20190529109KOCE00037581,STAFF SALARY ACCOUNT,8000543101,31111,800054,25768523,2.5473E+11,EVANS OTIENO ONGODO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254729505957,0,0
197,197,2019-05-27 18:15,2019-05-27,109,KOCE0001,30325,1,20190527109KOCE0001303241,STAFF SALARY ACCOUNT,2000077866,31111,113304,23475860,2.54725E+11,SYLVESTER MUTUA KIVINDYO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254724811282,0,0
211,211,2019-07-30 13:20,2019-07-30,109,KOCE0001,8324,1,20190730109KOCE000183231,STAFF SALARY ACCOUNT,7201923201,31111,720192,22197290,2.54722E+11,ROSE MUTURI ...,32099,ACCOUNT TO MPESA(B2C),12500.0,22.0,SEND TO MPESA 0720000748,0,0
309,309,2019-05-11 20:11,2019-05-13,109,KOCE0003,50,1,20190513109KOCE0003491,STAFF SALARY ACCOUNT,2000033012,31111,41545,11606278,2.54722E+11,GEOFREY MWAURA NGARI ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254720982300,0,0
378,378,2019-06-28 00:25,2019-06-28,109,KOCE0001,2143,1,20190628109KOCE000121421,STAFF SALARY ACCOUNT,3095533101,31111,309553,23298892,2.54726E+11,PATRICIA KENDELI SALANO ...,32099,ACCOUNT TO MPESA(B2C),4500.0,22.0,SEND TO MPESA 254722279351,0,0
512,512,2019-07-05 21:51,2019-07-06,109,KOCE0002,397,1,20190706109KOCE00023961,STAFF SALARY ACCOUNT,9022143201,31111,902214,28846367,2.54715E+11,ALEX KASWII ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254714964847,0,0
832,832,2019-08-03 16:41,2019-08-03,109,KOCE0001,11301,1,20190803109KOCE0001113001,STAFF SALARY ACCOUNT,2000113083,31111,184835,21327029,2.54721E+11,JANE NJOKI NYAGA ...,32099,ACCOUNT TO MPESA(B2C),50000.0,22.0,SEND TO MPESA 254721452597,0,0
862,862,2019-08-30 08:01,2019-08-30,109,KOCE0001,3339,1,20190830109KOCE000133381,STAFF SALARY ACCOUNT,2000109702,31111,178026,28486112,2.54715E+11,GICHIA WAITHIRA SAMSON ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254721167042,0,0
875,875,2019-05-22 18:44,2019-05-22,109,KOCE0001,15737,1,20190522109KOCE0001157361,STAFF SALARY ACCOUNT,2000033012,31111,41545,11606278,2.54722E+11,GEOFREY MWAURA NGARI ...,32099,ACCOUNT TO MPESA(B2C),2700.0,22.0,SEND TO MPESA 254725417001,0,0
1035,1035,2019-07-30 13:37,2019-07-30,109,KOCE0001,8630,1,20190730109KOCE000186291,STAFF SALARY ACCOUNT,2796043201,31111,279604,27217056,2.54701E+11,EVA MUASYA ...,32099,ACCOUNT TO MPESA(B2C),5360.0,22.0,SEND TO MPESA 254701093348,0,0
1077,1077,2019-07-02 13:45,2019-07-02,109,KOCE0001,11554,1,20190702109KOCE0001115531,STAFF SALARY ACCOUNT,2329663101,31111,232966,11282125,2.547E+11,JAEL ACHIENG ONYANGO ...,32099,ACCOUNT TO MPESA(B2C),2700.0,22.0,SEND TO MPESA 254705007154,0,0
1124,1124,2019-08-07 18:35,2019-08-07,109,KOCE0001,14529,1,20190807109KOCE0001145281,STAFF SALARY ACCOUNT,2000110231,31111,179213,28516820,2.54716E+11,JEREMIAH ODIWUOR OKUMU ...,32099,ACCOUNT TO MPESA(B2C),210.0,15.0,SEND TO MPESA 254728226415,0,0
1307,1307,2019-08-28 10:02,2019-08-28,109,KOCE0002,550,1,20190828109KOCE00025491,STAFF SALARY ACCOUNT,8925853201,31111,892585,27673863,2.54721E+11,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),700.0,15.0,SEND TO MPESA 254722384027,0,0
1535,1535,2019-05-28 16:36,2019-05-28,109,KOCE0001,17070,1,20190528109KOCE0001170691,STAFF SALARY ACCOUNT,2000099556,31111,151325,25754235,2.54729E+11,NAOMI WAITHIRA KAGIRI ...,32099,ACCOUNT TO MPESA(B2C),10100.0,22.0,SEND TO MPESA 254724354799,0,0
1808,1808,2019-06-26 13:13,2019-06-26,109,KOCE0003,511,1,20190626109KOCE00035101,STAFF SALARY ACCOUNT,2000108130,31111,174576,28005370,2.54717E+11,DOROTHY ATIENO KANG'ANYA ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254720016407,0,0
1942,1942,2019-08-10 09:55,2019-08-10,109,KOCE0001,5061,1,20190810109KOCE000150601,STAFF SALARY ACCOUNT,2000104768,31111,166145,30161361,2.54718E+11,MORRIS KINYUA KABUBO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254718077429,0,0
2125,2125,2019-05-30 04:03,2019-05-30,109,KOCE0001,3528,1,20190530109KOCE000135271,STAFF SALARY ACCOUNT,2000046339,31111,67052,20131710,2.54724E+11,LINDA AQUINATOR ATIENO NYAMOR ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254791282748,0,0
2518,2518,2019-06-05 18:34,2019-06-06,109,KOCE0002,4084,1,20190606109KOCE000240831,STAFF SALARY ACCOUNT,2000104189,31111,164890,27905086,2.54727E+11,SILVANUS MWISO MASIKA ...,32099,ACCOUNT TO MPESA(B2C),300.0,15.0,SEND TO MPESA 254796699210,0,0
2553,2553,2019-06-22 15:05,2019-06-22,109,KOCE0002,1964,1,20190622109KOCE000219631,STAFF SALARY ACCOUNT,2000087025,31111,124971,27350776,2.54728E+11,MAUREEN ATIENO SULLE ...,32099,ACCOUNT TO MPESA(B2C),250.0,15.0,SEND TO MPESA 254729857611,0,0
2618,2618,2019-07-14 12:20,2019-07-15,109,KOCE0002,910,1,20190715109KOCE00029091,STAFF SALARY ACCOUNT,2000086217,31111,123963,24150080,2.54726E+11,THOMAS AQUAINAS KAMAU NJUGUNA ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254725501622,0,0
2683,2683,2019-06-02 18:19,2019-06-03,109,KOCE0002,5969,1,20190603109KOCE000259681,STAFF SALARY ACCOUNT,9013233201,31111,901323,29811090,2.54717E+11,SALLY KOROSS ...,32099,ACCOUNT TO MPESA(B2C),600.0,15.0,SEND TO MPESA 254716600011,0,0
2703,2703,2019-05-26 18:55,2019-05-27,109,KOCE0001,13810,1,20190527109KOCE0001138091,STAFF SALARY ACCOUNT,1987923101,31111,198792,29490494,2.54726E+11,CALEB LEBUNGE LEBOO ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254726489108,0,0
2718,2718,2019-06-15 12:01,2019-06-15,109,KOCE0001,8175,1,20190615109KOCE000181741,STAFF SALARY ACCOUNT,2000035592,31111,47322,9789396,2.5472E+11,STELLAH NIGHT OWAKI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254728150272,0,0
2867,2867,2019-07-01 21:44,2019-07-02,109,KOCE0001,1637,1,20190702109KOCE000116361,STAFF SALARY ACCOUNT,3095533101,31111,309553,23298892,2.54726E+11,PATRICIA KENDELI SALANO ...,32099,ACCOUNT TO MPESA(B2C),2430.0,22.0,SEND TO MPESA 254728977683,0,0
3023,3023,2019-08-23 20:16,2019-08-24,109,KOCE0001,205,1,20190824109KOCE00012041,STAFF SALARY ACCOUNT,2000116142,31111,190308,20069691,,WYCLIFE MWANGI KAMAU ...,32099,ACCOUNT TO MPESA(B2C),2000.0,22.0,SEND TO MPESA 254720880342,0,0
3116,3116,2019-06-14 15:53,2019-06-14,109,KOCE0001,12912,1,20190614109KOCE0001129111,STAFF SALARY ACCOUNT,2000098395,31111,146697,22302469,2.54714E+11,RASHID MAKOKHA INJAMU ...,32099,ACCOUNT TO MPESA(B2C),480.0,15.0,SEND TO MPESA 254723455844,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948983,948983,2019-05-16 09:07,2019-05-16,109,KOCE0002,1250,1,20190516109KOCE000212491,STAFF SALARY ACCOUNT,2000057531,31111,89183,14503552,2.5471E+11,JORAM NGIGE NDEGWA ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254710354925,0,0
949425,949425,2019-08-19 14:30,2019-08-19,109,KOCE0001,16387,1,20190819109KOCE0001163861,STAFF SALARY ACCOUNT,2885313201,31111,288531,31740409,2.54714E+11,PURITY KIMELI ...,32099,ACCOUNT TO MPESA(B2C),50.0,15.0,SEND TO MPESA 254713708608,0,0
949458,949458,2019-07-01 18:51,2019-07-01,109,KOCE0002,6391,1,20190701109KOCE000263901,STAFF SALARY ACCOUNT,2000110231,31111,179213,28516820,2.54716E+11,JEREMIAH ODIWUOR OKUMU ...,32099,ACCOUNT TO MPESA(B2C),630.0,15.0,SEND TO MPESA 254725700306,0,0
949557,949557,2019-05-15 11:45,2019-05-15,109,KOCE0001,8766,1,20190515109KOCE000187651,STAFF SALARY ACCOUNT,2000082459,31111,119036,24044269,2.54725E+11,ISAAC NJOROGE NGIGE ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254721291942,0,0
949619,949619,2019-06-29 13:04,2019-06-29,109,KOCE0001,9744,1,20190629109KOCE000197431,STAFF SALARY ACCOUNT,1637003102,31111,163700,26158355,2.54713E+11,RITAH ANNETE AKINYI ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254729486050,0,0
949624,949624,2019-08-03 12:05,2019-08-03,109,KOCE0001,7205,1,20190803109KOCE000172041,STAFF SALARY ACCOUNT,2000042996,31111,53453,20698390,2.54728E+11,ANTHONY OMBATI OCHARO ...,32099,ACCOUNT TO MPESA(B2C),1200.0,22.0,SEND TO MPESA 254721553905,0,0
949649,949649,2019-05-27 15:52,2019-05-27,109,KOCE0002,5926,1,20190527109KOCE000259251,STAFF SALARY ACCOUNT,8025403201,31111,802540,22555799,2.54723E+11,JERUSHA IGOMBO ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254704252845,0,0
949702,949702,2019-08-26 09:07,2019-08-26,109,KOCE0001,13705,1,20190826109KOCE0001137041,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254711581765,0,0
949847,949847,2019-07-08 17:00,2019-07-08,109,KOCE0001,24462,1,20190708109KOCE0001244611,STAFF SALARY ACCOUNT,2000087025,31111,124971,27350776,2.54728E+11,MAUREEN ATIENO SULLE ...,32099,ACCOUNT TO MPESA(B2C),2000.0,22.0,SEND TO MPESA 254707772583,0,0
950222,950222,2019-05-29 14:32,2019-05-29,109,KOCE0001,12756,1,20190529109KOCE0001127551,STAFF SALARY ACCOUNT,2000110544,31111,180091,28777239,,EMILY WANGARI KARANJA ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254725707448,0,0
950564,950564,2019-05-20 14:30,2019-05-20,109,KOCE0001,26496,1,20190520109KOCE0001264951,STAFF SALARY ACCOUNT,2000116142,31111,190308,20069691,,WYCLIFE MWANGI KAMAU ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254720880342,0,0
950841,950841,2019-08-14 22:53,2019-08-15,109,KOCE0001,1644,1,20190815109KOCE000116431,STAFF SALARY ACCOUNT,6637533201,31111,663753,33164255,2.54711E+11,SETH MUGAMBI ...,32099,ACCOUNT TO MPESA(B2C),359.0,15.0,SEND TO MPESA 254710811928,0,0
951045,951045,2019-07-28 17:30,2019-07-29,109,KOCE0001,4201,1,20190729109KOCE000142001,STAFF SALARY ACCOUNT,2000110544,31111,180091,28777239,,EMILY WANGARI KARANJA ...,32099,ACCOUNT TO MPESA(B2C),2200.0,22.0,SEND TO MPESA 254721650921,0,0
951072,951072,2019-06-09 19:29,2019-06-10,109,KOCE0002,2077,1,20190610109KOCE000220761,STAFF SALARY ACCOUNT,2000061953,31111,94031,22916777,2.54723E+11,BILLIET ANGELA KIKECH ...,32099,ACCOUNT TO MPESA(B2C),26500.0,22.0,SEND TO MPESA 254722586861,0,0
951078,951078,2019-07-05 18:09,2019-07-05,109,KOCE0003,879,1,20190705109KOCE00038781,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),330.0,15.0,SEND TO MPESA 254710868357,0,0
951495,951495,2019-06-28 11:20,2019-06-28,109,KOCE0001,7541,1,20190628109KOCE000175401,STAFF SALARY ACCOUNT,2000038766,31111,50023,4440692,2.54724E+11,JANE MARGARET ADHIAMBO SURUNGAI ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254723681065,0,0
951579,951579,2019-08-01 17:44,2019-08-01,109,KOCE0001,12848,1,20190801109KOCE0001128471,STAFF SALARY ACCOUNT,1985593201,31111,198559,27080319,2.54713E+11,BERNARD OKUMU ...,32099,ACCOUNT TO MPESA(B2C),1230.0,22.0,SEND TO MPESA 254748820902,0,0
951640,951640,2019-06-18 15:32,2019-06-18,109,KOCE0003,405,1,20190618109KOCE00034041,STAFF SALARY ACCOUNT,2000083697,31111,120659,25334173,2.54723E+11,JOSEPHINE KANINI SOI ...,32099,ACCOUNT TO MPESA(B2C),800.0,15.0,SEND TO MPESA 254722684948,0,0
951699,951699,2019-08-24 19:45,2019-08-26,109,KOCE0001,1211,1,20190826109KOCE000112101,STAFF SALARY ACCOUNT,8581443201,31111,858144,27020682,2.54713E+11,ALEX MAWIRA MUGAMBI ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254712806795,0,0
951784,951784,2019-07-13 13:50,2019-07-13,109,KOCE0002,1589,1,20190713109KOCE000215881,STAFF SALARY ACCOUNT,2000032972,31111,22123,13098892,2.54725E+11,JACKLINE AGNES LUI ...,32099,ACCOUNT TO MPESA(B2C),20000.0,22.0,SEND TO MPESA 254725257745,0,0
951799,951799,2019-06-07 12:39,2019-06-07,109,KOCE0001,11153,1,20190607109KOCE0001111521,STAFF SALARY ACCOUNT,2000035057,31111,46946,21945555,2.54722E+11,FRIDAH MAGHUWA BONGOSA MCHARO ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254721556202,0,0
952025,952025,2019-05-24 13:14,2019-05-24,109,KOCE0001,10457,1,20190524109KOCE0001104561,STAFF SALARY ACCOUNT,8000543101,31111,800054,25768523,2.5473E+11,EVANS OTIENO ONGODO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254729505957,0,0
952061,952061,2019-07-25 17:38,2019-07-25,109,KOCE0003,511,1,20190725109KOCE00035101,STAFF SALARY ACCOUNT,1934203101,31111,193420,24417289,2.54729E+11,DAVE MUKABANE NG'AMBWA ...,32099,ACCOUNT TO MPESA(B2C),2080.0,22.0,SEND TO MPESA 254722832420,0,0
952122,952122,2019-08-25 17:55,2019-08-26,109,KOCE0001,9517,1,20190826109KOCE000195161,STAFF SALARY ACCOUNT,9069733201,31111,906973,23389814,2.54723E+11,CYPRIAN ABUGA OBARE ...,32099,ACCOUNT TO MPESA(B2C),1500.0,22.0,SEND TO MPESA 254725141320,0,0
952145,952145,2019-07-01 22:07,2019-07-02,109,KOCE0001,1908,1,20190702109KOCE000119071,STAFF SALARY ACCOUNT,2000077924,31111,113355,277397,2.5472E+11,JOAB OWINO OSORES ...,32099,ACCOUNT TO MPESA(B2C),1327.0,22.0,SEND TO MPESA 254720751995,0,0
952293,952293,2019-06-25 12:29,2019-06-25,109,KOCE0002,1961,1,20190625109KOCE000219601,STAFF SALARY ACCOUNT,3438813101,31111,343881,31243328,2.54702E+11,ANNE ACHIENG ONYANGO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254701561835,0,0
952334,952334,2019-07-29 08:53,2019-07-29,109,KOCE0001,9560,1,20190729109KOCE000195591,STAFF SALARY ACCOUNT,9070843201,31111,907084,33306037,2.54791E+11,IRENE JEPKEMOI KIPTOO ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254790847868,0,0
952376,952376,2019-07-08 09:39,2019-07-08,109,KOCE0001,16380,1,20190708109KOCE0001163791,STAFF SALARY ACCOUNT,2000054812,31111,85565,8417554,2.5472E+11,DAVID KASIVU MAVEKE ...,32099,ACCOUNT TO MPESA(B2C),13000.0,22.0,SEND TO MPESA 254711175089,0,0
952663,952663,2019-07-08 21:11,2019-07-09,109,KOCE0001,1168,1,20190709109KOCE000111671,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),100.0,15.0,SEND TO MPESA 254720862119,0,0
952672,952672,2019-06-04 11:54,2019-06-04,109,KOCE0001,10771,1,20190604109KOCE0001107701,STAFF SALARY ACCOUNT,2000032955,31111,24600,3222137,2.54723E+11,JAMES CHEGE THIONGO ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254722655692,0,0

In [1]:
#staff accounts 
df2 = df1.query('ID_PRODUCT == "31111"' or 'ID_PRODUCT == "31705"' or 'ID_PRODUCT == "31200"') 

df2.sort_values(ascending=False,by='TMSTAMP')
df2

NameError: name 'df1' is not defined

In [11]:
#df1['TRX_USR'].unique().tolist()

In [12]:
#staff accounts 
#df_test = df1.query('PRODUCT_DESCRIPTION == "STAFF SALARY ACCOUNT"') 
#df2.TMSTAMP.sort_values(ascending = False)

In [13]:
df3 = df2.query('TRX_USR.str.contains("KOCE")' or 'TRX_USR.str.contains("ESB")')
df3

,Unnamed: 0,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,ID_PRODUCT,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
27,27,2019-06-15 13:56,2019-06-15,109,KOCE0001,10129,1,20190615109KOCE0001101281,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),2027.0,22.0,SEND TO MPESA 254714714383,0,0
102,102,2019-07-03 09:58,2019-07-03,109,KOCE0001,5954,1,20190703109KOCE000159531,STAFF SALARY ACCOUNT,2000033156,31111,38623,13224078,2.54729E+11,JAMES MUMINA MUENDO ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254720895962,0,0
105,105,2019-05-30 18:25,2019-05-30,109,KOCE0002,4491,1,20190530109KOCE000244901,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254711581765,0,0
122,122,2019-07-27 15:02,2019-07-27,109,KOCE0002,2029,1,20190727109KOCE000220281,STAFF SALARY ACCOUNT,2000115001,31111,188319,26130176,2.54729E+11,KIMWETICH KIPRUTO KELVIN ...,32099,ACCOUNT TO MPESA(B2C),2500.0,22.0,SEND TO MPESA 254728814964,0,0
180,180,2019-05-29 17:40,2019-05-29,109,KOCE0003,759,1,20190529109KOCE00037581,STAFF SALARY ACCOUNT,8000543101,31111,800054,25768523,2.5473E+11,EVANS OTIENO ONGODO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254729505957,0,0
197,197,2019-05-27 18:15,2019-05-27,109,KOCE0001,30325,1,20190527109KOCE0001303241,STAFF SALARY ACCOUNT,2000077866,31111,113304,23475860,2.54725E+11,SYLVESTER MUTUA KIVINDYO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254724811282,0,0
211,211,2019-07-30 13:20,2019-07-30,109,KOCE0001,8324,1,20190730109KOCE000183231,STAFF SALARY ACCOUNT,7201923201,31111,720192,22197290,2.54722E+11,ROSE MUTURI ...,32099,ACCOUNT TO MPESA(B2C),12500.0,22.0,SEND TO MPESA 0720000748,0,0
309,309,2019-05-11 20:11,2019-05-13,109,KOCE0003,50,1,20190513109KOCE0003491,STAFF SALARY ACCOUNT,2000033012,31111,41545,11606278,2.54722E+11,GEOFREY MWAURA NGARI ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254720982300,0,0
378,378,2019-06-28 00:25,2019-06-28,109,KOCE0001,2143,1,20190628109KOCE000121421,STAFF SALARY ACCOUNT,3095533101,31111,309553,23298892,2.54726E+11,PATRICIA KENDELI SALANO ...,32099,ACCOUNT TO MPESA(B2C),4500.0,22.0,SEND TO MPESA 254722279351,0,0
512,512,2019-07-05 21:51,2019-07-06,109,KOCE0002,397,1,20190706109KOCE00023961,STAFF SALARY ACCOUNT,9022143201,31111,902214,28846367,2.54715E+11,ALEX KASWII ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254714964847,0,0
832,832,2019-08-03 16:41,2019-08-03,109,KOCE0001,11301,1,20190803109KOCE0001113001,STAFF SALARY ACCOUNT,2000113083,31111,184835,21327029,2.54721E+11,JANE NJOKI NYAGA ...,32099,ACCOUNT TO MPESA(B2C),50000.0,22.0,SEND TO MPESA 254721452597,0,0
862,862,2019-08-30 08:01,2019-08-30,109,KOCE0001,3339,1,20190830109KOCE000133381,STAFF SALARY ACCOUNT,2000109702,31111,178026,28486112,2.54715E+11,GICHIA WAITHIRA SAMSON ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254721167042,0,0
875,875,2019-05-22 18:44,2019-05-22,109,KOCE0001,15737,1,20190522109KOCE0001157361,STAFF SALARY ACCOUNT,2000033012,31111,41545,11606278,2.54722E+11,GEOFREY MWAURA NGARI ...,32099,ACCOUNT TO MPESA(B2C),2700.0,22.0,SEND TO MPESA 254725417001,0,0
1035,1035,2019-07-30 13:37,2019-07-30,109,KOCE0001,8630,1,20190730109KOCE000186291,STAFF SALARY ACCOUNT,2796043201,31111,279604,27217056,2.54701E+11,EVA MUASYA ...,32099,ACCOUNT TO MPESA(B2C),5360.0,22.0,SEND TO MPESA 254701093348,0,0
1077,1077,2019-07-02 13:45,2019-07-02,109,KOCE0001,11554,1,20190702109KOCE0001115531,STAFF SALARY ACCOUNT,2329663101,31111,232966,11282125,2.547E+11,JAEL ACHIENG ONYANGO ...,32099,ACCOUNT TO MPESA(B2C),2700.0,22.0,SEND TO MPESA 254705007154,0,0
1124,1124,2019-08-07 18:35,2019-08-07,109,KOCE0001,14529,1,20190807109KOCE0001145281,STAFF SALARY ACCOUNT,2000110231,31111,179213,28516820,2.54716E+11,JEREMIAH ODIWUOR OKUMU ...,32099,ACCOUNT TO MPESA(B2C),210.0,15.0,SEND TO MPESA 254728226415,0,0
1307,1307,2019-08-28 10:02,2019-08-28,109,KOCE0002,550,1,20190828109KOCE00025491,STAFF SALARY ACCOUNT,8925853201,31111,892585,27673863,2.54721E+11,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),700.0,15.0,SEND TO MPESA 254722384027,0,0
1535,1535,2019-05-28 16:36,2019-05-28,109,KOCE0001,17070,1,20190528109KOCE0001170691,STAFF SALARY ACCOUNT,2000099556,31111,151325,25754235,2.54729E+11,NAOMI WAITHIRA KAGIRI ...,32099,ACCOUNT TO MPESA(B2C),10100.0,22.0,SEND TO MPESA 254724354799,0,0
1808,1808,2019-06-26 13:13,2019-06-26,109,KOCE0003,511,1,20190626109KOCE00035101,STAFF SALARY ACCOUNT,2000108130,31111,174576,28005370,2.54717E+11,DOROTHY ATIENO KANG'ANYA ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254720016407,0,0
1942,1942,2019-08-10 09:55,2019-08-10,109,KOCE0001,5061,1,20190810109KOCE000150601,STAFF SALARY ACCOUNT,2000104768,31111,166145,30161361,2.54718E+11,MORRIS KINYUA KABUBO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254718077429,0,0
2125,2125,2019-05-30 04:03,2019-05-30,109,KOCE0001,3528,1,20190530109KOCE000135271,STAFF SALARY ACCOUNT,2000046339,31111,67052,20131710,2.54724E+11,LINDA AQUINATOR ATIENO NYAMOR ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254791282748,0,0
2518,2518,2019-06-05 18:34,2019-06-06,109,KOCE0002,4084,1,20190606109KOCE000240831,STAFF SALARY ACCOUNT,2000104189,31111,164890,27905086,2.54727E+11,SILVANUS MWISO MASIKA ...,32099,ACCOUNT TO MPESA(B2C),300.0,15.0,SEND TO MPESA 254796699210,0,0
2553,2553,2019-06-22 15:05,2019-06-22,109,KOCE0002,1964,1,20190622109KOCE000219631,STAFF SALARY ACCOUNT,2000087025,31111,124971,27350776,2.54728E+11,MAUREEN ATIENO SULLE ...,32099,ACCOUNT TO MPESA(B2C),250.0,15.0,SEND TO MPESA 254729857611,0,0
2618,2618,2019-07-14 12:20,2019-07-15,109,KOCE0002,910,1,20190715109KOCE00029091,STAFF SALARY ACCOUNT,2000086217,31111,123963,24150080,2.54726E+11,THOMAS AQUAINAS KAMAU NJUGUNA ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254725501622,0,0
2683,2683,2019-06-02 18:19,2019-06-03,109,KOCE0002,5969,1,20190603109KOCE000259681,STAFF SALARY ACCOUNT,9013233201,31111,901323,29811090,2.54717E+11,SALLY KOROSS ...,32099,ACCOUNT TO MPESA(B2C),600.0,15.0,SEND TO MPESA 254716600011,0,0
2703,2703,2019-05-26 18:55,2019-05-27,109,KOCE0001,13810,1,20190527109KOCE0001138091,STAFF SALARY ACCOUNT,1987923101,31111,198792,29490494,2.54726E+11,CALEB LEBUNGE LEBOO ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254726489108,0,0
2718,2718,2019-06-15 12:01,2019-06-15,109,KOCE0001,8175,1,20190615109KOCE000181741,STAFF SALARY ACCOUNT,2000035592,31111,47322,9789396,2.5472E+11,STELLAH NIGHT OWAKI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254728150272,0,0
2867,2867,2019-07-01 21:44,2019-07-02,109,KOCE0001,1637,1,20190702109KOCE000116361,STAFF SALARY ACCOUNT,3095533101,31111,309553,23298892,2.54726E+11,PATRICIA KENDELI SALANO ...,32099,ACCOUNT TO MPESA(B2C),2430.0,22.0,SEND TO MPESA 254728977683,0,0
3023,3023,2019-08-23 20:16,2019-08-24,109,KOCE0001,205,1,20190824109KOCE00012041,STAFF SALARY ACCOUNT,2000116142,31111,190308,20069691,,WYCLIFE MWANGI KAMAU ...,32099,ACCOUNT TO MPESA(B2C),2000.0,22.0,SEND TO MPESA 254720880342,0,0
3116,3116,2019-06-14 15:53,2019-06-14,109,KOCE0001,12912,1,20190614109KOCE0001129111,STAFF SALARY ACCOUNT,2000098395,31111,146697,22302469,2.54714E+11,RASHID MAKOKHA INJAMU ...,32099,ACCOUNT TO MPESA(B2C),480.0,15.0,SEND TO MPESA 254723455844,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948983,948983,2019-05-16 09:07,2019-05-16,109,KOCE0002,1250,1,20190516109KOCE000212491,STAFF SALARY ACCOUNT,2000057531,31111,89183,14503552,2.5471E+11,JORAM NGIGE NDEGWA ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254710354925,0,0
949425,949425,2019-08-19 14:30,2019-08-19,109,KOCE0001,16387,1,20190819109KOCE0001163861,STAFF SALARY ACCOUNT,2885313201,31111,288531,31740409,2.54714E+11,PURITY KIMELI ...,32099,ACCOUNT TO MPESA(B2C),50.0,15.0,SEND TO MPESA 254713708608,0,0
949458,949458,2019-07-01 18:51,2019-07-01,109,KOCE0002,6391,1,20190701109KOCE000263901,STAFF SALARY ACCOUNT,2000110231,31111,179213,28516820,2.54716E+11,JEREMIAH ODIWUOR OKUMU ...,32099,ACCOUNT TO MPESA(B2C),630.0,15.0,SEND TO MPESA 254725700306,0,0
949557,949557,2019-05-15 11:45,2019-05-15,109,KOCE0001,8766,1,20190515109KOCE000187651,STAFF SALARY ACCOUNT,2000082459,31111,119036,24044269,2.54725E+11,ISAAC NJOROGE NGIGE ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254721291942,0,0
949619,949619,2019-06-29 13:04,2019-06-29,109,KOCE0001,9744,1,20190629109KOCE000197431,STAFF SALARY ACCOUNT,1637003102,31111,163700,26158355,2.54713E+11,RITAH ANNETE AKINYI ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254729486050,0,0
949624,949624,2019-08-03 12:05,2019-08-03,109,KOCE0001,7205,1,20190803109KOCE000172041,STAFF SALARY ACCOUNT,2000042996,31111,53453,20698390,2.54728E+11,ANTHONY OMBATI OCHARO ...,32099,ACCOUNT TO MPESA(B2C),1200.0,22.0,SEND TO MPESA 254721553905,0,0
949649,949649,2019-05-27 15:52,2019-05-27,109,KOCE0002,5926,1,20190527109KOCE000259251,STAFF SALARY ACCOUNT,8025403201,31111,802540,22555799,2.54723E+11,JERUSHA IGOMBO ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254704252845,0,0
949702,949702,2019-08-26 09:07,2019-08-26,109,KOCE0001,13705,1,20190826109KOCE0001137041,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254711581765,0,0
949847,949847,2019-07-08 17:00,2019-07-08,109,KOCE0001,24462,1,20190708109KOCE0001244611,STAFF SALARY ACCOUNT,2000087025,31111,124971,27350776,2.54728E+11,MAUREEN ATIENO SULLE ...,32099,ACCOUNT TO MPESA(B2C),2000.0,22.0,SEND TO MPESA 254707772583,0,0
950222,950222,2019-05-29 14:32,2019-05-29,109,KOCE0001,12756,1,20190529109KOCE0001127551,STAFF SALARY ACCOUNT,2000110544,31111,180091,28777239,,EMILY WANGARI KARANJA ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254725707448,0,0
950564,950564,2019-05-20 14:30,2019-05-20,109,KOCE0001,26496,1,20190520109KOCE0001264951,STAFF SALARY ACCOUNT,2000116142,31111,190308,20069691,,WYCLIFE MWANGI KAMAU ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254720880342,0,0
950841,950841,2019-08-14 22:53,2019-08-15,109,KOCE0001,1644,1,20190815109KOCE000116431,STAFF SALARY ACCOUNT,6637533201,31111,663753,33164255,2.54711E+11,SETH MUGAMBI ...,32099,ACCOUNT TO MPESA(B2C),359.0,15.0,SEND TO MPESA 254710811928,0,0
951045,951045,2019-07-28 17:30,2019-07-29,109,KOCE0001,4201,1,20190729109KOCE000142001,STAFF SALARY ACCOUNT,2000110544,31111,180091,28777239,,EMILY WANGARI KARANJA ...,32099,ACCOUNT TO MPESA(B2C),2200.0,22.0,SEND TO MPESA 254721650921,0,0
951072,951072,2019-06-09 19:29,2019-06-10,109,KOCE0002,2077,1,20190610109KOCE000220761,STAFF SALARY ACCOUNT,2000061953,31111,94031,22916777,2.54723E+11,BILLIET ANGELA KIKECH ...,32099,ACCOUNT TO MPESA(B2C),26500.0,22.0,SEND TO MPESA 254722586861,0,0
951078,951078,2019-07-05 18:09,2019-07-05,109,KOCE0003,879,1,20190705109KOCE00038781,STAFF SALARY ACCOUNT,2000107436,31111,172986,22506793,2.54712E+11,CYPRIAN MUYESHI ...,32099,ACCOUNT TO MPESA(B2C),330.0,15.0,SEND TO MPESA 254710868357,0,0
951495,951495,2019-06-28 11:20,2019-06-28,109,KOCE0001,7541,1,20190628109KOCE000175401,STAFF SALARY ACCOUNT,2000038766,31111,50023,4440692,2.54724E+11,JANE MARGARET ADHIAMBO SURUNGAI ...,32099,ACCOUNT TO MPESA(B2C),5000.0,22.0,SEND TO MPESA 254723681065,0,0
951579,951579,2019-08-01 17:44,2019-08-01,109,KOCE0001,12848,1,20190801109KOCE0001128471,STAFF SALARY ACCOUNT,1985593201,31111,198559,27080319,2.54713E+11,BERNARD OKUMU ...,32099,ACCOUNT TO MPESA(B2C),1230.0,22.0,SEND TO MPESA 254748820902,0,0
951640,951640,2019-06-18 15:32,2019-06-18,109,KOCE0003,405,1,20190618109KOCE00034041,STAFF SALARY ACCOUNT,2000083697,31111,120659,25334173,2.54723E+11,JOSEPHINE KANINI SOI ...,32099,ACCOUNT TO MPESA(B2C),800.0,15.0,SEND TO MPESA 254722684948,0,0
951699,951699,2019-08-24 19:45,2019-08-26,109,KOCE0001,1211,1,20190826109KOCE000112101,STAFF SALARY ACCOUNT,8581443201,31111,858144,27020682,2.54713E+11,ALEX MAWIRA MUGAMBI ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254712806795,0,0
951784,951784,2019-07-13 13:50,2019-07-13,109,KOCE0002,1589,1,20190713109KOCE000215881,STAFF SALARY ACCOUNT,2000032972,31111,22123,13098892,2.54725E+11,JACKLINE AGNES LUI ...,32099,ACCOUNT TO MPESA(B2C),20000.0,22.0,SEND TO MPESA 254725257745,0,0
951799,951799,2019-06-07 12:39,2019-06-07,109,KOCE0001,11153,1,20190607109KOCE0001111521,STAFF SALARY ACCOUNT,2000035057,31111,46946,21945555,2.54722E+11,FRIDAH MAGHUWA BONGOSA MCHARO ...,32099,ACCOUNT TO MPESA(B2C),2030.0,22.0,SEND TO MPESA 254721556202,0,0
952025,952025,2019-05-24 13:14,2019-05-24,109,KOCE0001,10457,1,20190524109KOCE0001104561,STAFF SALARY ACCOUNT,8000543101,31111,800054,25768523,2.5473E+11,EVANS OTIENO ONGODO ...,32099,ACCOUNT TO MPESA(B2C),1000.0,15.0,SEND TO MPESA 254729505957,0,0
952061,952061,2019-07-25 17:38,2019-07-25,109,KOCE0003,511,1,20190725109KOCE00035101,STAFF SALARY ACCOUNT,1934203101,31111,193420,24417289,2.54729E+11,DAVE MUKABANE NG'AMBWA ...,32099,ACCOUNT TO MPESA(B2C),2080.0,22.0,SEND TO MPESA 254722832420,0,0
952122,952122,2019-08-25 17:55,2019-08-26,109,KOCE0001,9517,1,20190826109KOCE000195161,STAFF SALARY ACCOUNT,9069733201,31111,906973,23389814,2.54723E+11,CYPRIAN ABUGA OBARE ...,32099,ACCOUNT TO MPESA(B2C),1500.0,22.0,SEND TO MPESA 254725141320,0,0
952145,952145,2019-07-01 22:07,2019-07-02,109,KOCE0001,1908,1,20190702109KOCE000119071,STAFF SALARY ACCOUNT,2000077924,31111,113355,277397,2.5472E+11,JOAB OWINO OSORES ...,32099,ACCOUNT TO MPESA(B2C),1327.0,22.0,SEND TO MPESA 254720751995,0,0
952293,952293,2019-06-25 12:29,2019-06-25,109,KOCE0002,1961,1,20190625109KOCE000219601,STAFF SALARY ACCOUNT,3438813101,31111,343881,31243328,2.54702E+11,ANNE ACHIENG ONYANGO ...,32099,ACCOUNT TO MPESA(B2C),3000.0,22.0,SEND TO MPESA 254701561835,0,0
952334,952334,2019-07-29 08:53,2019-07-29,109,KOCE0001,9560,1,20190729109KOCE000195591,STAFF SALARY ACCOUNT,9070843201,31111,907084,33306037,2.54791E+11,IRENE JEPKEMOI KIPTOO ...,32099,ACCOUNT TO MPESA(B2C),200.0,15.0,SEND TO MPESA 254790847868,0,0
952376,952376,2019-07-08 09:39,2019-07-08,109,KOCE0001,16380,1,20190708109KOCE0001163791,STAFF SALARY ACCOUNT,2000054812,31111,85565,8417554,2.5472E+11,DAVID KASIVU MAVEKE ...,32099,ACCOUNT TO MPESA(B2C),13000.0,22.0,SEND TO MPESA 254711175089,0,0
952663,952663,2019-07-08 21:11,2019-07-09,109,KOCE0001,1168,1,20190709109KOCE000111671,STAFF SALARY ACCOUNT,2000056439,31111,87600,22442201,2.54721E+11,AMBROSE WARUTERE NGINGA ...,32099,ACCOUNT TO MPESA(B2C),100.0,15.0,SEND TO MPESA 254720862119,0,0
952672,952672,2019-06-04 11:54,2019-06-04,109,KOCE0001,10771,1,20190604109KOCE0001107701,STAFF SALARY ACCOUNT,2000032955,31111,24600,3222137,2.54723E+11,JAMES CHEGE THIONGO ...,32099,ACCOUNT TO MPESA(B2C),7000.0,22.0,SEND TO MPESA 254722655692,0,0

In [30]:
#period of running 
#df3.TRX_DATE#.max()

#df2.TRX_DATE =  pd.to_datetime(df2.TRX_DATE, infer_datetime_format=True)
#df3.TMSTAMP.sort_values(ascending=False)
#df3
df3.TRX_DATE

27        2019-06-15
102       2019-07-03
105       2019-05-30
122       2019-07-27
180       2019-05-29
197       2019-05-27
211       2019-07-30
309       2019-05-13
378       2019-06-28
512       2019-07-06
832       2019-08-03
862       2019-08-30
875       2019-05-22
1035      2019-07-30
1077      2019-07-02
1124      2019-08-07
1307      2019-08-28
1535      2019-05-28
1808      2019-06-26
1942      2019-08-10
2125      2019-05-30
2518      2019-06-06
2553      2019-06-22
2618      2019-07-15
2683      2019-06-03
2703      2019-05-27
2718      2019-06-15
2867      2019-07-02
3023      2019-08-24
3116      2019-06-14
             ...
948983    2019-05-16
949425    2019-08-19
949458    2019-07-01
949557    2019-05-15
949619    2019-06-29
949624    2019-08-03
949649    2019-05-27
949702    2019-08-26
949847    2019-07-08
950222    2019-05-29
950564    2019-05-20
950841    2019-08-15
951045    2019-07-29
951072    2019-06-10
951078    2019-07-05
951495    2019-06-28
951579    2019-08-01
951640    2019-06-18
951699    2019-08-26
951784    2019-07-13
951799    2019-06-07
952025    2019-05-24
952061    2019-07-25
952122    2019-08-26
952145    2019-07-02
952293    2019-06-25
952334    2019-07-29
952376    2019-07-08
952663    2019-07-09
952672    2019-06-04
Name: TRX_DATE, Length: 10100, dtype: object

In [19]:
#df3.dtypes
NOW = df3.TRX_DATE.max()
df3.groupby('ACCOUNT_NUMBER').a
#df3.groupby('ACCOUNT_NUMBER').agg({'TRX_DATE': lambda x: (NOW - x.max()).days})#.agg({'TRX_DATE': lambda x: (NOW - x.max()).days})#, 'TRANSACTION_REF': lambda x: len(x), 'COMMISSION': lambda x: x.sum()})

In [20]:
df3.columns

Index([u'Unnamed: 0', u'TMSTAMP', u'TRX_DATE', u'TRX_UNIT', u'TRX_USR',
       u'TRX_USR_SN', u'TUN_INTERNAL_SN', u'TRANSACTION_REF',
       u'PRODUCT_DESCRIPTION', u'ACCOUNT_NUMBER', u'ID_PRODUCT',
       u'FK_CUSTOMERCUST_ID', u'NATIONAL_ID', u'MOBILE_TEL', u'ACCOUNT_NAME',
       u'I_ID_JUSTIFIC', u'TRANSACTION_TYPE', u'TRANSACTION_AMOUNT',
       u'COMMISSION', u'TRX_COMMENTS', u'REVERSE_FLAG', u'REVERSED_TRX_FLAG'],
      dtype='object')

In [15]:
NOW = df3.TRX_DATE.max()
rfmTable = df3.groupby('ACCOUNT_NUMBER').agg({'TRX_DATE': lambda x: (NOW - x.max()).days, 'TRANSACTION_REF': lambda x: len(x), 'COMMISSION': lambda x: x.sum()})
rfmTable['TRX_DATE'] = rfmTable['TRX_DATE'].astype(int)
rfmTable.rename(columns={'TRX_DATE': 'recency', 
                         'TRANSACTION_REF': 'frequency', 
                         'COMMISSION': 'monetary_value'}, inplace=True)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [70]:
rfmTable

                frequency  recency  monetary_value
ACCOUNT_NUMBER
201643101              12       25             0.0
949563101             791        0          4731.0
1098683102            750        2          5640.0
1302963102            155      179           555.0
1445193102              1      119             0.0
1591173102              3      133            66.0
1602073103              1       94             0.0
1619473101              1      213             0.0
1637003102             44       25           486.0
1687573101              2       17             0.0
1718983101              3      291             0.0
1850443102             15        2             0.0
1872903102              1       20             0.0
1933933101            178        1          1656.0
1934193101              1      301             0.0
1934203101            277        0          1413.0
1950803101            394        0          1791.0
1965523101            550        3          4908.0
1985593201            167        0          2034.0
1987833101            225        1           912.0
1987853101             39      256             0.0
1987863101             23      297             0.0
1987883101            253        0          1911.0
1987903101            480        0          1641.0
1987923101            703        4          5355.0
1988003101             90        1           489.0
2000002630              4      223             0.0
2000032902            245        1          1611.0
2000032906              1      259             0.0
2000032907              1      157             0.0
...                   ...      ...             ...
9409623201             48       28           222.0
9465843201             52        0           243.0
9470443201             26        0             0.0
9479013101            137        2           111.0
9526623201            112        0           198.0
9572613201             29        0             0.0
9594833201             37        1             0.0
9594973201             44       10             0.0
9595283201             87        2             0.0
9595293201             38        7             0.0
9603493101              2       53             0.0
9671213101              4       24             0.0
9681443201             49        3             0.0
9681463201             11       10             0.0
9734773201             22        4             0.0
9734783201             27        0             0.0
9734833201             31        0             0.0
9757443201             32        0             0.0
9783650408             14        2             0.0
9783650409             13       16             0.0
9783651632             20        0             0.0
9783651633             33        1             0.0
9783651634              8        1             0.0
9783652533             34        1             0.0
9783652535             14        2             0.0
9783652895             36        6             0.0
9783654073              9        0             0.0
9783654077              2       14             0.0
9783655140              2        6             0.0
9783659266             13        2             0.0

[491 rows x 3 columns]

In [71]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
print(quantiles)
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 24.0, 0.5: 90.0, 0.75: 266.5},
 'monetary_value': {0.25: 0.0, 0.5: 507.0, 0.75: 1795.5},
 'recency': {0.25: 0.0, 0.5: 4.0, 0.75: 27.5}}

In [72]:
#reference https://towardsdatascience.com/find-your-best-customers-with-customer-segmentation-in-python-61d602f9eee6
segmented_rfm = rfmTable

In [73]:
#The lowest recency, highest frequency and monetary amounts are our best customers.
def FMScore(x,p,d):   
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def RScore(x,p,d):   
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [74]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile
ACCOUNT_NUMBER,,,,,,
201643101,12,25,0.0,2,1,1
949563101,791,0,4731.0,4,4,4
1098683102,750,2,5640.0,3,4,4
1302963102,155,179,555.0,1,3,3
1445193102,1,119,0.0,1,1,1

In [75]:
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)   + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
ACCOUNT_NUMBER,,,,,,,
201643101,12,25,0.0,2,1,1,211
949563101,791,0,4731.0,4,4,4,444
1098683102,750,2,5640.0,3,4,4,344
1302963102,155,179,555.0,1,3,3,133
1445193102,1,119,0.0,1,1,1,111

In [76]:
segmented_rfm.RFMScore.max()

'444'

In [77]:
staff_identify = pd.read_excel (r'/Users/allan.aswani/Documents/scorecardworks/staff_loans_version_1.xlsx', sheet_name='Sheet2')
staff_identify

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,National_id,whizz_phone
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,8515233,254722310293
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,9778506,254722466794
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6141908,254722338270
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,10874594,254722559933
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,9328141,254722859902
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,10314300,254721249078
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,10269408,254720269385
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,10880731,254722633539
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,8182751,254714606788
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,10087038,254722790605
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,8071579,254722445823
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,11669628,254722506128
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,11210826,254722992269
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,10474968,254722232012
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,11410273,254722858740
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,6060445,254712603278
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,14692843,254728878117
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7570408,254713054217
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,M3,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,13181862,254722780800
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,11606278,254722306171
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13073888,254722757293
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,11584589,254722520892
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,10225545,254722258597
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,13170860,254722831650
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,21945555,254722302365
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14530255,254721829879
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4440692,254723681065
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,3642260,254721750439
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12761383,254721246093
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,20698390,254728077290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,callcenter 11,Emily Rao,8855633201,724629052,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254724629052
382,callcenter 12,Emma Moragwa,8855593201,725020420,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725020420
383,callcenter 13,Eric Nzioka,6823003101,701597009,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701597009
384,callcenter 14,Erwin Muhati,6816523101,714942229,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254714942229
385,callcenter 15,Esther Kemuma,8855673201,700215029,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254700215029
386,callcenter 17,Gidnorah Kimbio,9022473201,715138204,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715138204
387,callcenter 18,Ibrahim Musa,2097183201,727775941,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254727775941
388,callcenter 20,Jane Ooko,6953203101,798449650,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254798449650
389,callcenter 21,Janerose Wanjala,2308783201,712773715,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712773715
390,callcenter 22,Joseph Kimani,2302403101,795273366,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254795273366
391,callcenter 23,Josphine Toirai,9164663201,710768593,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710768593
392,callcenter 24,Lilian Ndunge,8855573201,718599476,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254718599476
393,callcenter 25,Margaret Nyokabi,7334443201,708766421,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254708766421
394,callcenter 26,Marystella Atieno,8921853201,790775864,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790775864
395,callcenter 27,Morris Macharia,8855653201,702392940,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254702392940
396,callcenter 28,Naomi Chemtai,8855603201,705901004,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254705901004
397,callcenter 30,Perot Luvembe,6817373101,721419551,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254721419551
398,callcenter 31,Purity Chelangat,2885313201,713708608,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713708608
399,callcenter 33,Rosebelle Wanjiru,8855553201,725418283,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725418283
400,callcenter 35,Silas Mutwol,8855563201,716356788,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254716356788
401,callcenter 36,Winnie Ojala,8855763201,701125688,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701125688
402,callcenter 37,Joel Wamae,3660313201,790850705,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790850705
403,callcenter 38,Dorcas Kioko,2649283201,719897290,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254719897290
404,tellesales 02,Josephine Ochieng,6637413201,715812674,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715812674
405,tellesales 03,Catherine Mutua,6892413201,712932972,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712932972
406,tellesales 04,Belinda Jepkoech,8743413201,722339409,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254722339409
407,tellesales 06,Berine Otieno,2344793201,710789517,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710789517
408,tellesales 07,Elizabeth Monga're,6637223201,713698117,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713698117
409,tellesales 08,Eric Mwangi,6056373102,743235799,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254743235799
410,tellesales 09,ParisHerman,9470443201,726308069,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254726308069

In [78]:
segmented_rfm = pd.DataFrame(segmented_rfm)
segmented_rfm.reset_index(level=0, inplace=True)
segmented_rfm

,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,201643101,12,25,0.0,2,1,1,211
1,949563101,791,0,4731.0,4,4,4,444
2,1098683102,750,2,5640.0,3,4,4,344
3,1302963102,155,179,555.0,1,3,3,133
4,1445193102,1,119,0.0,1,1,1,111
5,1591173102,3,133,66.0,1,1,2,112
6,1602073103,1,94,0.0,1,1,1,111
7,1619473101,1,213,0.0,1,1,1,111
8,1637003102,44,25,486.0,2,2,2,222
9,1687573101,2,17,0.0,2,1,1,211
10,1718983101,3,291,0.0,1,1,1,111
11,1850443102,15,2,0.0,3,1,1,311
12,1872903102,1,20,0.0,2,1,1,211
13,1933933101,178,1,1656.0,3,3,3,333
14,1934193101,1,301,0.0,1,1,1,111
15,1934203101,277,0,1413.0,4,4,3,443
16,1950803101,394,0,1791.0,4,4,3,443
17,1965523101,550,3,4908.0,3,4,4,344
18,1985593201,167,0,2034.0,4,3,4,434
19,1987833101,225,1,912.0,3,3,3,333
20,1987853101,39,256,0.0,1,2,1,121
21,1987863101,23,297,0.0,1,1,1,111
22,1987883101,253,0,1911.0,4,3,4,434
23,1987903101,480,0,1641.0,4,4,3,443
24,1987923101,703,4,5355.0,3,4,4,344
25,1988003101,90,1,489.0,3,2,2,322
26,2000002630,4,223,0.0,1,1,1,111
27,2000032902,245,1,1611.0,3,3,3,333
28,2000032906,1,259,0.0,1,1,1,111
29,2000032907,1,157,0.0,1,1,1,111
...,...,...,...,...,...,...,...,...
461,9409623201,48,28,222.0,1,2,2,122
462,9465843201,52,0,243.0,4,2,2,422
463,9470443201,26,0,0.0,4,2,1,421
464,9479013101,137,2,111.0,3,3,2,332
465,9526623201,112,0,198.0,4,3,2,432
466,9572613201,29,0,0.0,4,2,1,421
467,9594833201,37,1,0.0,3,2,1,321
468,9594973201,44,10,0.0,2,2,1,221
469,9595283201,87,2,0.0,3,2,1,321
470,9595293201,38,7,0.0,2,2,1,221
471,9603493101,2,53,0.0,1,1,1,111
472,9671213101,4,24,0.0,2,1,1,211
473,9681443201,49,3,0.0,3,2,1,321
474,9681463201,11,10,0.0,2,1,1,211
475,9734773201,22,4,0.0,3,1,1,311
476,9734783201,27,0,0.0,4,2,1,421
477,9734833201,31,0,0.0,4,2,1,421
478,9757443201,32,0,0.0,4,2,1,421
479,9783650408,14,2,0.0,3,1,1,311
480,9783650409,13,16,0.0,2,1,1,211
481,9783651632,20,0,0.0,4,1,1,411
482,9783651633,33,1,0.0,3,2,1,321
483,9783651634,8,1,0.0,3,1,1,311
484,9783652533,34,1,0.0,3,2,1,321
485,9783652535,14,2,0.0,3,1,1,311
486,9783652895,36,6,0.0,2,2,1,221
487,9783654073,9,0,0.0,4,1,1,411
488,9783654077,2,14,0.0,2,1,1,211
489,9783655140,2,6,0.0,2,1,1,211
490,9783659266,13,2,0.0,3,1,1,311

In [79]:
staff_identify.dtypes

Pfno                             object
Name                             object
ACCOUNT                          object
MOBILE                           object
Loan Limit                        int64
Type of whizz Account            object
cust_id                         float64
target saving                   float64
fixed saving                    float64
opening date             datetime64[ns]
grade                            object
income proxy                    float64
accountNumber                   float64
cbsCustomerID                   float64
customerID                      float64
customerNames                    object
idNumber                         object
mobileNumber                    float64
productCode                     float64
National_id                      object
whizz_phone                       int64
dtype: object

In [80]:
print(segmented_rfm)

In [81]:
staff_account_limit = staff_identify.merge(segmented_rfm,left_on='ACCOUNT', right_on="ACCOUNT_NUMBER", how = "left")

In [82]:
staff_identify

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,National_id,whizz_phone
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,8515233,254722310293
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,9778506,254722466794
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6141908,254722338270
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,10874594,254722559933
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,9328141,254722859902
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,10314300,254721249078
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,10269408,254720269385
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,10880731,254722633539
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,8182751,254714606788
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,10087038,254722790605
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,8071579,254722445823
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,11669628,254722506128
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,11210826,254722992269
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,10474968,254722232012
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,11410273,254722858740
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,6060445,254712603278
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,14692843,254728878117
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7570408,254713054217
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,M3,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,13181862,254722780800
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,11606278,254722306171
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13073888,254722757293
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,11584589,254722520892
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,10225545,254722258597
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,13170860,254722831650
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,21945555,254722302365
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14530255,254721829879
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4440692,254723681065
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,3642260,254721750439
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12761383,254721246093
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,20698390,254728077290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,callcenter 11,Emily Rao,8855633201,724629052,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254724629052
382,callcenter 12,Emma Moragwa,8855593201,725020420,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725020420
383,callcenter 13,Eric Nzioka,6823003101,701597009,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701597009
384,callcenter 14,Erwin Muhati,6816523101,714942229,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254714942229
385,callcenter 15,Esther Kemuma,8855673201,700215029,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254700215029
386,callcenter 17,Gidnorah Kimbio,9022473201,715138204,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715138204
387,callcenter 18,Ibrahim Musa,2097183201,727775941,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254727775941
388,callcenter 20,Jane Ooko,6953203101,798449650,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254798449650
389,callcenter 21,Janerose Wanjala,2308783201,712773715,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712773715
390,callcenter 22,Joseph Kimani,2302403101,795273366,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254795273366
391,callcenter 23,Josphine Toirai,9164663201,710768593,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710768593
392,callcenter 24,Lilian Ndunge,8855573201,718599476,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254718599476
393,callcenter 25,Margaret Nyokabi,7334443201,708766421,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254708766421
394,callcenter 26,Marystella Atieno,8921853201,790775864,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790775864
395,callcenter 27,Morris Macharia,8855653201,702392940,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254702392940
396,callcenter 28,Naomi Chemtai,8855603201,705901004,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254705901004
397,callcenter 30,Perot Luvembe,6817373101,721419551,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254721419551
398,callcenter 31,Purity Chelangat,2885313201,713708608,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713708608
399,callcenter 33,Rosebelle Wanjiru,8855553201,725418283,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725418283
400,callcenter 35,Silas Mutwol,8855563201,716356788,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254716356788
401,callcenter 36,Winnie Ojala,8855763201,701125688,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701125688
402,callcenter 37,Joel Wamae,3660313201,790850705,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790850705
403,callcenter 38,Dorcas Kioko,2649283201,719897290,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254719897290
404,tellesales 02,Josephine Ochieng,6637413201,715812674,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715812674
405,tellesales 03,Catherine Mutua,6892413201,712932972,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712932972
406,tellesales 04,Belinda Jepkoech,8743413201,722339409,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254722339409
407,tellesales 06,Berine Otieno,2344793201,710789517,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710789517
408,tellesales 07,Elizabeth Monga're,6637223201,713698117,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713698117
409,tellesales 08,Eric Mwangi,6056373102,743235799,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254743235799
410,tellesales 09,ParisHerman,9470443201,726308069,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254726308069

In [83]:
staff_account_limit

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,National_id,whizz_phone,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,8515233,254722310293,2.000033e+09,158.0,4.0,1716.0,3.0,3.0,3.0,333
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,9778506,254722466794,2.000033e+09,26.0,3.0,0.0,3.0,2.0,1.0,321
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6141908,254722338270,2.000035e+09,1.0,258.0,0.0,1.0,1.0,1.0,111
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,10874594,254722559933,2.000033e+09,245.0,1.0,1611.0,3.0,3.0,3.0,333
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,9328141,254722859902,2.000033e+09,471.0,0.0,2841.0,4.0,4.0,4.0,444
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,10314300,254721249078,2.000033e+09,148.0,0.0,1083.0,4.0,3.0,3.0,433
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,10269408,254720269385,2.000033e+09,825.0,0.0,6642.0,4.0,4.0,4.0,444
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,10880731,254722633539,2.000033e+09,521.0,1.0,2232.0,3.0,4.0,4.0,344
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,8182751,254714606788,2.000033e+09,1052.0,0.0,3840.0,4.0,4.0,4.0,444
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,10087038,254722790605,2.000033e+09,225.0,0.0,1590.0,4.0,3.0,3.0,433
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,8071579,254722445823,2.000033e+09,127.0,0.0,489.0,4.0,3.0,2.0,432
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,11669628,254722506128,2.000033e+09,296.0,0.0,1059.0,4.0,4.0,3.0,443
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,11210826,254722992269,2.000033e+09,243.0,0.0,1374.0,4.0,3.0,3.0,433
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,10474968,254722232012,2.000033e+09,87.0,20.0,579.0,2.0,2.0,3.0,223
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,11410273,254722858740,2.000033e+09,116.0,0.0,1305.0,4.0,3.0,3.0,433
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,6060445,254712603278,2.000033e+09,239.0,9.0,690.0,2.0,3.0,3.0,233
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,14692843,254728878117,2.000033e+09,309.0,3.0,1905.0,3.0,4.0,4.0,344
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7570408,254713054217,2.000034e+09,1.0,239.0,0.0,1.0,1.0,1.0,111
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,M3,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,13181862,254722780800,2.000033e+09,702.0,0.0,3066.0,4.0,4.0,4.0,444
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,11606278,254722306171,2.000033e+09,599.0,1.0,4371.0,3.0,4.0,4.0,344
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13073888,254722757293,2.000038e+09,79.0,0.0,111.0,4.0,2.0,2.0,422
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,11584589,254722520892,2.000036e+09,299.0,0.0,2208.0,4.0,4.0,4.0,444
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,10225545,254722258597,2.000036e+09,219.0,1.0,1485.0,3.0,3.0,3.0,333
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,13170860,254722831650,2.000036e+09,425.0,0.0,3219.0,4.0,4.0,4.0,444
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,21945555,254722302365,2.000035e+09,787.0,0.0,5064.0,4.0,4.0,4.0,444
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14530255,254721829879,2.000038e+09,244.0,0.0,1584.0,4.0,3.0,3.0,433
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4440692,254723681065,2.000039e+09,368.0,0.0,3666.0,4.0,4.0,4.0,444
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,3642260,254721750439,2.000033e+09,82.0,7.0,729.0,2.0,2.0,3.0,223
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12761383,254721246093,2.000036e+09,5.0,78.0,0.0,1.0,1.0,1.0,111
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,20698390,254728077290,2.000043e+09,472.0,1.0,3471.0,3.0,4.0,4.0,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,callcenter 11,Emily Rao,8855633201,724629052,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254724629052,8.855633e+09,60.0,48.0,486.0,1.0,2.0,2.0,122
382,callcenter 12,Emma Moragwa,8855593201,725020420,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725020420,8.855593e+09,65.0,1.0,0.0,3.0,2.0,1.0,321
383,callcenter 13,Eric Nzioka,6823003101,701597009,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701597009,6.823003e+09,79.0,4.0,333.0,3.0,2.0,2.0,322
384,callcenter 14,Erwin Muhati,6816523101,714942229,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254714942229,6.816523e+09,15.0,228.0,0.0,1.0,1.0,1.0,111
385,callcenter 15,Esther Kemuma,8855673201,700215029,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254700215029,8.855673e+09,85.0,42.0,1194.0,1.0,2.0,3.0,123
386,callcenter 17,Gidnorah Kimbio,9022473201,715138204,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715138204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,callcenter 18,Ibrahim Musa,2097183201,727775941,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254727775941,2.097183e+09,101.0,0.0,177.0,4.0,3.0,2.0,432
388,callcenter 20,Jane Ooko,6953203101,798449650,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254798449650,6.953203e+09,57.0,3.0,45.0,3.0,2.0,2.0,322
389,callcenter 21,Janerose Wanjala,2308783201,712773715,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712773715,2.308783e+09,8.0,10.0,0.0,2.0,1.0,1.0,211
390,callcenter 22,Joseph Kimani,2302403101,795273366,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254795273366,2.302403e+09,84.0,7.0,135.0,2.0,2.0,2.0,222
391,callcenter 23,Josphine Toirai,9164663201,710768593,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710768593,9.164663e+09,2.0,84.0,0.0,1.0,1.0,1.0,111
392,callcenter 24,Lilian Ndunge,8855573201,718599476,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254718599476,8.855573e+09,8.0,16.0,0.0,2.0,1.0,1.0,211
393,callcenter 25,Margaret Nyokabi,7334443201,708766421,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254708766421,7.334443e+09,63.0,9.0,0.0,2.0,2.0,1.0,221
394,callcenter 26,Marystella Atieno,8921853201,790775864,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790775864,8.921853e+09,29.0,0.0,90.0,4.0,2.0,2.0,422
395,callcenter 27,Morris Macharia,8855653201,702392940,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254702392940,8.855653e+09,37.0,14.0,375.0,2.0,2.0,2.0,222
396,callcenter 28,Naomi Chemtai,8855603201,705901004,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254705901004,8.855603e+09,92.0,0.0,462.0,4.0,3.0,2.0,432
397,callcenter 30,Perot Luvembe,6817373101,721419551,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254721419551,6.817373e+09,11.0,232.0,0.0,1.0,1.0,1.0,111
398,callcenter 31,Purity Chelangat,2885313201,713708608,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713708608,2.885313e+09,132.0,11.0,711.0,2.0,3.0,3.0,233
399,callcenter 33,Rosebelle Wanjiru,8855553201,725418283,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725418283,8.855553e+09,37.0,10.0,264.0,2.0,2.0,2.0,222
400,callcenter 35,Silas Mutwol,8855563201,716356788,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254716356788,8.855563e+09,19.0,22.0,132.0,2.0,1.0,2.0,212
401,callcenter 36,Winnie Ojala,8855763201,701125688,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701125688,8.855763e+09,83.0,7.0,753.0,2.0,2.0,3.0,223
402,callcenter 37,Joel Wamae,3660313201,790850705,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790850705,3.660313e+09,105.0,1.0,0.0,3.0,3.0,1.0,331
403,callcenter 38,Dorcas Kioko,2649283201,719897290,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254719897290,2.649283e+09,116.0,4.0,714.0,3.0,3.0,3.0,333
404,tellesales 02,Josephine Ochieng,6637413201,715812674,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715812674,6.637413e+09,3.0,0.0,0.0,4.0,1.0,1.0,411
405,tellesales 03,Catherine Mutua,6892413201,712932972,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712932972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,tellesales 04,Belinda Jepkoech,8743413201,722339409,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254722339409,8.743413e+09,31.0,0.0,309.0,4.0,2.0,2.0,422
407,tellesales 06,Berine Otieno,2344793201,710789517,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710789517,2.344793e+09,34.0,22.0,264.0,2.0,2.0,2.0,222
408,tellesales 07,Elizabeth Monga're,6637223201,713698117,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713698117,6.637223e+09,29.0,0.0,0.0,4.0,2.0,1.0,421
409,tellesales 08,Eric Mwangi,6056373102,743235799,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254743235799,6.056373e+09,1.0,203.0,0.0,1.0,1.0,1.0,111
410,tellesales 09,ParisHerman,9470443201,726308069,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254726308069,9.470443e+09,26.0,0.0,0.0,4.0,2.0,1.0,421

In [84]:
staff_account_limit.query('RFMScore>0')

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,National_id,whizz_phone,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,8515233,254722310293,2.000033e+09,158.0,4.0,1716.0,3.0,3.0,3.0,333
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,9778506,254722466794,2.000033e+09,26.0,3.0,0.0,3.0,2.0,1.0,321
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6141908,254722338270,2.000035e+09,1.0,258.0,0.0,1.0,1.0,1.0,111
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,10874594,254722559933,2.000033e+09,245.0,1.0,1611.0,3.0,3.0,3.0,333
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,9328141,254722859902,2.000033e+09,471.0,0.0,2841.0,4.0,4.0,4.0,444
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,10314300,254721249078,2.000033e+09,148.0,0.0,1083.0,4.0,3.0,3.0,433
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,10269408,254720269385,2.000033e+09,825.0,0.0,6642.0,4.0,4.0,4.0,444
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,10880731,254722633539,2.000033e+09,521.0,1.0,2232.0,3.0,4.0,4.0,344
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,8182751,254714606788,2.000033e+09,1052.0,0.0,3840.0,4.0,4.0,4.0,444
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,10087038,254722790605,2.000033e+09,225.0,0.0,1590.0,4.0,3.0,3.0,433
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,8071579,254722445823,2.000033e+09,127.0,0.0,489.0,4.0,3.0,2.0,432
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,11669628,254722506128,2.000033e+09,296.0,0.0,1059.0,4.0,4.0,3.0,443
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,11210826,254722992269,2.000033e+09,243.0,0.0,1374.0,4.0,3.0,3.0,433
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,10474968,254722232012,2.000033e+09,87.0,20.0,579.0,2.0,2.0,3.0,223
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,11410273,254722858740,2.000033e+09,116.0,0.0,1305.0,4.0,3.0,3.0,433
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,6060445,254712603278,2.000033e+09,239.0,9.0,690.0,2.0,3.0,3.0,233
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,14692843,254728878117,2.000033e+09,309.0,3.0,1905.0,3.0,4.0,4.0,344
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7570408,254713054217,2.000034e+09,1.0,239.0,0.0,1.0,1.0,1.0,111
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,M3,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,13181862,254722780800,2.000033e+09,702.0,0.0,3066.0,4.0,4.0,4.0,444
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,11606278,254722306171,2.000033e+09,599.0,1.0,4371.0,3.0,4.0,4.0,344
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13073888,254722757293,2.000038e+09,79.0,0.0,111.0,4.0,2.0,2.0,422
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,11584589,254722520892,2.000036e+09,299.0,0.0,2208.0,4.0,4.0,4.0,444
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,10225545,254722258597,2.000036e+09,219.0,1.0,1485.0,3.0,3.0,3.0,333
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,13170860,254722831650,2.000036e+09,425.0,0.0,3219.0,4.0,4.0,4.0,444
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,21945555,254722302365,2.000035e+09,787.0,0.0,5064.0,4.0,4.0,4.0,444
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14530255,254721829879,2.000038e+09,244.0,0.0,1584.0,4.0,3.0,3.0,433
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4440692,254723681065,2.000039e+09,368.0,0.0,3666.0,4.0,4.0,4.0,444
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,3642260,254721750439,2.000033e+09,82.0,7.0,729.0,2.0,2.0,3.0,223
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12761383,254721246093,2.000036e+09,5.0,78.0,0.0,1.0,1.0,1.0,111
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,20698390,254728077290,2.000043e+09,472.0,1.0,3471.0,3.0,4.0,4.0,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,callcenter 07,Charity Mbula,7480373201,718942733,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254718942733,7.480373e+09,34.0,4.0,309.0,3.0,2.0,2.0,322
379,callcenter 09,Davin Moraa,9163013201,724796964,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254724796964,9.163013e+09,24.0,22.0,198.0,2.0,1.0,2.0,212
381,callcenter 11,Emily Rao,8855633201,724629052,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254724629052,8.855633e+09,60.0,48.0,486.0,1.0,2.0,2.0,122
382,callcenter 12,Emma Moragwa,8855593201,725020420,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725020420,8.855593e+09,65.0,1.0,0.0,3.0,2.0,1.0,321
383,callcenter 13,Eric Nzioka,6823003101,701597009,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701597009,6.823003e+09,79.0,4.0,333.0,3.0,2.0,2.0,322
384,callcenter 14,Erwin Muhati,6816523101,714942229,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254714942229,6.816523e+09,15.0,228.0,0.0,1.0,1.0,1.0,111
385,callcenter 15,Esther Kemuma,8855673201,700215029,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254700215029,8.855673e+09,85.0,42.0,1194.0,1.0,2.0,3.0,123
387,callcenter 18,Ibrahim Musa,2097183201,727775941,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254727775941,2.097183e+09,101.0,0.0,177.0,4.0,3.0,2.0,432
388,callcenter 20,Jane Ooko,6953203101,798449650,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254798449650,6.953203e+09,57.0,3.0,45.0,3.0,2.0,2.0,322
389,callcenter 21,Janerose Wanjala,2308783201,712773715,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254712773715,2.308783e+09,8.0,10.0,0.0,2.0,1.0,1.0,211
390,callcenter 22,Joseph Kimani,2302403101,795273366,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254795273366,2.302403e+09,84.0,7.0,135.0,2.0,2.0,2.0,222
391,callcenter 23,Josphine Toirai,9164663201,710768593,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710768593,9.164663e+09,2.0,84.0,0.0,1.0,1.0,1.0,111
392,callcenter 24,Lilian Ndunge,8855573201,718599476,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254718599476,8.855573e+09,8.0,16.0,0.0,2.0,1.0,1.0,211
393,callcenter 25,Margaret Nyokabi,7334443201,708766421,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254708766421,7.334443e+09,63.0,9.0,0.0,2.0,2.0,1.0,221
394,callcenter 26,Marystella Atieno,8921853201,790775864,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790775864,8.921853e+09,29.0,0.0,90.0,4.0,2.0,2.0,422
395,callcenter 27,Morris Macharia,8855653201,702392940,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254702392940,8.855653e+09,37.0,14.0,375.0,2.0,2.0,2.0,222
396,callcenter 28,Naomi Chemtai,8855603201,705901004,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254705901004,8.855603e+09,92.0,0.0,462.0,4.0,3.0,2.0,432
397,callcenter 30,Perot Luvembe,6817373101,721419551,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254721419551,6.817373e+09,11.0,232.0,0.0,1.0,1.0,1.0,111
398,callcenter 31,Purity Chelangat,2885313201,713708608,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713708608,2.885313e+09,132.0,11.0,711.0,2.0,3.0,3.0,233
399,callcenter 33,Rosebelle Wanjiru,8855553201,725418283,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254725418283,8.855553e+09,37.0,10.0,264.0,2.0,2.0,2.0,222
400,callcenter 35,Silas Mutwol,8855563201,716356788,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254716356788,8.855563e+09,19.0,22.0,132.0,2.0,1.0,2.0,212
401,callcenter 36,Winnie Ojala,8855763201,701125688,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254701125688,8.855763e+09,83.0,7.0,753.0,2.0,2.0,3.0,223
402,callcenter 37,Joel Wamae,3660313201,790850705,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254790850705,3.660313e+09,105.0,1.0,0.0,3.0,3.0,1.0,331
403,callcenter 38,Dorcas Kioko,2649283201,719897290,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254719897290,2.649283e+09,116.0,4.0,714.0,3.0,3.0,3.0,333
404,tellesales 02,Josephine Ochieng,6637413201,715812674,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254715812674,6.637413e+09,3.0,0.0,0.0,4.0,1.0,1.0,411
406,tellesales 04,Belinda Jepkoech,8743413201,722339409,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254722339409,8.743413e+09,31.0,0.0,309.0,4.0,2.0,2.0,422
407,tellesales 06,Berine Otieno,2344793201,710789517,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254710789517,2.344793e+09,34.0,22.0,264.0,2.0,2.0,2.0,222
408,tellesales 07,Elizabeth Monga're,6637223201,713698117,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254713698117,6.637223e+09,29.0,0.0,0.0,4.0,2.0,1.0,421
409,tellesales 08,Eric Mwangi,6056373102,743235799,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254743235799,6.056373e+09,1.0,203.0,0.0,1.0,1.0,1.0,111
410,tellesales 09,ParisHerman,9470443201,726308069,3000,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254726308069,9.470443e+09,26.0,0.0,0.0,4.0,2.0,1.0,421

In [85]:
def limitAdjuster(x):
    if x in ('111','112','122','133','134','144'):
        return 1.25
    elif x in ('211','221','222','232','233','243','244'):
        return 1.5
    elif x in ('311','321','322','333','343','344'): 
        return 1.75
    elif x in ('422','433','444'): 
        return 2
    else:
        return 1

In [86]:
#,'111','112','122','133','134','144','211','221','222','232','233','243','244','311','321','322','333','343','344','422','433','444'

In [87]:
staff_account_limit['Loan Limit'] = staff_account_limit['Loan Limit'].astype('int64')

In [88]:

#staff_account_limit.RFMScore.unique #staff_account_limit.RFMScore.fillna(0, inplace = True)

In [89]:
#staff_account_limit.RFMScore.unique

In [90]:
staff_account_limit['adjuster'] = staff_account_limit.RFMScore.apply(limitAdjuster)

In [91]:
staff_account_limit["new_limit_25_Dec"] = staff_account_limit['Loan Limit'] *staff_account_limit['adjuster']

In [92]:
staff_account_limit.dtypes

Pfno                             object
Name                             object
ACCOUNT                          object
MOBILE                           object
Loan Limit                        int64
Type of whizz Account            object
cust_id                         float64
target saving                   float64
fixed saving                    float64
opening date             datetime64[ns]
grade                            object
income proxy                    float64
accountNumber                   float64
cbsCustomerID                   float64
customerID                      float64
customerNames                    object
idNumber                         object
mobileNumber                    float64
productCode                     float64
National_id                      object
whizz_phone                       int64
ACCOUNT_NUMBER                  float64
frequency                       float64
recency                         float64
monetary_value                  float64
r_quartile                      float64
f_quartile                      float64
m_quartile                      float64
RFMScore                         object
adjuster                        float64
new_limit_25_Dec                float64
dtype: object

In [93]:
staff_account_limit.head()
staff_account_limit_nov_2019 = staff_account_limit[["Pfno", "Name","ACCOUNT","Loan Limit" ,"whizz_phone", "new_limit_25_Dec"]]

In [94]:
staff_account_limit_nov_2019

,Pfno,Name,ACCOUNT,Loan Limit,whizz_phone,new_limit_25_Dec
0,363,Lucy Wangui Ndungu,2000032981,6000,254722310293,10500.0
1,390,Rospa Jepngetich Kandie,2000033147,6000,254722466794,10500.0
2,403,Alice Wanjiru Weru,2000035405,6000,254722338270,7500.0
3,415,George Mburu Karanu,2000032902,18000,254722559933,31500.0
4,436,Eric Kiptoo Kosgei,2000033074,6000,254722859902,12000.0
5,439,David Kimutai Kirui,2000033024,6000,254721249078,12000.0
6,441,Esther Wambui Muya,2000033121,6000,254720269385,12000.0
7,450,Jane Wambui Kuria,2000032960,12000,254722633539,21000.0
8,462,Gordon Mbigo Nyagudi,2000033031,18000,254714606788,36000.0
9,463,Lucy Njoki Njogu,2000033205,12000,254722790605,24000.0
10,466,Eunice Wanja Kuria,2000032956,6000,254722445823,6000.0
11,480,Samuel Njuguna Mugo,2000033168,6000,254722506128,6000.0
12,504,Dickson Nyaga Njagi,2000033067,6000,254722992269,12000.0
13,515,Joyce Wangu .,2000033071,6000,254722232012,6000.0
14,516,Joyce Muthoni Wambugu,2000033182,6000,254722858740,12000.0
15,551,Joseph Karanja Githu,2000032977,6000,254712603278,9000.0
16,562,Rachel Sirma Cheren,2000033056,18000,254728878117,31500.0
17,564,Mary Wambui Kimemia,2000033683,12000,254713054217,15000.0
18,571,Annsity Makena Mbaya,2000033190,6000,254722780800,12000.0
19,596,Geofrey Mwaura Ngari,2000033012,30000,254722306171,52500.0
20,606,Anne Nkirote Murugu,2000038279,30000,254722757293,60000.0
21,644,Dorothy Akinyi Opondo,2000036380,6000,254722520892,12000.0
22,659,Esther Waithira Ngirubiu,2000035625,6000,254722258597,10500.0
23,662,Elizabeth Akinyi Nyakundi,2000035556,12000,254722831650,24000.0
24,666,Fridah Bongosa Mcharo,2000035057,18000,254722302365,36000.0
25,687,Oduori Peter Mugeni,2000038045,30000,254721829879,60000.0
26,692,Jane Margaret Surungai,2000038766,30000,254723681065,60000.0
27,709,Florence Mashaka Luganje,2000032959,6000,254721750439,6000.0
28,1005,Mary Wanjiru Gathungu,2000036288,6000,254721246093,7500.0
29,1009,Anthony Ocharo Ombati,2000042996,18000,254728077290,31500.0
...,...,...,...,...,...,...
381,callcenter 11,Emily Rao,8855633201,3000,254724629052,3750.0
382,callcenter 12,Emma Moragwa,8855593201,3000,254725020420,5250.0
383,callcenter 13,Eric Nzioka,6823003101,3000,254701597009,5250.0
384,callcenter 14,Erwin Muhati,6816523101,3000,254714942229,3750.0
385,callcenter 15,Esther Kemuma,8855673201,3000,254700215029,3000.0
386,callcenter 17,Gidnorah Kimbio,9022473201,3000,254715138204,3000.0
387,callcenter 18,Ibrahim Musa,2097183201,3000,254727775941,3000.0
388,callcenter 20,Jane Ooko,6953203101,3000,254798449650,5250.0
389,callcenter 21,Janerose Wanjala,2308783201,3000,254712773715,4500.0
390,callcenter 22,Joseph Kimani,2302403101,3000,254795273366,4500.0
391,callcenter 23,Josphine Toirai,9164663201,3000,254710768593,3750.0
392,callcenter 24,Lilian Ndunge,8855573201,3000,254718599476,4500.0
393,callcenter 25,Margaret Nyokabi,7334443201,3000,254708766421,4500.0
394,callcenter 26,Marystella Atieno,8921853201,3000,254790775864,6000.0
395,callcenter 27,Morris Macharia,8855653201,3000,254702392940,4500.0
396,callcenter 28,Naomi Chemtai,8855603201,3000,254705901004,3000.0
397,callcenter 30,Perot Luvembe,6817373101,3000,254721419551,3750.0
398,callcenter 31,Purity Chelangat,2885313201,3000,254713708608,4500.0
399,callcenter 33,Rosebelle Wanjiru,8855553201,3000,254725418283,4500.0
400,callcenter 35,Silas Mutwol,8855563201,3000,254716356788,3000.0
401,callcenter 36,Winnie Ojala,8855763201,3000,254701125688,3000.0
402,callcenter 37,Joel Wamae,3660313201,3000,254790850705,3000.0
403,callcenter 38,Dorcas Kioko,2649283201,3000,254719897290,5250.0
404,tellesales 02,Josephine Ochieng,6637413201,3000,254715812674,3000.0
405,tellesales 03,Catherine Mutua,6892413201,3000,254712932972,3000.0
406,tellesales 04,Belinda Jepkoech,8743413201,3000,254722339409,6000.0
407,tellesales 06,Berine Otieno,2344793201,3000,254710789517,4500.0
408,tellesales 07,Elizabeth Monga're,6637223201,3000,254713698117,3000.0
409,tellesales 08,Eric Mwangi,6056373102,3000,254743235799,3750.0
410,tellesales 09,ParisHerman,9470443201,3000,254726308069,3000.0

In [95]:
staff_account_limit_nov_2019[staff_account_limit_nov_2019.ACCOUNT.isnull()]

Empty DataFrame
Columns: [Pfno, Name, ACCOUNT, Loan Limit, whizz_phone, new_limit_25_Dec]
Index: []

In [96]:
staff_account_limit.ACCOUNT_NUMBER.isnull().sum()

160

In [97]:
staff_account_limit_nov_2019

,Pfno,Name,ACCOUNT,Loan Limit,whizz_phone,new_limit_25_Dec
0,363,Lucy Wangui Ndungu,2000032981,6000,254722310293,10500.0
1,390,Rospa Jepngetich Kandie,2000033147,6000,254722466794,10500.0
2,403,Alice Wanjiru Weru,2000035405,6000,254722338270,7500.0
3,415,George Mburu Karanu,2000032902,18000,254722559933,31500.0
4,436,Eric Kiptoo Kosgei,2000033074,6000,254722859902,12000.0
5,439,David Kimutai Kirui,2000033024,6000,254721249078,12000.0
6,441,Esther Wambui Muya,2000033121,6000,254720269385,12000.0
7,450,Jane Wambui Kuria,2000032960,12000,254722633539,21000.0
8,462,Gordon Mbigo Nyagudi,2000033031,18000,254714606788,36000.0
9,463,Lucy Njoki Njogu,2000033205,12000,254722790605,24000.0
10,466,Eunice Wanja Kuria,2000032956,6000,254722445823,6000.0
11,480,Samuel Njuguna Mugo,2000033168,6000,254722506128,6000.0
12,504,Dickson Nyaga Njagi,2000033067,6000,254722992269,12000.0
13,515,Joyce Wangu .,2000033071,6000,254722232012,6000.0
14,516,Joyce Muthoni Wambugu,2000033182,6000,254722858740,12000.0
15,551,Joseph Karanja Githu,2000032977,6000,254712603278,9000.0
16,562,Rachel Sirma Cheren,2000033056,18000,254728878117,31500.0
17,564,Mary Wambui Kimemia,2000033683,12000,254713054217,15000.0
18,571,Annsity Makena Mbaya,2000033190,6000,254722780800,12000.0
19,596,Geofrey Mwaura Ngari,2000033012,30000,254722306171,52500.0
20,606,Anne Nkirote Murugu,2000038279,30000,254722757293,60000.0
21,644,Dorothy Akinyi Opondo,2000036380,6000,254722520892,12000.0
22,659,Esther Waithira Ngirubiu,2000035625,6000,254722258597,10500.0
23,662,Elizabeth Akinyi Nyakundi,2000035556,12000,254722831650,24000.0
24,666,Fridah Bongosa Mcharo,2000035057,18000,254722302365,36000.0
25,687,Oduori Peter Mugeni,2000038045,30000,254721829879,60000.0
26,692,Jane Margaret Surungai,2000038766,30000,254723681065,60000.0
27,709,Florence Mashaka Luganje,2000032959,6000,254721750439,6000.0
28,1005,Mary Wanjiru Gathungu,2000036288,6000,254721246093,7500.0
29,1009,Anthony Ocharo Ombati,2000042996,18000,254728077290,31500.0
...,...,...,...,...,...,...
381,callcenter 11,Emily Rao,8855633201,3000,254724629052,3750.0
382,callcenter 12,Emma Moragwa,8855593201,3000,254725020420,5250.0
383,callcenter 13,Eric Nzioka,6823003101,3000,254701597009,5250.0
384,callcenter 14,Erwin Muhati,6816523101,3000,254714942229,3750.0
385,callcenter 15,Esther Kemuma,8855673201,3000,254700215029,3000.0
386,callcenter 17,Gidnorah Kimbio,9022473201,3000,254715138204,3000.0
387,callcenter 18,Ibrahim Musa,2097183201,3000,254727775941,3000.0
388,callcenter 20,Jane Ooko,6953203101,3000,254798449650,5250.0
389,callcenter 21,Janerose Wanjala,2308783201,3000,254712773715,4500.0
390,callcenter 22,Joseph Kimani,2302403101,3000,254795273366,4500.0
391,callcenter 23,Josphine Toirai,9164663201,3000,254710768593,3750.0
392,callcenter 24,Lilian Ndunge,8855573201,3000,254718599476,4500.0
393,callcenter 25,Margaret Nyokabi,7334443201,3000,254708766421,4500.0
394,callcenter 26,Marystella Atieno,8921853201,3000,254790775864,6000.0
395,callcenter 27,Morris Macharia,8855653201,3000,254702392940,4500.0
396,callcenter 28,Naomi Chemtai,8855603201,3000,254705901004,3000.0
397,callcenter 30,Perot Luvembe,6817373101,3000,254721419551,3750.0
398,callcenter 31,Purity Chelangat,2885313201,3000,254713708608,4500.0
399,callcenter 33,Rosebelle Wanjiru,8855553201,3000,254725418283,4500.0
400,callcenter 35,Silas Mutwol,8855563201,3000,254716356788,3000.0
401,callcenter 36,Winnie Ojala,8855763201,3000,254701125688,3000.0
402,callcenter 37,Joel Wamae,3660313201,3000,254790850705,3000.0
403,callcenter 38,Dorcas Kioko,2649283201,3000,254719897290,5250.0
404,tellesales 02,Josephine Ochieng,6637413201,3000,254715812674,3000.0
405,tellesales 03,Catherine Mutua,6892413201,3000,254712932972,3000.0
406,tellesales 04,Belinda Jepkoech,8743413201,3000,254722339409,6000.0
407,tellesales 06,Berine Otieno,2344793201,3000,254710789517,4500.0
408,tellesales 07,Elizabeth Monga're,6637223201,3000,254713698117,3000.0
409,tellesales 08,Eric Mwangi,6056373102,3000,254743235799,3750.0
410,tellesales 09,ParisHerman,9470443201,3000,254726308069,3000.0

In [98]:
staff_account_limit.query('National_id == 24064275 ') #22197290   24991210   22716536

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,National_id,whizz_phone,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore,adjuster,new_limit_25_Dec
61,1195,Benson Kennedy Irungu Karanja,2000081220,727551719,6000,STAFF SALARY ACCOUNT,117648.0,0.0,0.0,2010-04-30,03,10000.0,2.000081e+09,117648.0,47117.0,BENSON KARANJA,24064275,2.547276e+11,31111.0,24064275,254727551719,2.000081e+09,154.0,0.0,1173.0,4.0,3.0,3.0,433,2.0,12000.0

import psycopg2
t
    connection = psycopg2.connect(user = "datawarehouse",
                                  password = "P@ssw0rd",
                                  host = "128.2.4.15",
                                  port = "5432",
                                  database = "datawarehouse")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
            
            
            dbname = "datawarehouse",
                 host = "128.2.4.15", port = 5432,
                 user = "datawarehouse", password = pw)

import psycopg2
    connection = psycopg2.connect(user = "datawarehouse",
                                  password = "P@ssw0rd",
                                  host = "128.2.4.15",
                                  port = "5432",
                                  database = "datawarehouse")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

In [103]:
loan_info = '''SELECT l.*,
 case when (CASE WHEN  DATE_CLOSED IS NULL THEN SYSDATE ELSE E.DATE_CLOSED  END)>L.ACC_EXP_DT then 'Default' else 'On time' end as status,
       CASE WHEN  DATE_CLOSED IS NULL THEN SYSDATE ELSE E.DATE_CLOSED  END as loan_close_date,
       (CASE WHEN  DATE_CLOSED IS NULL THEN SYSDATE ELSE E.DATE_CLOSED  END - L.ACC_EXP_DT) as Days_stayed_loan,
        l.ACC_OPEN_DT,to_char(CASE WHEN  DATE_CLOSED IS NULL THEN SYSDATE ELSE E.DATE_CLOSED  END-ACC_OPEN_DT) as Days_Stayed_with_loan,
CUST.SEX,
Oth.ID_NO,
to_char(round((SYSDATE-cust.DATE_OF_BIRTH)/365)) as AGE

FROM PROD.LNS_INSTANT_LOANS L
left join STAGING.W_EOM_ACCOUNT E on(E.ACCOUNT_NUMBER=L.LOAN_ACCOUNT)
left join PROD.OTHER_ID oth on (L.CUST_ID = oth.FK_CUSTOMERCUST_ID and oth.MAIN_FLAG = '1' )
left join PROD.CUSTOMER CUST on (CUST.CUST_ID = L.CUST_ID)
--FROM PROD.LNS_INSTANT_LOANS lns
where
trunc(L.TMSTAMP) >= '01-NOV-18'
and trunc(L.TMSTAMP) <= '31-DEC-19'
and L.MOBILE_TEL IN ('254722310293','254722466794','254722338270','254722559933','254722859902','254721249078','254720269385','254722633539','254714606788','254722790605','254722445823','254722506128','254722992269','254722232012','254722858740','254712603278','254728878117','254713054217','254722780800','254722306171','254722757293','254722520892','254722258597','254722831650','254722302365','254721829879','254723681065','254721750439','254721246093','254728077290','254728806687','254721246564','254710354925','254720862119','254722586861','254720865415','254720820054','254720478716','254724830153','254720700494','254724147213','254724291393','254722628054','254723456354','254701016677','254720777221','254720711124','254722394554','254723639144','254716216783','254724811282','254720259742','254721289875','254722932606','254728592319','254722222024','254712315535','254722369124','254726907634','254722991012','254722720060','254727551719','254724899710','254727175120','254721100295','254723394259','254726595752','254728071919','254722623336','254725501622','254722581540','254738905760','254721236122','254724274733','254720360443','254723334483','254725221432','254723383740','254724129816','254723482372','254729942258','254722826853','254719137994','254726998733','254725616377','254726540779','254727200743','254722332864','254725069276','254728068518','254700317499','254728216722','254724319721','254728039840','254720460923','254725815911','254725369659','254722705241','254712920859','254727337536','254720329647','254714402811','254726524275','254726359802','254728115798','254729340990','254712445933','254721703004','254720927052','254729498494','254721491324','254726930420','254715227650','254729035091','254722449643','254729340110','254725581520','254729833861','254721258123','254722392101','254724831069','254721236857','254722465748','254711922266','254720291470','254727796789','254717816467','254726543830','254721277333','254721686033','254722758354','254721426120','254721605385','254729485284','254732742271','254724315253','254721681281','254722477059','254726909476','254723282771','254710614827','254711175250','254713347128','254722214090','254713250705','254735911019','254711581765','254720385702','254722268758','254716749294','254722218960','254723446179','254723788794','254726472090','254716628304','254722269099','254714538554','254716023204','254725836265','254727744900','254724503789','254725630029','254723152851','254707492123','254721307899','254727291363','254720067288','254726293194','254721917152','254716286925','254712699832','254712816038','254714318327','254715862783','254713370626','254721452597','254722857259','254727241967','254727066314','254721278062','254710306435','254728814964','254715681200','254710323937','254711777893','254725161204','254727597342','254726455777','254725500056','254722426388','254725464237','254725690430','254720880342','254727560197','254721676613','254722608265','254726784200','254728105793','254722258004','254721207942','254726374365','254727461268','254718152062','254723680337','254725402891','254722333639','254722780090','254728935742','254721883439','254706551162','254711175089','254711525282','254716171086','254722156950','254723050484','254716315570','254723281297','254726466455','254724587924','254712349280','254722386984','254715030573','254720018494','254724718652','254726617753','254710760282','254728018749','254717596610','254723096985','254715684937','254717334392','254720070222','254725634581','254720802377','254726499099','254722626692','254711499852','254719572359','254727951127','254723016138','254721361834','254722352401','254721904654','254720935672','254724239611','254726126333','254721854162','254721443118','254722600172','254720264890','254722610274','254725791331','254723417304','254723845939','254723830315','254712449513','254722730071','254724890857','254700016072','254725549167','254726089016','254700304986','254723110436','254726206399','254724598283','254712758682','254701561835','254724282358','254707137333','254720805885','254721250373','254724985708','254717358019','254723491292','254700150693','254721554699','254720256476','254721416953','254725604868','254722885729','254729505957','254700012845','254720863868','254728658693','254711326395','254712806795','254733128157','254722397922','254706986082','254713326546','254724016691','254710194825','254723252774','254725025105','254720872039','254790705567','254746614239','254718099368','254706839192','254723022392','254700388366','254713296862','254706320903','254717745601','254717964803','254729487129','254715098322','254729216220','254719229760','254708948161','254719596589','254799541199','254713646923','254713994187','254780491114','254712879444','254790847868','254721645190','254716157271','254722895047','254716844363','254715243805','254726790781','254711409301','254720797994','254724215509','254742185842','254711147826','254729665465','254725300081','254724542852','254726838746','254713069852','254729471266','254726442656','254714009108','254700478128','254705902239','254700423062','254715197935','254702842523','254725837453','254714250961','254721137841','254704576375','254700399203','254727389342','254701763861','254705082062','254706581312','254725168343','254723215317','254721352802','254722783626','254716199057','254799054321','254720319899','254723594331','254710819074','254717048127','254729373548','254713901942','254780594331','254724252961','254741053087','254724044709','254727114520','254726704956','254724001457','254713603163','254722977981','254713605651','254721462728','254701628012','254718560895','254727725508','254701719486','254718942733','254723292173','254724796964','254711667511','254724629052','254725020420','254701597009','254714942229','254700215029','254715138204','254727775941','254798449650','254712773715','254795273366','254710768593','254718599476','254708766421','254790775864','254702392940','254705901004','254721419551','254713708608','254725418283','254716356788','254701125688','254790850705','254719897290','254715812674','254712932972','254722339409','254710789517','254713698117','254743235799','254726308069')
ORDER BY L.TMSTAMP DESC'''
loan_info_1 = pd.read_sql_query(loan_info, connection)
loan_info_1

,CUST_ID,LOAN_ACCOUNT,TMSTAMP,LOANS_PROGRAM_ID,PROGRAM_CURRENCY,MOBILE_TEL,LOAN_CD,AGREEMENT_ACCOUNT,AGREEMENT_CD,DEPOSIT_ACCOUNT,DEPOSIT_CD,C_DIGIT,INSTANT_LOAN_AMOUNT,INSTALL_FREQ,INSTALL_COUNT,ACC_OPEN_DT,ACC_EXP_DT,TRX_USER,BANKEMPLOYEE,ALLOCATION_TYPE,COLLATERAL_SN,APPLICATION_ID,LOAN_CAPITAL,LOAN_INTEREST,LOAN_EXPENCES,LOAN_COMMISSION,DEPOSIT_AMOUNT,TRX_COMMENTS,STATUS,LOAN_CLOSE_DATE,DAYS_STAYED_LOAN,ACC_OPEN_DT,DAYS_STAYED_WITH_LOAN,SEX,ID_NO,AGE
0,21571,0600214924,2019-12-20 12:18:28.304,1,22,254722992269,42,190000223420,37,2000033067,0,2,9000.0,0,0,2019-12-20,2020-01-18,KOCE0001,KOCE0001,1,0,214924,9000.0,270.00,0.0,648.0,8082.00,,On time,2019-12-20 18:17:37,-28.237766,2019-12-20,.762233796296296296296296296296296296296,M,11210826,50
1,193509,0600214906,2019-12-20 09:19:23.804,1,22,254727461268,46,190000223400,41,1935093201,0,2,4000.0,0,0,2019-12-20,2020-01-18,KOCE0001,KOCE0001,1,0,214906,4000.0,120.00,0.0,288.0,3592.00,,On time,2019-12-20 18:17:37,-28.237766,2019-12-20,.762233796296296296296296296296296296296,M,25954679,32
2,158122,0600214868,2019-12-19 16:58:05.226,1,22,254722465748,50,190000223362,45,7050000311,0,1,20000.0,0,0,2019-12-19,2020-01-17,KOCE0001,KOCE0001,1,0,214868,20000.0,600.00,0.0,1440.0,17960.00,,On time,2019-12-20 18:17:37,-27.237766,2019-12-19,1.7622337962962962962962962962962962963,F,21962036,40
3,146685,0600214810,2019-12-19 00:26:41.171,1,22,254726524275,83,190000223291,78,7050000246,0,9,2300.0,0,0,2019-12-19,2020-01-17,KOCE0001,KOCE0001,1,0,214810,2300.0,69.00,0.0,165.6,2065.40,,On time,2019-12-20 18:17:37,-27.237766,2019-12-19,1.7622337962962962962962962962962962963,F,26298503,31
4,146685,0600214810,2019-12-19 00:26:41.171,1,22,254726524275,83,190000223291,78,7050000246,0,9,2300.0,0,0,2019-12-19,2020-01-17,KOCE0001,KOCE0001,1,0,214810,2300.0,69.00,0.0,165.6,2065.40,,On time,2019-12-20 18:17:37,-27.237766,2019-12-19,1.7622337962962962962962962962962962963,F,26298503,31
5,190202,0600214807,2019-12-18 22:43:45.349,1,22,254725161204,52,190000223288,47,7050000475,0,1,1000.0,0,0,2019-12-19,2020-01-16,KOCE0001,KOCE0001,1,0,214807,1000.0,30.00,0.0,72.0,898.00,,On time,2019-12-19 00:00:00,-28.000000,2019-12-19,0,M,24015602,35
6,190202,0600214807,2019-12-18 22:43:45.349,1,22,254725161204,52,190000223288,47,7050000475,0,1,1000.0,0,0,2019-12-19,2020-01-16,KOCE0001,KOCE0001,1,0,214807,1000.0,30.00,0.0,72.0,898.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-19,1.7622337962962962962962962962962962963,M,24015602,35
7,198783,0600214759,2019-12-18 10:51:55.257,1,22,254726466455,15,190000223231,10,1987833101,0,0,9000.0,0,0,2019-12-18,2020-01-16,KOCE0001,KOCE0001,1,0,214759,9000.0,270.00,0.0,648.0,8082.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-18,2.7622337962962962962962962962962962963,M,25807919,32
8,198783,0600214759,2019-12-18 10:51:55.257,1,22,254726466455,15,190000223231,10,1987833101,0,0,9000.0,0,0,2019-12-18,2020-01-16,KOCE0001,KOCE0001,1,0,214759,9000.0,270.00,0.0,648.0,8082.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-18,2.7622337962962962962962962962962962963,M,25807919,32
9,115310,0600214738,2019-12-18 05:12:35.525,1,22,254722369124,84,190000223209,79,2000079432,0,8,3000.0,0,0,2019-12-18,2020-01-16,KOCE0001,KOCE0001,1,0,214738,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-18,2.7622337962962962962962962962962962963,F,12407927,47
10,115310,0600214738,2019-12-18 05:12:35.525,1,22,254722369124,84,190000223209,79,2000079432,0,8,3000.0,0,0,2019-12-18,2020-01-16,KOCE0001,KOCE0001,1,0,214738,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-18,2.7622337962962962962962962962962962963,F,12407927,47
11,115310,0600214738,2019-12-18 05:12:35.525,1,22,254722369124,84,190000223209,79,2000079432,0,8,3000.0,0,0,2019-12-18,2020-01-16,KOCE0001,KOCE0001,1,0,214738,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-26.237766,2019-12-18,2.7622337962962962962962962962962962963,F,12407927,47
12,92780,0600214730,2019-12-17 18:36:08.031,1,22,254723456354,31,190000223201,26,2000060841,0,5,4500.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214730,4500.0,135.00,0.0,324.0,4041.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24535166,36
13,92780,0600214730,2019-12-17 18:36:08.031,1,22,254723456354,31,190000223201,26,2000060841,0,5,4500.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214730,4500.0,135.00,0.0,324.0,4041.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24535166,36
14,92780,0600214730,2019-12-17 18:36:08.031,1,22,254723456354,31,190000223201,26,2000060841,0,5,4500.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214730,4500.0,135.00,0.0,324.0,4041.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24535166,36
15,906991,0600214727,2019-12-17 18:14:16.945,1,22,254729216220,0,190000223198,92,9069913201,0,5,3000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214727,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,F,27257746,31
16,906991,0600214727,2019-12-17 18:14:16.945,1,22,254729216220,0,190000223198,92,9069913201,0,5,3000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214727,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,F,27257746,31
17,906991,0600214727,2019-12-17 18:14:16.945,1,22,254729216220,0,190000223198,92,9069913201,0,5,3000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214727,3000.0,90.00,0.0,216.0,2694.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,F,27257746,31
18,661551,0600214654,2019-12-17 12:47:32.362,1,22,254721462728,54,190000223123,49,6615513201,0,3,25000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214654,25000.0,750.00,0.0,1800.0,22450.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24454342,35
19,661551,0600214654,2019-12-17 12:47:32.362,1,22,254721462728,54,190000223123,49,6615513201,0,3,25000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214654,25000.0,750.00,0.0,1800.0,22450.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24454342,35
20,661551,0600214654,2019-12-17 12:47:32.362,1,22,254721462728,54,190000223123,49,6615513201,0,3,25000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214654,25000.0,750.00,0.0,1800.0,22450.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24454342,35
21,908005,0600214653,2019-12-17 12:35:55.713,1,22,254722895047,11,190000223121,6,9080053201,0,6,2000.0,0,0,2019-12-17,2020-01-15,KOCE0002,KOCE0002,1,0,214653,2000.0,60.00,0.0,144.0,1796.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24991912,33
22,908005,0600214653,2019-12-17 12:35:55.713,1,22,254722895047,11,190000223121,6,9080053201,0,6,2000.0,0,0,2019-12-17,2020-01-15,KOCE0002,KOCE0002,1,0,214653,2000.0,60.00,0.0,144.0,1796.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24991912,33
23,908005,0600214653,2019-12-17 12:35:55.713,1,22,254722895047,11,190000223121,6,9080053201,0,6,2000.0,0,0,2019-12-17,2020-01-15,KOCE0002,KOCE0002,1,0,214653,2000.0,60.00,0.0,144.0,1796.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,24991912,33
24,155258,0600214646,2019-12-17 11:55:30.802,1,22,254722477059,2,190000223113,94,2000100557,0,9,20000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214646,20000.0,600.00,0.0,1440.0,17960.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,22490081,37
25,155258,0600214646,2019-12-17 11:55:30.802,1,22,254722477059,2,190000223113,94,2000100557,0,9,20000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214646,20000.0,600.00,0.0,1440.0,17960.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,22490081,37
26,155258,0600214646,2019-12-17 11:55:30.802,1,22,254722477059,2,190000223113,94,2000100557,0,9,20000.0,0,0,2019-12-17,2020-01-15,KOCE0001,KOCE0001,1,0,214646,20000.0,600.00,0.0,1440.0,17960.00,,On time,2019-12-20 18:17:37,-25.237766,2019-12-17,3.7622337962962962962962962962962962963,M,22490081,37
27,906973,0600214614,2019-12-16 18:57:24.748,1,22,254723022392,84,190000223080,79,9069733201,0,7,1500.0,0,0,2019-12-16,2020-01-14,KOCE0001,KOCE0001,1,0,214614,1500.0,45.00,0.0,108.0,1347.00,,On time,2019-12-20 18:17:37,-24.237766,2019-12-16,4.7622337962962962962962962962962962963,M,23389814,35
28,906973,0600214614,2019-12-16 18:57:24.748,1,22,254723022392,84,190000223080,79,9069733201,0,7,1500.0,0,0,2019-12-16,2020-01-14,KOCE0001,KOCE0001,1,0,214614,1500.0,45.00,0.0,108.0,1347.00,,On time,2019-12-20 18:17:37,-24.237766,2019-12-16,4.7622337962962962962962962962962962963,M,23389814,35
29,906973,0600214614,2019-12-16 18:57:24.748,1,22,254723022392,84,190000223080,79,9069733201,0,7,1500.0,0,0,2019-12-16,2020-01-14,KOCE0001,KOCE0001,1,0,214614,1500.0,45.00,0.0,108.0,1347.00,,On time,2019-12-20 18:17:37,-24.237766,2019-12-16,4.7622337962962962962962962962962962963,M,23389814,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243630,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243631,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243632,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243633,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243634,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243635,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243636,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243637,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243638,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243639,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243640,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243641,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243642,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243643,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243644,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243645,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243646,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243647,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243648,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243649,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243650,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243651,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243652,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243653,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243654,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243655,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243656,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243657,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243658,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32
243659,160217,0600026234,2018-11-01 11:46:32.515,1,22,254717816467,63,190000032995,58,2000101981,0,9,7000.0,0,0,2018-11-01,2018-11-30,KOCE0008,KOCE0008,1,0,26234,7000.0,75.83,0.0,504.0,6420.17,,On time,2018-11-16 00:00:00,-14.000000,2018-11-01,15,F,26117286,32

In [105]:
loan_info_2 =loan_info_1

In [107]:
unique(loan_info_2.STATUS)

NameError: name 'unique' is not defined

In [54]:
export_csv = staff_account_limit_nov_2019.to_csv (r'/Users/allan.aswani/Documents/scorecardworks/staff_account_limit_dec_2019.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [35]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')