In [218]:
import pandas as pd
import sqlalchemy as db
import cx_Oracle as orcl
import datetime as dt
import numpy as np

print("cx_Oracle.version:", orcl.version)
# show all columns without without truncating
pd.set_option('display.max_columns', None)
import sys
reload(sys)
sys.setdefaultencoding('utf8')

('cx_Oracle.version:', '7.2.3')

In [ ]:
host = "10.21.18.15"
port = "1521"
sid = "PROFITSDB"
dsn = orcl.makedsn(host, port, sid)
connection = orcl.connect("mobileuser","Kenya1234##", dsn)
cur = orcl.Cursor(connection)

In [2]:
host = "10.21.18.13"
port = "1521"
sid = "ECHODB1"
dsn = orcl.makedsn(host, port, sid)
connection = orcl.connect("ALLAN.ASWANI","Password1!", dsn)
cur = orcl.Cursor(connection)

In [219]:
host="128.2.5.46"
port="1521"
sid="PROFITSDB"
username="MOBILEUSER"
password="nathan"
dsn_tns = orcl.makedsn(host, port,sid)
connection = orcl.connect(user=username, password=password, dsn=dsn_tns)
cur = orcl.Cursor(connection)

##checking customer information
statements = """SELECT * FROM CUSTOMER"""
customer = pd.read_sql_query(statements, connection)
pd.set_option('display.max_columns', None)
customer.head(4)

###latest customer numbers
customer.tail(4)

statement_trx = """select P.ACCOUNT_NUMBER,p.cust_id,
trim(C.SURNAME) || ' '|| trim(C.FIRST_NAME) ||' ' || trim(C.MIDDLE_NAME) as name,
D.ID_TRANSACT,
d.TIMESTAMP,
D.ID_JUSTIFIC,
J.DESCRIPTION,
DECODE (D.DEBIT_CREDIT_FLAG,'2','CR','1','DR') "DR/CR",
D.ENTRY_AMOUNT,
D.PREV_ACC_BALANCE, 
D.VALUE_DATE,
D.TRX_USR,
D.ENTRY_COMMENTS
from fst_demand_extrait d, justific j, profits_account p, customer c
where
D.ID_JUSTIFIC = J.ID_JUSTIFIC
and
P.CUST_ID = C.CUST_ID
and
D.FK_DEPOSIT_ACCOACC= P.DEP_ACC_NUMBER
and p.PRFT_SYSTEM=3
and trunc(d.TIMESTAMP) >= to_date('01-06-2019','dd-mm-yyyy')
and trunc(d.TIMESTAMP) <= to_date('30-09-2019','dd-mm-yyyy')
order by D.VALUE_DATE asc"""
trxns_data = pd.read_sql_query(statement_trx, connection)
pd.set_option('display.max_columns', None)
trxns_data.head(10)


trxns_data.tail(10)

In [221]:
statement_trx_4 = '''select D.TMSTAMP,
D.TRX_DATE,
d.TRX_UNIT,
d.TRX_USR,
d.TRX_USR_SN,
d.TUN_INTERNAL_SN,
trim(to_char(D.TRX_DATE,'yyyymmdd'))||''||trim(D.TRX_UNIT)||''||trim(D.TRX_USR)||''||trim (abs(D.TRX_USR_SN) -1)||''||trim(D.TUN_INTERNAL_SN) as TRANSACTION_REF,
P.ID_PRODUCT,
P.DESCRIPTION AS PRODUCT_DESCRIPTION,
R.ACCOUNT_NUMBER, 
A.FK_CUSTOMERCUST_ID,
C.ID_NO AS NATIONAL_ID,
S.MOBILE_TEL,
A.DESIGNATION AS ACCOUNT_NAME,
D.I_ID_JUSTIFIC,
J.DESCRIPTION AS TRANSACTION_TYPE,
ABS (D.I_AMOUNT) "TRANSACTION_AMOUNT",
D.ACC_AMOUNT_40 AS COMMISSION,
D.ACC_AMOUNT_42 AS "EXCISE DUTY",
D.O_FINAL_ACC_AMOUNT AS TOTAL_TRX_AMOUNT,
D.I_COMMENTS TRX_COMMENTS,
F.REVERSE_FLAG, 
F.REVERSED_TRX_FLAG

from prod.DEP_TRX_RECORDING D, prod.JUSTIFIC J, prod.PRODUCT P, prod.DEPOSIT_ACCOUNT A, prod.PROFITS_ACCOUNT R, prod.FST_DEMAND_EXTRAIT F, prod.OTHER_ID C, prod.CUSTOMER S 
WHERE 
A.ACCOUNT_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = F.FK_DEPOSIT_ACCOACC
and A.ACCOUNT_NUMBER = F.FK_DEPOSIT_ACCOACC
AND C.FK_CUSTOMERCUST_ID=A.FK_CUSTOMERCUST_ID
AND D.ID_PRODUCT = P.ID_PRODUCT
AND D.I_ID_JUSTIFIC = J.ID_JUSTIFIC
AND A.FK_CUSTOMERCUST_ID=S.CUST_ID
AND F.TRX_DATE = D.TRX_DATE   
AND F.TRX_UNIT  = D.TRX_UNIT 
AND F.TRX_SN = D.TRX_USR_SN 
AND F.TRX_USR = D.TRX_USR
and F.TUN_INTERNAL_SN = D.TUN_INTERNAL_SN 
AND TRUNC(D.TMSTAMP) between TO_DATE('01-01-2019', 'dd-mm-yyyy') and 
TO_DATE('25-12-2019', 'dd-mm-yyyy') 
--AND D.I_ID_JUSTIFIC IN (31804,31805,31815,32096,32097,32099,32096,32097,32099) 
AND R.PRFT_SYSTEM = 3
AND R.PRODUCT_ID NOT IN ('36000','35000','34000')
AND F.REVERSE_FLAG =0
AND F.REVERSED_TRX_FLAG=0
'''
trxns_data_trx_4 = pd.read_sql_query(statement_trx_4, connection)
trxns_data_trx_4

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
1,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
2,2019-01-01 00:40:58,2018-12-31,100,99974431,7095,1,201812311009997443170941,31572,VIRTUAL ACCOUNT MOBILE,4449343201,444934,27161560,254716801532,ESTHER NG'ANG'A ...,34006,STANDING ORDER PAYMENT,5.25,0.0,0.0,-5.25,LOANS STANDING ORDER.74431-0600043404,0,0
3,2019-01-01 00:41:32,2018-12-31,100,99974431,7395,1,201812311009997443173941,31572,VIRTUAL ACCOUNT MOBILE,4449413201,444941,32131713,254715554386,SIPHIRA MUHIA ...,34006,STANDING ORDER PAYMENT,15.31,0.0,0.0,-15.31,LOANS STANDING ORDER.74431-0600043572,0,0
4,2019-01-01 00:39:10,2018-12-31,100,99974431,6183,1,201812311009997443161821,31572,VIRTUAL ACCOUNT MOBILE,4469103201,446910,13326017,254723516353,GEORGE ONGERA ...,34006,STANDING ORDER PAYMENT,34.00,0.0,0.0,-34.00,LOANS STANDING ORDER.74431-0600042890,0,0
5,2019-01-01 00:35:30,2018-12-31,100,99974431,5010,1,201812311009997443150091,31572,VIRTUAL ACCOUNT MOBILE,4470923201,447092,21170950,254710231206,MILLYCENT OTIENO ...,34006,STANDING ORDER PAYMENT,81.17,0.0,0.0,-81.17,LOANS STANDING ORDER.74431-0600042221,0,0
6,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
7,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
8,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
9,2019-01-01 04:01:56,2018-12-31,510,99973116,685,1,20181231510999731166841,31715,CROSS OVER SAVING ACCOUNT,2360763101,236076,28231827,254729924135,"EVA,WILSON,FRANCIS AND MARY ...",93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,211.80,,0,0
10,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
11,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
12,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
13,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
14,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
15,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
16,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
17,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
18,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
19,2019-01-01 04:01:57,2018-12-31,400,99973116,691,1,20181231400999731166901,31715,CROSS OVER SAVING ACCOUNT,2362893101,236289,26023421,4571333782,SERA ROSA OMANYALA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,338.33,,0,0
20,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
21,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
22,2019-01-01 00:35:28,2018-12-31,100,99974431,4994,1,201812311009997443149931,31572,VIRTUAL ACCOUNT MOBILE,3054723201,305472,25236503,254723906685,BETTY CHEROTICH ...,34006,STANDING ORDER PAYMENT,6.54,0.0,0.0,-6.54,LOANS STANDING ORDER.74431-0600042212,0,0
23,2019-01-01 00:42:17,2018-12-31,100,99974431,7787,1,201812311009997443177861,31572,VIRTUAL ACCOUNT MOBILE,3055563201,305556,27612075,254727826640,PAULINE BOOKER ...,34006,STANDING ORDER PAYMENT,32.46,0.0,0.0,-32.46,LOANS STANDING ORDER.74431-0600043778,0,0
24,2019-01-01 00:40:40,2018-12-31,100,99974431,6947,1,201812311009997443169461,31572,VIRTUAL ACCOUNT MOBILE,4172753201,417275,6402071,254713094183,MARGARET OBADHI ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600043308,0,0
25,2019-01-01 00:39:26,2018-12-31,100,99974431,6315,1,201812311009997443163141,31572,VIRTUAL ACCOUNT MOBILE,4175863201,417586,26721826,254726014866,SUSAN MBUYA ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600042966,0,0
26,2019-01-01 00:34:35,2018-12-31,100,99974431,4554,1,201812311009997443145531,31572,VIRTUAL ACCOUNT MOBILE,4176633201,417663,27260470,254727090589,ROTICH KIPKEMOI ...,34006,STANDING ORDER PAYMENT,2250.00,0.0,0.0,-2250.00,LOANS STANDING ORDER.74431-0600041928,0,0
27,2019-01-01 00:37:01,2018-12-31,100,99974431,5750,1,201812311009997443157491,31572,VIRTUAL ACCOUNT MOBILE,4177363201,417736,27301567,254721607516,ESTHER KIMOTHO ...,34006,STANDING ORDER PAYMENT,230.34,0.0,0.0,-230.34,LOANS STANDING ORDER.74431-0600042629,0,0
28,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
29,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311044,2019-11-25 16:31:44,2019-11-25,109,KOCE0002,1540,1,20191125109KOCE000215391,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,31400.00,0.0,0.0,31400.00,NKP57V3HB1-254722867986 MPESA TO ACC,0,0
5311045,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311046,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311047,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311048,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311049,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311050,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311051,2019-11-25 16:31:57,2019-11-25,100,SIS415,559,1,20191125100SIS4155581,31511,MICRO BIZ ACCOUNT,1859863201,185986,13441057,14438415160,TITUS KIPROTICH BUTIA ...,39100,INCOMING RTGS CR,7450000.00,0.0,0.0,7450000.00,AGGREY J K BETT,0,0
5311052,2019-11-25 16:31:59,2019-11-25,100,SIS415,562,1,20191125100SIS4155611,31105,TREASURE SAVINGS ACCOUNT,2160513101,216051,026114723,254724237764,RACHAEL MWIKALI MUOKI ...,39100,INCOMING RTGS CR,285311.10,0.0,0.0,285311.10,Mr. DANIEL MUOKI KISILU,0,0
5311053,2019-11-25 16:32:00,2019-11-25,100,SIS415,565,1,20191125100SIS4155641,31730,CURRENT USD,7300000164,128161,C.10149,,CREST HOTEL LTD ...,39100,INCOMING RTGS CR,65.47,0.0,0.0,65.47,EBLCARDCENTRE22241119,0,0
5311054,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9248,1,20191125109KOCE000192471,31572,VIRTUAL ACCOUNT MOBILE,3584013201,358401,22375253,254721421079,COSMAS MALINDA MUTWIWA ...,34001,JOURNAL DEBIT,2000.00,0.0,0.0,-2000.00,FUNDS TRANSFER TO 4288243201,0,0
5311055,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9249,1,20191125109KOCE000192481,31572,VIRTUAL ACCOUNT MOBILE,4288243201,428824,25692838,254725700999,NAILA KALAGHE ...,33100,JOURNAL CREDIT,2000.00,0.0,0.0,2000.00,FUNDS TRANSFER FROM 3584013201,0,0
5311056,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311057,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311058,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311059,2019-11-25 16:32:14,2019-11-25,100,EMK1529,1931,1,20191125100EMK152919301,31771,CUSTODIAL ACCOUNT,4339973203,433997,CPR/2014/170416,254709438000,HFC CUSTODY ACCOUNT L003 ...,33100,JOURNAL CREDIT,38090160.00,0.0,0.0,38090160.00,SALE OF 40M FXD1/2011/20,0,0
5311060,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311061,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311062,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311063,2019-11-25 16:32:45,2019-11-25,200,10010001,47,1,2019112520010010001461,31111,STAFF SALARY ACCOUNT,9783654077,982280,28374764,0716961232,ERIC MUCHABA KIMANI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.00,0.0,0.0,-10000.00,ATM DEBIT,0,0
5311064,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311065,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311066,2019-11-25 16:33:12,2019-11-25,200,FEO1530,251,1,20191125200FEO15302501,31111,STAFF SALARY ACCOUNT,9250843201,925084,27858390,254700180529,JANE WANJIRU KARATHE ...,32001,CASH WITHDRAWAL,5000.00,0.0,0.0,-5000.00,,0,0
5311067,2019-11-25 16:33:32,2019-11-25,109,KOCE0001,9260,1,20191125109KOCE000192591,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,34001,JOURNAL DEBIT,31300.00,0.0,0.0,-31300.00,TRANSFER TO 0600211508,0,0
5311068,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311069,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311070,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311071,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311072,2019-11-25 16:33:41,2019-11-25,17,WML2084,62,1,2019112517WML2084611,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,31001,DEPOSIT CASH,8155.00,0.0,0.0,8155.00,,0,0
5311073,2019-11-25 16:33:44,2019-11-25,100,SIS415,568,1,20191125100SIS4155671,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,39100,INCOMING RTGS CR,1697.00,0.0,0.0,1697.00,STANBIC,0,0

trxns_data_trx_4 = pd.read_csv("/Users/allan.aswani/Downloads/calculation/transactions_2019_11_25.csv")

In [326]:
trxns_data_trx_4

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
1,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
2,2019-01-01 00:40:58,2018-12-31,100,99974431,7095,1,201812311009997443170941,31572,VIRTUAL ACCOUNT MOBILE,4449343201,444934,27161560,254716801532,ESTHER NG'ANG'A ...,34006,STANDING ORDER PAYMENT,5.25,0.0,0.0,-5.25,LOANS STANDING ORDER.74431-0600043404,0,0
3,2019-01-01 00:41:32,2018-12-31,100,99974431,7395,1,201812311009997443173941,31572,VIRTUAL ACCOUNT MOBILE,4449413201,444941,32131713,254715554386,SIPHIRA MUHIA ...,34006,STANDING ORDER PAYMENT,15.31,0.0,0.0,-15.31,LOANS STANDING ORDER.74431-0600043572,0,0
4,2019-01-01 00:39:10,2018-12-31,100,99974431,6183,1,201812311009997443161821,31572,VIRTUAL ACCOUNT MOBILE,4469103201,446910,13326017,254723516353,GEORGE ONGERA ...,34006,STANDING ORDER PAYMENT,34.00,0.0,0.0,-34.00,LOANS STANDING ORDER.74431-0600042890,0,0
5,2019-01-01 00:35:30,2018-12-31,100,99974431,5010,1,201812311009997443150091,31572,VIRTUAL ACCOUNT MOBILE,4470923201,447092,21170950,254710231206,MILLYCENT OTIENO ...,34006,STANDING ORDER PAYMENT,81.17,0.0,0.0,-81.17,LOANS STANDING ORDER.74431-0600042221,0,0
6,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
7,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
8,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
9,2019-01-01 04:01:56,2018-12-31,510,99973116,685,1,20181231510999731166841,31715,CROSS OVER SAVING ACCOUNT,2360763101,236076,28231827,254729924135,"EVA,WILSON,FRANCIS AND MARY ...",93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,211.80,,0,0
10,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
11,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
12,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
13,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
14,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
15,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
16,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
17,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
18,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
19,2019-01-01 04:01:57,2018-12-31,400,99973116,691,1,20181231400999731166901,31715,CROSS OVER SAVING ACCOUNT,2362893101,236289,26023421,4571333782,SERA ROSA OMANYALA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,338.33,,0,0
20,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
21,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
22,2019-01-01 00:35:28,2018-12-31,100,99974431,4994,1,201812311009997443149931,31572,VIRTUAL ACCOUNT MOBILE,3054723201,305472,25236503,254723906685,BETTY CHEROTICH ...,34006,STANDING ORDER PAYMENT,6.54,0.0,0.0,-6.54,LOANS STANDING ORDER.74431-0600042212,0,0
23,2019-01-01 00:42:17,2018-12-31,100,99974431,7787,1,201812311009997443177861,31572,VIRTUAL ACCOUNT MOBILE,3055563201,305556,27612075,254727826640,PAULINE BOOKER ...,34006,STANDING ORDER PAYMENT,32.46,0.0,0.0,-32.46,LOANS STANDING ORDER.74431-0600043778,0,0
24,2019-01-01 00:40:40,2018-12-31,100,99974431,6947,1,201812311009997443169461,31572,VIRTUAL ACCOUNT MOBILE,4172753201,417275,6402071,254713094183,MARGARET OBADHI ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600043308,0,0
25,2019-01-01 00:39:26,2018-12-31,100,99974431,6315,1,201812311009997443163141,31572,VIRTUAL ACCOUNT MOBILE,4175863201,417586,26721826,254726014866,SUSAN MBUYA ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600042966,0,0
26,2019-01-01 00:34:35,2018-12-31,100,99974431,4554,1,201812311009997443145531,31572,VIRTUAL ACCOUNT MOBILE,4176633201,417663,27260470,254727090589,ROTICH KIPKEMOI ...,34006,STANDING ORDER PAYMENT,2250.00,0.0,0.0,-2250.00,LOANS STANDING ORDER.74431-0600041928,0,0
27,2019-01-01 00:37:01,2018-12-31,100,99974431,5750,1,201812311009997443157491,31572,VIRTUAL ACCOUNT MOBILE,4177363201,417736,27301567,254721607516,ESTHER KIMOTHO ...,34006,STANDING ORDER PAYMENT,230.34,0.0,0.0,-230.34,LOANS STANDING ORDER.74431-0600042629,0,0
28,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
29,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311044,2019-11-25 16:31:44,2019-11-25,109,KOCE0002,1540,1,20191125109KOCE000215391,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,31400.00,0.0,0.0,31400.00,NKP57V3HB1-254722867986 MPESA TO ACC,0,0
5311045,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311046,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311047,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311048,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311049,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311050,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311051,2019-11-25 16:31:57,2019-11-25,100,SIS415,559,1,20191125100SIS4155581,31511,MICRO BIZ ACCOUNT,1859863201,185986,13441057,14438415160,TITUS KIPROTICH BUTIA ...,39100,INCOMING RTGS CR,7450000.00,0.0,0.0,7450000.00,AGGREY J K BETT,0,0
5311052,2019-11-25 16:31:59,2019-11-25,100,SIS415,562,1,20191125100SIS4155611,31105,TREASURE SAVINGS ACCOUNT,2160513101,216051,026114723,254724237764,RACHAEL MWIKALI MUOKI ...,39100,INCOMING RTGS CR,285311.10,0.0,0.0,285311.10,Mr. DANIEL MUOKI KISILU,0,0
5311053,2019-11-25 16:32:00,2019-11-25,100,SIS415,565,1,20191125100SIS4155641,31730,CURRENT USD,7300000164,128161,C.10149,,CREST HOTEL LTD ...,39100,INCOMING RTGS CR,65.47,0.0,0.0,65.47,EBLCARDCENTRE22241119,0,0
5311054,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9248,1,20191125109KOCE000192471,31572,VIRTUAL ACCOUNT MOBILE,3584013201,358401,22375253,254721421079,COSMAS MALINDA MUTWIWA ...,34001,JOURNAL DEBIT,2000.00,0.0,0.0,-2000.00,FUNDS TRANSFER TO 4288243201,0,0
5311055,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9249,1,20191125109KOCE000192481,31572,VIRTUAL ACCOUNT MOBILE,4288243201,428824,25692838,254725700999,NAILA KALAGHE ...,33100,JOURNAL CREDIT,2000.00,0.0,0.0,2000.00,FUNDS TRANSFER FROM 3584013201,0,0
5311056,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311057,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311058,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311059,2019-11-25 16:32:14,2019-11-25,100,EMK1529,1931,1,20191125100EMK152919301,31771,CUSTODIAL ACCOUNT,4339973203,433997,CPR/2014/170416,254709438000,HFC CUSTODY ACCOUNT L003 ...,33100,JOURNAL CREDIT,38090160.00,0.0,0.0,38090160.00,SALE OF 40M FXD1/2011/20,0,0
5311060,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311061,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311062,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311063,2019-11-25 16:32:45,2019-11-25,200,10010001,47,1,2019112520010010001461,31111,STAFF SALARY ACCOUNT,9783654077,982280,28374764,0716961232,ERIC MUCHABA KIMANI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.00,0.0,0.0,-10000.00,ATM DEBIT,0,0
5311064,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311065,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311066,2019-11-25 16:33:12,2019-11-25,200,FEO1530,251,1,20191125200FEO15302501,31111,STAFF SALARY ACCOUNT,9250843201,925084,27858390,254700180529,JANE WANJIRU KARATHE ...,32001,CASH WITHDRAWAL,5000.00,0.0,0.0,-5000.00,,0,0
5311067,2019-11-25 16:33:32,2019-11-25,109,KOCE0001,9260,1,20191125109KOCE000192591,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,34001,JOURNAL DEBIT,31300.00,0.0,0.0,-31300.00,TRANSFER TO 0600211508,0,0
5311068,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311069,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311070,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311071,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311072,2019-11-25 16:33:41,2019-11-25,17,WML2084,62,1,2019112517WML2084611,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,31001,DEPOSIT CASH,8155.00,0.0,0.0,8155.00,,0,0
5311073,2019-11-25 16:33:44,2019-11-25,100,SIS415,568,1,20191125100SIS4155671,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,39100,INCOMING RTGS CR,1697.00,0.0,0.0,1697.00,STANBIC,0,0

In [282]:
df1 = trxns_data_trx_4
df1

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
0,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
1,2019-01-01 04:00:42,2018-12-31,16,99973118,63,1,201812311699973118621,31110,EMPLOYER PROVIDENT ACCOUNT,4186413101,418641,21783803,254722564736,JUDY WANGUI MWANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,137.33,,0,0
2,2019-01-01 00:40:58,2018-12-31,100,99974431,7095,1,201812311009997443170941,31572,VIRTUAL ACCOUNT MOBILE,4449343201,444934,27161560,254716801532,ESTHER NG'ANG'A ...,34006,STANDING ORDER PAYMENT,5.25,0.0,0.0,-5.25,LOANS STANDING ORDER.74431-0600043404,0,0
3,2019-01-01 00:41:32,2018-12-31,100,99974431,7395,1,201812311009997443173941,31572,VIRTUAL ACCOUNT MOBILE,4449413201,444941,32131713,254715554386,SIPHIRA MUHIA ...,34006,STANDING ORDER PAYMENT,15.31,0.0,0.0,-15.31,LOANS STANDING ORDER.74431-0600043572,0,0
4,2019-01-01 00:39:10,2018-12-31,100,99974431,6183,1,201812311009997443161821,31572,VIRTUAL ACCOUNT MOBILE,4469103201,446910,13326017,254723516353,GEORGE ONGERA ...,34006,STANDING ORDER PAYMENT,34.00,0.0,0.0,-34.00,LOANS STANDING ORDER.74431-0600042890,0,0
5,2019-01-01 00:35:30,2018-12-31,100,99974431,5010,1,201812311009997443150091,31572,VIRTUAL ACCOUNT MOBILE,4470923201,447092,21170950,254710231206,MILLYCENT OTIENO ...,34006,STANDING ORDER PAYMENT,81.17,0.0,0.0,-81.17,LOANS STANDING ORDER.74431-0600042221,0,0
6,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
7,2019-01-01 04:01:56,2018-12-31,25,99973116,686,1,2018123125999731166851,31715,CROSS OVER SAVING ACCOUNT,2223193101,222319,11673852,254720970988,ANNE WAWIRA MUCHANGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,62.87,,0,0
8,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
9,2019-01-01 04:01:56,2018-12-31,510,99973116,685,1,20181231510999731166841,31715,CROSS OVER SAVING ACCOUNT,2360763101,236076,28231827,254729924135,"EVA,WILSON,FRANCIS AND MARY ...",93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,211.80,,0,0
10,2019-01-01 04:03:58,2018-12-31,22,99973116,1563,1,20181231229997311615621,31105,TREASURE SAVINGS ACCOUNT,2362383101,236238,0191584404,254729602802,JAYDEN KINGORI C/O MERCY MWARANIA WAMBUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,11.22,,0,0
11,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
12,2019-01-01 04:01:56,2018-12-31,260,99973116,687,1,20181231260999731166861,31715,CROSS OVER SAVING ACCOUNT,2362543101,236254,26876461,254720647775,JANET N MURIUKI & SIMON K MURIUKI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,267.08,,0,0
13,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
14,2019-01-01 04:01:56,2018-12-31,230,99973116,689,1,20181231230999731166881,31715,CROSS OVER SAVING ACCOUNT,2362723101,236272,28069703,254725382348,DIANA NDEGI NJERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,197.91,,0,0
15,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
16,2019-01-01 00:11:55,2018-12-31,19,999C7469,1076,1,2018123119999C746910751,31561,SME BIZ ACCOUNT,2362783201,236278,PVT-EYUXYD3,254700865977,RONJALL CONSULTANTS LIMITED ...,31610,ACCOUNT MAINTENANCE,0.00,300.0,60.0,-360.00,,0,0
17,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
18,2019-01-01 04:01:57,2018-12-31,400,99973116,690,1,20181231400999731166891,31715,CROSS OVER SAVING ACCOUNT,2058833101,205883,29426044,254706007961,DANIEL OMONDI OWINO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,6.60,,0,0
19,2019-01-01 04:01:57,2018-12-31,400,99973116,691,1,20181231400999731166901,31715,CROSS OVER SAVING ACCOUNT,2362893101,236289,26023421,4571333782,SERA ROSA OMANYALA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,338.33,,0,0
20,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
21,2019-01-01 00:12:40,2018-12-31,270,999C7469,1260,1,20181231270999C746912591,31703,PERSONAL CURRENT ACCOUNT BUND,1956163201,195616,4780433,254722523620,PETER MACHARIA KARIUKI ...,31610,ACCOUNT MAINTENANCE,0.00,750.0,150.0,-900.00,,0,0
22,2019-01-01 00:35:28,2018-12-31,100,99974431,4994,1,201812311009997443149931,31572,VIRTUAL ACCOUNT MOBILE,3054723201,305472,25236503,254723906685,BETTY CHEROTICH ...,34006,STANDING ORDER PAYMENT,6.54,0.0,0.0,-6.54,LOANS STANDING ORDER.74431-0600042212,0,0
23,2019-01-01 00:42:17,2018-12-31,100,99974431,7787,1,201812311009997443177861,31572,VIRTUAL ACCOUNT MOBILE,3055563201,305556,27612075,254727826640,PAULINE BOOKER ...,34006,STANDING ORDER PAYMENT,32.46,0.0,0.0,-32.46,LOANS STANDING ORDER.74431-0600043778,0,0
24,2019-01-01 00:40:40,2018-12-31,100,99974431,6947,1,201812311009997443169461,31572,VIRTUAL ACCOUNT MOBILE,4172753201,417275,6402071,254713094183,MARGARET OBADHI ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600043308,0,0
25,2019-01-01 00:39:26,2018-12-31,100,99974431,6315,1,201812311009997443163141,31572,VIRTUAL ACCOUNT MOBILE,4175863201,417586,26721826,254726014866,SUSAN MBUYA ...,34006,STANDING ORDER PAYMENT,31.17,0.0,0.0,-31.17,LOANS STANDING ORDER.74431-0600042966,0,0
26,2019-01-01 00:34:35,2018-12-31,100,99974431,4554,1,201812311009997443145531,31572,VIRTUAL ACCOUNT MOBILE,4176633201,417663,27260470,254727090589,ROTICH KIPKEMOI ...,34006,STANDING ORDER PAYMENT,2250.00,0.0,0.0,-2250.00,LOANS STANDING ORDER.74431-0600041928,0,0
27,2019-01-01 00:37:01,2018-12-31,100,99974431,5750,1,201812311009997443157491,31572,VIRTUAL ACCOUNT MOBILE,4177363201,417736,27301567,254721607516,ESTHER KIMOTHO ...,34006,STANDING ORDER PAYMENT,230.34,0.0,0.0,-230.34,LOANS STANDING ORDER.74431-0600042629,0,0
28,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
29,2019-01-01 04:01:25,2018-12-31,410,99973118,364,1,20181231410999731183631,31715,CROSS OVER SAVING ACCOUNT,4180713101,418071,UG/SS/REG/20552/2014,254720844972,BET BET OR CHEMALAL SELF HELP GROUP ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.00,0.0,0.0,8.46,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311044,2019-11-25 16:31:44,2019-11-25,109,KOCE0002,1540,1,20191125109KOCE000215391,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,31400.00,0.0,0.0,31400.00,NKP57V3HB1-254722867986 MPESA TO ACC,0,0
5311045,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311046,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311047,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311048,2019-11-25 16:31:48,2019-11-25,109,KOCE0002,1542,1,20191125109KOCE000215411,31511,MICRO BIZ ACCOUNT,5078153201,507815,27023996,254722209411,CALEB STEBBINES BARASA ...,32099,ACCOUNT TO MPESA(B2C),2050.00,18.0,3.6,-2093.60,SEND TO MPESA 254714075844,0,0
5311049,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311050,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311051,2019-11-25 16:31:57,2019-11-25,100,SIS415,559,1,20191125100SIS4155581,31511,MICRO BIZ ACCOUNT,1859863201,185986,13441057,14438415160,TITUS KIPROTICH BUTIA ...,39100,INCOMING RTGS CR,7450000.00,0.0,0.0,7450000.00,AGGREY J K BETT,0,0
5311052,2019-11-25 16:31:59,2019-11-25,100,SIS415,562,1,20191125100SIS4155611,31105,TREASURE SAVINGS ACCOUNT,2160513101,216051,026114723,254724237764,RACHAEL MWIKALI MUOKI ...,39100,INCOMING RTGS CR,285311.10,0.0,0.0,285311.10,Mr. DANIEL MUOKI KISILU,0,0
5311053,2019-11-25 16:32:00,2019-11-25,100,SIS415,565,1,20191125100SIS4155641,31730,CURRENT USD,7300000164,128161,C.10149,,CREST HOTEL LTD ...,39100,INCOMING RTGS CR,65.47,0.0,0.0,65.47,EBLCARDCENTRE22241119,0,0
5311054,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9248,1,20191125109KOCE000192471,31572,VIRTUAL ACCOUNT MOBILE,3584013201,358401,22375253,254721421079,COSMAS MALINDA MUTWIWA ...,34001,JOURNAL DEBIT,2000.00,0.0,0.0,-2000.00,FUNDS TRANSFER TO 4288243201,0,0
5311055,2019-11-25 16:32:02,2019-11-25,109,KOCE0001,9249,1,20191125109KOCE000192481,31572,VIRTUAL ACCOUNT MOBILE,4288243201,428824,25692838,254725700999,NAILA KALAGHE ...,33100,JOURNAL CREDIT,2000.00,0.0,0.0,2000.00,FUNDS TRANSFER FROM 3584013201,0,0
5311056,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311057,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311058,2019-11-25 16:32:05,2019-11-25,109,KOCE0001,9251,1,20191125109KOCE000192501,31511,MICRO BIZ ACCOUNT,9369423201,936942,21651132,254729218577,ANN KIONGERA ...,32098,AIRTIME PURCHASE( MOBILE APP),200.00,5.0,1.0,-206.00,BUY AIRTIME FOR AIRTSAF 254798775672,0,0
5311059,2019-11-25 16:32:14,2019-11-25,100,EMK1529,1931,1,20191125100EMK152919301,31771,CUSTODIAL ACCOUNT,4339973203,433997,CPR/2014/170416,254709438000,HFC CUSTODY ACCOUNT L003 ...,33100,JOURNAL CREDIT,38090160.00,0.0,0.0,38090160.00,SALE OF 40M FXD1/2011/20,0,0
5311060,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311061,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311062,2019-11-25 16:32:39,2019-11-25,220,10010010,59,1,2019112522010010010581,31103,LENGO ACCOUNT,2000083432,120244,543984108,254743255528,MARGARET WARINDI MACHARIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,20000.00,35.0,7.0,-20042.00,ATM DEBIT,0,0
5311063,2019-11-25 16:32:45,2019-11-25,200,10010001,47,1,2019112520010010001461,31111,STAFF SALARY ACCOUNT,9783654077,982280,28374764,0716961232,ERIC MUCHABA KIMANI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.00,0.0,0.0,-10000.00,ATM DEBIT,0,0
5311064,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311065,2019-11-25 16:33:00,2019-11-25,109,KOCE0002,1545,1,20191125109KOCE000215441,31705,CURRENT ACCOUNT STAFF,2086923201,208692,25043219,254726126333,VINCENT OCHICHI ATUGA ...,32099,ACCOUNT TO MPESA(B2C),70000.00,0.0,0.0,-70022.00,SEND TO MPESA 254727382806,0,0
5311066,2019-11-25 16:33:12,2019-11-25,200,FEO1530,251,1,20191125200FEO15302501,31111,STAFF SALARY ACCOUNT,9250843201,925084,27858390,254700180529,JANE WANJIRU KARATHE ...,32001,CASH WITHDRAWAL,5000.00,0.0,0.0,-5000.00,,0,0
5311067,2019-11-25 16:33:32,2019-11-25,109,KOCE0001,9260,1,20191125109KOCE000192591,31572,VIRTUAL ACCOUNT MOBILE,4114553201,411455,4810493,254722867986,COLLINS MUDANY ...,34001,JOURNAL DEBIT,31300.00,0.0,0.0,-31300.00,TRANSFER TO 0600211508,0,0
5311068,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311069,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311070,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311071,2019-11-25 16:33:37,2019-11-25,109,KOCE0001,9262,1,20191125109KOCE000192611,31561,SME BIZ ACCOUNT,9636113201,963611,24305481,0725842537,ERICK BONGA & COLLINS OCHIENG ...,32099,ACCOUNT TO MPESA(B2C),1100.00,11.0,2.2,-1135.20,SEND TO MPESA 0708549872,0,0
5311072,2019-11-25 16:33:41,2019-11-25,17,WML2084,62,1,2019112517WML2084611,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,31001,DEPOSIT CASH,8155.00,0.0,0.0,8155.00,,0,0
5311073,2019-11-25 16:33:44,2019-11-25,100,SIS415,568,1,20191125100SIS4155671,31704,CURRENT ACCOUNT CORPORATE,7040002132,173925,C.88970,,HEALTHY U TWO THOUSAND LIMITED ...,39100,INCOMING RTGS CR,1697.00,0.0,0.0,1697.00,STANBIC,0,0

In [283]:
df1.ACCOUNT_NUMBER = df1.ACCOUNT_NUMBER.astype('int64')

In [284]:
account_100 = df1.query('ACCOUNT_NUMBER == ""')
account_100

/Users/allan.aswani/etl/lib/python2.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Empty DataFrame
Columns: [TMSTAMP, TRX_DATE, TRX_UNIT, TRX_USR, TRX_USR_SN, TUN_INTERNAL_SN, TRANSACTION_REF, ID_PRODUCT, PRODUCT_DESCRIPTION, ACCOUNT_NUMBER, FK_CUSTOMERCUST_ID, NATIONAL_ID, MOBILE_TEL, ACCOUNT_NAME, I_ID_JUSTIFIC, TRANSACTION_TYPE, TRANSACTION_AMOUNT, COMMISSION, EXCISE DUTY, TOTAL_TRX_AMOUNT, TRX_COMMENTS, REVERSE_FLAG, REVERSED_TRX_FLAG]
Index: []

In [214]:
#column names and type
df1.dtypes.to_list

<bound method Index.tolist of Index([u'TMSTAMP', u'TRX_DATE', u'TRX_UNIT', u'TRX_USR', u'TRX_USR_SN',
       u'TUN_INTERNAL_SN', u'TRANSACTION_REF', u'PRODUCT_DESCRIPTION',
       u'ACCOUNT_NUMBER', u'ID_PRODUCT', u'FK_CUSTOMERCUST_ID', u'NATIONAL_ID',
       u'MOBILE_TEL', u'ACCOUNT_NAME', u'I_ID_JUSTIFIC', u'TRANSACTION_TYPE',
       u'TRANSACTION_AMOUNT', u'COMMISSION', u'TRX_COMMENTS', u'REVERSE_FLAG',
       u'REVERSED_TRX_FLAG'],
      dtype='object')>

In [287]:
#staff accounts 
df2 = df1.query('ID_PRODUCT == "31111"' or 'ID_PRODUCT == "31705"' or 'ID_PRODUCT == "31200"') 

df2.sort_values(ascending=False,by='TMSTAMP')
df2

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
1007,2019-01-01 04:01:10,2018-12-31,200,99973117,371,1,20181231200999731173701,31111,STAFF SALARY ACCOUNT,3438813101,343881,31243328,254701561835,ANNE ACHIENG ONYANGO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,1.38,,0,0
1008,2019-01-01 04:01:10,2018-12-31,200,99973117,371,1,20181231200999731173701,31111,STAFF SALARY ACCOUNT,3438813101,343881,31243328,254701561835,ANNE ACHIENG ONYANGO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,1.38,,0,0
1713,2019-01-01 04:01:10,2018-12-31,200,99973117,367,1,20181231200999731173661,31111,STAFF SALARY ACCOUNT,3429773201,342977,31485537,254707137333,TRACY MORO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,20.83,,0,0
1714,2019-01-01 04:01:10,2018-12-31,200,99973117,367,1,20181231200999731173661,31111,STAFF SALARY ACCOUNT,3429773201,342977,31485537,254707137333,TRACY MORO ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,20.83,,0,0
1740,2019-01-01 04:01:10,2018-12-31,200,99973117,370,1,20181231200999731173691,31111,STAFF SALARY ACCOUNT,3267643101,326764,27417482,254797051069,MARTIN GUAMA KIBOI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,67.58,,0,0
1741,2019-01-01 04:01:10,2018-12-31,200,99973117,370,1,20181231200999731173691,31111,STAFF SALARY ACCOUNT,3267643101,326764,27417482,254797051069,MARTIN GUAMA KIBOI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,67.58,,0,0
2625,2019-01-01 04:23:07,2018-12-31,200,99973111,29717,1,2018123120099973111297161,31111,STAFF SALARY ACCOUNT,2000064815,97640,14676542,254721935992,PRISCA MUTIO MUTINDA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,59.06,,0,0
2626,2019-01-01 04:23:07,2018-12-31,200,99973111,29717,1,2018123120099973111297161,31111,STAFF SALARY ACCOUNT,2000064815,97640,14676542,254721935992,PRISCA MUTIO MUTINDA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,59.06,,0,0
2636,2019-01-01 04:22:16,2018-12-31,200,99973111,29237,1,2018123120099973111292361,31111,STAFF SALARY ACCOUNT,2000032959,25926,3642260.,254721750439,LUGANJE FLORENCE MASHAKA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,615.54,,0,0
2637,2019-01-01 04:22:16,2018-12-31,200,99973111,29237,1,2018123120099973111292361,31111,STAFF SALARY ACCOUNT,2000032959,25926,3642260.,254721750439,LUGANJE FLORENCE MASHAKA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,615.54,,0,0
2638,2019-01-01 04:22:16,2018-12-31,200,99973111,29238,1,2018123120099973111292371,31111,STAFF SALARY ACCOUNT,2000032960,21439,10880731,254722633539,JANE WAMBUI KURIA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,2031.29,,0,0
2639,2019-01-01 04:22:16,2018-12-31,200,99973111,29238,1,2018123120099973111292371,31111,STAFF SALARY ACCOUNT,2000032960,21439,10880731,254722633539,JANE WAMBUI KURIA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,2031.29,,0,0
2640,2019-01-01 04:22:17,2018-12-31,200,99973111,29239,1,2018123120099973111292381,31111,STAFF SALARY ACCOUNT,2000032961,21002,10880345,254722217100,IVY WAMBUI KAMAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,2055.89,,0,0
2641,2019-01-01 04:22:17,2018-12-31,200,99973111,29239,1,2018123120099973111292381,31111,STAFF SALARY ACCOUNT,2000032961,21002,10880345,254722217100,IVY WAMBUI KAMAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,2055.89,,0,0
2642,2019-01-01 04:22:17,2018-12-31,200,99973111,29240,1,2018123120099973111292391,31111,STAFF SALARY ACCOUNT,2000032969,30030,9166927,254720873869,PETER KANG'ACHA NGUGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,32.15,,0,0
2643,2019-01-01 04:22:17,2018-12-31,200,99973111,29240,1,2018123120099973111292391,31111,STAFF SALARY ACCOUNT,2000032969,30030,9166927,254720873869,PETER KANG'ACHA NGUGI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,32.15,,0,0
2644,2019-01-01 04:22:17,2018-12-31,200,99973111,29241,1,2018123120099973111292401,31111,STAFF SALARY ACCOUNT,2000032971,24947,3347121,,ALICE WAKIURU MAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,8009.46,,0,0
2645,2019-01-01 04:22:17,2018-12-31,200,99973111,29241,1,2018123120099973111292401,31111,STAFF SALARY ACCOUNT,2000032971,24947,3347121,,ALICE WAKIURU MAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,8009.46,,0,0
2646,2019-01-01 01:37:17,2018-12-31,100,99991041,83,1,2018123110099991041821,31111,STAFF SALARY ACCOUNT,2000032972,22123,13098892,254725257745,JACKLINE AGNES LUI ...,34001,JOURNAL DEBIT,2000.0,0.0,0.0,-2000.00,704-0000221 NYUMBA SACCO,0,0
2647,2019-01-01 04:22:17,2018-12-31,200,99973111,29242,1,2018123120099973111292411,31111,STAFF SALARY ACCOUNT,2000032972,22123,13098892,254725257745,JACKLINE AGNES LUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,5641.54,,0,0
2648,2019-01-01 04:22:17,2018-12-31,200,99973111,29242,1,2018123120099973111292411,31111,STAFF SALARY ACCOUNT,2000032972,22123,13098892,254725257745,JACKLINE AGNES LUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,5641.54,,0,0
2649,2019-01-01 04:22:17,2018-12-31,200,99973111,29243,1,2018123120099973111292421,31111,STAFF SALARY ACCOUNT,2000032973,29644,8536776,254722854882,JONAS KAMAU MUNGA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,10097.36,,0,0
2650,2019-01-01 04:22:17,2018-12-31,200,99973111,29243,1,2018123120099973111292421,31111,STAFF SALARY ACCOUNT,2000032973,29644,8536776,254722854882,JONAS KAMAU MUNGA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,10097.36,,0,0
2651,2019-01-01 04:22:17,2018-12-31,200,99973111,29244,1,2018123120099973111292431,31111,STAFF SALARY ACCOUNT,2000032974,19840,0565262,447943440333,WILLIAM KAMAU KABUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,5112.49,,0,0
2652,2019-01-01 04:22:17,2018-12-31,200,99973111,29244,1,2018123120099973111292431,31111,STAFF SALARY ACCOUNT,2000032974,19840,0565262,447943440333,WILLIAM KAMAU KABUI ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,5112.49,,0,0
2653,2019-01-01 04:22:17,2018-12-31,200,99973111,29245,1,2018123120099973111292441,31111,STAFF SALARY ACCOUNT,2000032975,24282,2938440,254723402248,JOSEPH KAHURIA NJENGA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,25.15,,0,0
2654,2019-01-01 04:22:17,2018-12-31,200,99973111,29245,1,2018123120099973111292441,31111,STAFF SALARY ACCOUNT,2000032975,24282,2938440,254723402248,JOSEPH KAHURIA NJENGA ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,25.15,,0,0
3175,2019-01-01 04:01:09,2018-12-31,200,99973117,366,1,20181231200999731173651,31111,STAFF SALARY ACCOUNT,2544243101,254424,28064451,254724598283,NATHAN KAMOTHO KAMAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,3.93,,0,0
3176,2019-01-01 04:01:09,2018-12-31,200,99973117,366,1,20181231200999731173651,31111,STAFF SALARY ACCOUNT,2544243101,254424,28064451,254724598283,NATHAN KAMOTHO KAMAU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,3.93,,0,0
3536,2019-01-01 04:12:45,2018-12-31,200,99973114,6486,1,201812312009997311464851,31111,STAFF SALARY ACCOUNT,1987863101,198786,27335834,254712718236,PETER MBURU KING'ERU ...,93989,FIRST DEMAND INTEREST CALCULATION UPDATE,0.0,0.0,0.0,1.66,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5310781,2019-11-25 16:14:54,2019-11-25,109,KOCE0001,9042,1,20191125109KOCE000190411,31111,STAFF SALARY ACCOUNT,2000086724,124591,22204649,254722581540,ELIZABETH NJERI MWANGI ...,32099,ACCOUNT TO MPESA(B2C),12000.0,0.0,0.0,-12022.00,SEND TO MPESA 254727080818,0,0
5310782,2019-11-25 16:14:54,2019-11-25,109,KOCE0001,9042,1,20191125109KOCE000190411,31111,STAFF SALARY ACCOUNT,2000086724,124591,22204649,254722581540,ELIZABETH NJERI MWANGI ...,32099,ACCOUNT TO MPESA(B2C),12000.0,0.0,0.0,-12022.00,SEND TO MPESA 254727080818,0,0
5310788,2019-11-25 16:15:04,2019-11-25,270,10010015,5,1,201911252701001001541,31111,STAFF SALARY ACCOUNT,9081523201,908152,30109389,254715243805,ELISHA SAISI SAMI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,800.0,0.0,0.0,-800.00,ATM DEBIT,0,0
5310810,2019-11-25 16:16:50,2019-11-25,100,MIPU0001,1153,1,20191125100MIPU000111521,31111,STAFF SALARY ACCOUNT,2000035700,47428,10137782,254721633929,EUNICE NJOKI MACHARIA ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),20000.0,0.0,0.0,20000.00,EUNICE MACHARIA-KCB CHQ 1341,0,0
5310816,2019-11-25 16:17:17,2019-11-25,23,PSM1915,90,1,2019112523PSM1915891,31111,STAFF SALARY ACCOUNT,9069893201,906989,31412577,254700388366,BRIAN OMONDI ...,32001,CASH WITHDRAWAL,300.0,0.0,0.0,-300.00,,0,0
5310830,2019-11-25 16:17:59,2019-11-25,200,RWK1968,179,1,20191125200RWK19681781,31111,STAFF SALARY ACCOUNT,2000068204,101535,12545814,254722375902,ROSEANN WANJIKU MWITHIGA ...,33100,JOURNAL CREDIT,90691.0,0.0,0.0,90691.00,890@101.90,0,0
5310840,2019-11-25 16:18:38,2019-11-25,23,PSM1915,93,1,2019112523PSM1915921,31111,STAFF SALARY ACCOUNT,9250923101,925092,29580944,254703774328,BONIFACE KIBIWOTT CHEMAOY ...,32001,CASH WITHDRAWAL,300.0,0.0,0.0,-300.00,,0,0
5310842,2019-11-25 16:19:00,2019-11-25,100,MIPU0001,1158,1,20191125100MIPU000111571,31111,STAFF SALARY ACCOUNT,2000035700,47428,10137782,254721633929,EUNICE NJOKI MACHARIA ...,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),5000.0,0.0,0.0,5000.00,EUNICE MACHARIA-KCB CHQ 1337,0,0
5310868,2019-11-25 16:19:49,2019-11-25,109,KOCE0003,230,1,20191125109KOCE00032291,31111,STAFF SALARY ACCOUNT,2000103374,163180,28126945,254735911019,IVY MWIKALI WAMBUA ...,32099,ACCOUNT TO MPESA(B2C),1000.0,0.0,0.0,-1015.00,SEND TO MPESA 254702043331,0,0
5310869,2019-11-25 16:19:49,2019-11-25,109,KOCE0003,230,1,20191125109KOCE00032291,31111,STAFF SALARY ACCOUNT,2000103374,163180,28126945,254735911019,IVY MWIKALI WAMBUA ...,32099,ACCOUNT TO MPESA(B2C),1000.0,0.0,0.0,-1015.00,SEND TO MPESA 254702043331,0,0
5310875,2019-11-25 16:20:12,2019-11-25,23,PSM1915,96,1,2019112523PSM1915951,31111,STAFF SALARY ACCOUNT,9734833201,973483,24828558,0710468659,CHEPNGENO GETRUDE ...,32001,CASH WITHDRAWAL,300.0,0.0,0.0,-300.00,,0,0
5310881,2019-11-25 16:20:19,2019-11-25,17,10010018,5,1,20191125171001001841,31111,STAFF SALARY ACCOUNT,2455193201,245519,24956665,254726838746,SAMMY NJERU NJUE ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,15000.0,0.0,0.0,-15000.00,ATM DEBIT,0,0
5310897,2019-11-25 16:21:09,2019-11-25,200,10010001,43,1,2019112520010010001421,31111,STAFF SALARY ACCOUNT,2022633101,202263,26030287,254710760282,PIUS MUKHWANA WALELA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,3000.0,0.0,0.0,-3000.00,ATM DEBIT,0,0
5310907,2019-11-25 16:22:27,2019-11-25,200,10010001,44,1,2019112520010010001431,31111,STAFF SALARY ACCOUNT,2022633101,202263,26030287,254710760282,PIUS MUKHWANA WALELA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,27000.0,0.0,0.0,-27000.00,ATM DEBIT,0,0
5310926,2019-11-25 16:23:47,2019-11-25,109,KOCE0001,9144,1,20191125109KOCE000191431,31111,STAFF SALARY ACCOUNT,6953203101,695320,35097689,254798449650,JANE ATIENO OOKO ...,34001,JOURNAL DEBIT,3000.0,0.0,0.0,-3000.00,FUNDS TRANSFER TO 2097183201,0,0
5310927,2019-11-25 16:23:48,2019-11-25,109,KOCE0001,9145,1,20191125109KOCE000191441,31111,STAFF SALARY ACCOUNT,2097183201,209718,32534300,254727775941,MUSA WACHIRA IBRAHIM ...,33100,JOURNAL CREDIT,3000.0,0.0,0.0,3000.00,FUNDS TRANSFER FROM 6953203101,0,0
5310938,2019-11-25 16:24:31,2019-11-25,280,10010016,6,1,201911252801001001651,31111,STAFF SALARY ACCOUNT,7559283201,755928,30139939,254722961676,ARNOLD OUKO OPORIA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,6000.0,0.0,0.0,-6000.00,ATM DEBIT,0,0
5310942,2019-11-25 16:24:43,2019-11-25,24,10010020,17,1,201911252410010020161,31111,STAFF SALARY ACCOUNT,7884683201,788468,32456916,254714455681,JOSHUA MUMO MUSYOKA ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,2000.0,0.0,0.0,-2000.00,ATM DEBIT,0,0
5310957,2019-11-25 16:25:38,2019-11-25,109,KOCE0002,1522,1,20191125109KOCE000215211,31111,STAFF SALARY ACCOUNT,9572613201,957261,32152279,254713074821,LOREEN AMODING ...,32099,ACCOUNT TO MPESA(B2C),17670.0,0.0,0.0,-17692.00,SEND TO MPESA 254713074821,0,0
5310958,2019-11-25 16:25:38,2019-11-25,109,KOCE0002,1522,1,20191125109KOCE000215211,31111,STAFF SALARY ACCOUNT,9572613201,957261,32152279,254713074821,LOREEN AMODING ...,32099,ACCOUNT TO MPESA(B2C),17670.0,0.0,0.0,-17692.00,SEND TO MPESA 254713074821,0,0
5310965,2019-11-25 16:26:02,2019-11-25,520,KMR3070,77,1,20191125520KMR3070761,31111,STAFF SALARY ACCOUNT,2000094959,136699,22380382,254721562904,FLORIDAH IGOKI MBOGORI ...,32001,CASH WITHDRAWAL,5000.0,0.0,0.0,-5000.00,,0,0
5310974,2019-11-25 16:26:51,2019-11-25,19,PWK1613,121,1,2019112519PWK16131201,31111,STAFF SALARY ACCOUNT,9076583201,907658,30192970,0746614239,CATHERINE WANJIRU MAINA ...,32001,CASH WITHDRAWAL,2000.0,0.0,0.0,-2000.00,,0,0
5311025,2019-11-25 16:29:46,2019-11-25,109,KOCE0002,1534,1,20191125109KOCE000215331,31111,STAFF SALARY ACCOUNT,2000080924,117241,21611938,254723394259,TITUS MAYIEKA ONSOMU ...,32100,UTILITY BILL PAYMENT(APP),145.0,0.0,0.0,-145.00,BILL PAYMENT TO KPLC_POST 40751667,0,0
5311030,2019-11-25 16:30:51,2019-11-25,200,10010014,23,1,2019112520010010014221,31111,STAFF SALARY ACCOUNT,2097183201,209718,32534300,254727775941,MUSA WACHIRA IBRAHIM ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,3000.0,0.0,0.0,-3000.00,ATM DEBIT,0,0
5311035,2019-11-25 16:31:12,2019-11-25,109,KOCE0001,9233,1,20191125109KOCE000192321,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),50.0,0.0,0.0,-65.00,SEND TO MPESA 254721372823,0,0
5311036,2019-11-25 16:31:12,2019-11-25,109,KOCE0001,9233,1,20191125109KOCE000192321,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),50.0,0.0,0.0,-65.00,SEND TO MPESA 254721372823,0,0
5311049,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.0,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311050,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.0,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311063,2019-11-25 16:32:45,2019-11-25,200,10010001,47,1,2019112520010010001461,31111,STAFF SALARY ACCOUNT,9783654077,982280,28374764,0716961232,ERIC MUCHABA KIMANI ...,33000,ATM WITHDRAWAL ONUS KENSWITCH,10000.0,0.0,0.0,-10000.00,ATM DEBIT,0,0
5311066,2019-11-25 16:33:12,2019-11-25,200,FEO1530,251,1,20191125200FEO15302501,31111,STAFF SALARY ACCOUNT,9250843201,925084,27858390,254700180529,JANE WANJIRU KARATHE ...,32001,CASH WITHDRAWAL,5000.0,0.0,0.0,-5000.00,,0,0

In [288]:
#df1['TRX_USR'].unique().tolist()

In [290]:
#staff accounts 
#df_test = df1.query('PRODUCT_DESCRIPTION == "STAFF SALARY ACCOUNT"') 
#df2.TMSTAMP.sort_values(ascending = False)

In [291]:
df3 = df2.query('TRX_USR.str.contains("KOCE")' or 'TRX_USR.str.contains("ESB")')
df3

,TMSTAMP,TRX_DATE,TRX_UNIT,TRX_USR,TRX_USR_SN,TUN_INTERNAL_SN,TRANSACTION_REF,ID_PRODUCT,PRODUCT_DESCRIPTION,ACCOUNT_NUMBER,FK_CUSTOMERCUST_ID,NATIONAL_ID,MOBILE_TEL,ACCOUNT_NAME,I_ID_JUSTIFIC,TRANSACTION_TYPE,TRANSACTION_AMOUNT,COMMISSION,EXCISE DUTY,TOTAL_TRX_AMOUNT,TRX_COMMENTS,REVERSE_FLAG,REVERSED_TRX_FLAG
91838,2019-01-01 00:02:17,2019-01-02,109,KOCE0001,135,1,20190102109KOCE00011341,31111,STAFF SALARY ACCOUNT,2000106497,171127,24437517,,JULIUS MUNGAI MUIGAI ...,32097,PAY BILL(ACCOUNT TO MPESA PAYBILL),1500.00,0.0,0.0,-1500.00,MPESA B2B PAY BILL 841063 VERONA,0,0
91839,2019-01-01 08:14:39,2019-01-02,109,KOCE0001,1938,1,20190102109KOCE000119371,31111,STAFF SALARY ACCOUNT,2000106497,171127,24437517,,JULIUS MUNGAI MUIGAI ...,32100,UTILITY BILL PAYMENT(APP),3500.00,0.0,0.0,-3500.00,BILL PAYMENT TO KPLC_PRE 14245959060,0,0
91842,2019-01-01 00:31:27,2019-01-02,109,KOCE0001,304,1,20190102109KOCE00013031,31111,STAFF SALARY ACCOUNT,2000107304,172768,28487961,254726059806,FELIX OGO BALESA ...,32099,ACCOUNT TO MPESA(B2C),700.00,0.0,0.0,-700.00,SEND TO MPESA 254726059806,0,0
91849,2019-01-01 06:45:11,2019-01-02,109,KOCE0001,1153,1,20190102109KOCE000111521,31111,STAFF SALARY ACCOUNT,2000109702,178026,28486112,254714538554,GICHIA WAITHIRA SAMSON ...,32098,AIRTIME PURCHASE( MOBILE APP),50.00,0.0,0.0,-50.00,BUY AIRTIME FOR AIRTSAF 254714538554,0,0
91970,2019-01-01 00:47:57,2019-01-02,109,KOCE0001,381,1,20190102109KOCE00013801,31111,STAFF SALARY ACCOUNT,4425303201,442530,24062378,254720256476,BELINDA KEITANY ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,30000.00,0.0,0.0,30000.00,NA13VORRX1-254720256476 MPESA TO ACC,0,0
92391,2019-01-01 00:05:25,2019-01-02,109,KOCE0001,155,1,20190102109KOCE00011541,31111,STAFF SALARY ACCOUNT,2000038766,50023,4440692,254723681065,JANE MARGARET ADHIAMBO SURUNGAI ...,32099,ACCOUNT TO MPESA(B2C),100.00,0.0,0.0,-100.00,SEND TO MPESA 254723681065,0,0
92420,2019-01-01 07:36:01,2019-01-02,109,KOCE0001,1484,1,20190102109KOCE000114831,31111,STAFF SALARY ACCOUNT,2000061953,94031,22916777,254722586861,BILLIET ANGELA KIKECH ...,32099,ACCOUNT TO MPESA(B2C),3000.00,0.0,0.0,-3000.00,SEND TO MPESA 254722586861,0,0
92427,2019-01-01 07:54:44,2019-01-02,109,KOCE0001,1712,1,20190102109KOCE000117111,31111,STAFF SALARY ACCOUNT,2000067004,100091,23675274,254720711124,JANE WAITHIRA GITHENYA ...,32100,UTILITY BILL PAYMENT(APP),600.00,0.0,0.0,-600.00,BILL PAYMENT TO KPLC_PRE 22170439305,0,0
92434,2019-01-01 07:03:12,2019-01-02,109,KOCE0001,1216,1,20190102109KOCE000112151,31111,STAFF SALARY ACCOUNT,2000079280,115119,22720334,0722222024,ARTHUR GACHONDE MAINA ...,32099,ACCOUNT TO MPESA(B2C),100.00,0.0,0.0,-100.00,SEND TO MPESA 254722222024,0,0
92446,2019-01-01 08:25:32,2019-01-02,109,KOCE0001,2085,1,20190102109KOCE000120841,31111,STAFF SALARY ACCOUNT,2000081600,118066,12777450,254727175120,NANCY WANGUI GITHAIGA ...,32099,ACCOUNT TO MPESA(B2C),2000.00,0.0,0.0,-2000.00,SEND TO MPESA 254727175120,0,0
92453,2019-01-01 00:14:31,2019-01-02,109,KOCE0001,203,1,20190102109KOCE00012021,31111,STAFF SALARY ACCOUNT,2000085740,123404,13845195,254722623336,CHRISTOPHER MWANGI MBUGUA ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1000.00,SEND TO MPESA 254706498049,0,0
92504,2019-01-01 07:56:18,2019-01-02,109,KOCE0001,1738,1,20190102109KOCE000117371,31111,STAFF SALARY ACCOUNT,2000113194,138716,27600537,254715862783,SAMUEL MWIRIKA NGIGI ...,99890,LOAN DRAWDOWN,42189.67,0.0,0.0,42189.67,TRANSFER FROM 0600062884,0,0
92505,2019-01-01 07:57:30,2019-01-02,109,KOCE0002,194,1,20190102109KOCE00021931,31111,STAFF SALARY ACCOUNT,2000113194,138716,27600537,254715862783,SAMUEL MWIRIKA NGIGI ...,32099,ACCOUNT TO MPESA(B2C),25000.00,0.0,0.0,-25000.00,SEND TO MPESA 254715862783,0,0
92693,2019-01-01 00:14:37,2019-01-02,109,KOCE0001,206,1,20190102109KOCE00012051,31111,STAFF SALARY ACCOUNT,2129333101,212933,25619069,254711260890,GODFREY NGATIA GICHURU ...,32098,AIRTIME PURCHASE( MOBILE APP),30.00,0.0,0.0,-30.00,BUY AIRTIME FOR AIRTSAF 254711260890,0,0
92694,2019-01-01 03:39:11,2019-01-02,109,KOCE0001,846,1,20190102109KOCE00018451,31111,STAFF SALARY ACCOUNT,2129333101,212933,25619069,254711260890,GODFREY NGATIA GICHURU ...,32098,AIRTIME PURCHASE( MOBILE APP),30.00,0.0,0.0,-30.00,BUY AIRTIME FOR AIRTSAF 254711260890,0,0
92794,2019-01-01 00:58:40,2019-01-02,109,KOCE0001,434,1,20190102109KOCE00014331,31111,STAFF SALARY ACCOUNT,2329663101,232966,11282125,254700016072,JAEL ACHIENG ONYANGO ...,32099,ACCOUNT TO MPESA(B2C),3000.00,0.0,0.0,-3000.00,SEND TO MPESA 254700016072,0,0
92901,2019-01-01 08:40:32,2019-01-02,109,KOCE0001,2296,1,20190102109KOCE000122951,31111,STAFF SALARY ACCOUNT,2802693101,280269,30620065,254714415456,NELLY KAOSE DAMA ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,10.00,0.0,0.0,10.00,NA13VRWY9P-254714415456 MPESA TO ACC,0,0
93014,2019-01-02 17:59:31,2019-01-02,109,KOCE0002,9985,1,20190102109KOCE000299841,31111,STAFF SALARY ACCOUNT,4077943201,407794,30707178,254723491292,BENSON MWIRIGI ...,32099,ACCOUNT TO MPESA(B2C),350.00,0.0,0.0,-350.00,SEND TO MPESA 254705466638,0,0
93232,2019-01-02 11:24:41,2019-01-02,109,KOCE0001,21672,1,20190102109KOCE0001216711,31111,STAFF SALARY ACCOUNT,2802693101,280269,30620065,254714415456,NELLY KAOSE DAMA ...,32099,ACCOUNT TO MPESA(B2C),10.00,0.0,0.0,-10.00,SEND TO MPESA 254714415456,0,0
93233,2019-01-02 11:28:08,2019-01-02,109,KOCE0001,21740,1,20190102109KOCE0001217391,31111,STAFF SALARY ACCOUNT,2802693101,280269,30620065,254714415456,NELLY KAOSE DAMA ...,32099,ACCOUNT TO MPESA(B2C),10000.00,0.0,0.0,-10000.00,SEND TO MPESA 254714415456,0,0
95867,2019-01-01 15:16:23,2019-01-02,109,KOCE0002,1956,1,20190102109KOCE000219551,31111,STAFF SALARY ACCOUNT,949563101,94956,20064873,254721250373,CHARLES MUEMA MUNUVE ...,32097,PAY BILL(ACCOUNT TO MPESA PAYBILL),1200.00,0.0,0.0,-1200.00,MPESA B2B PAY BILL 770459 130116,0,0
95868,2019-01-01 15:17:10,2019-01-02,109,KOCE0001,8759,1,20190102109KOCE000187581,31111,STAFF SALARY ACCOUNT,949563101,94956,20064873,254721250373,CHARLES MUEMA MUNUVE ...,32097,PAY BILL(ACCOUNT TO MPESA PAYBILL),300.00,0.0,0.0,-300.00,MPESA B2B PAY BILL 216630 M,0,0
95869,2019-01-02 08:52:10,2019-01-02,109,KOCE0001,18596,1,20190102109KOCE0001185951,31111,STAFF SALARY ACCOUNT,949563101,94956,20064873,254721250373,CHARLES MUEMA MUNUVE ...,32097,PAY BILL(ACCOUNT TO MPESA PAYBILL),200.00,0.0,0.0,-200.00,MPESA B2B PAY BILL 911311 0949563101,0,0
95870,2019-01-02 14:05:25,2019-01-02,109,KOCE0001,25019,1,20190102109KOCE0001250181,31111,STAFF SALARY ACCOUNT,949563101,94956,20064873,254721250373,CHARLES MUEMA MUNUVE ...,39023,RTGS -PAYMENT,100000.00,0.0,0.0,-100000.00,OUTGOING INTERBANK P/O. OT00109002464519,0,0
95871,2019-01-02 14:05:25,2019-01-02,109,KOCE0001,25020,1,20190102109KOCE0001250191,31111,STAFF SALARY ACCOUNT,949563101,94956,20064873,254721250373,CHARLES MUEMA MUNUVE ...,99001,Processing Fee,600.00,0.0,0.0,-600.00,OUTGOING INTERBANK P/O. OT00109002464519,0,0
96030,2019-01-01 11:47:09,2019-01-02,109,KOCE0003,141,1,20190102109KOCE00031401,31111,STAFF SALARY ACCOUNT,4307613101,430761,28529474,254721554699,KEVIN MWANGI KARIITHI ...,32099,ACCOUNT TO MPESA(B2C),4000.00,0.0,0.0,-4000.00,SEND TO MPESA 254721554699,0,0
96031,2019-01-02 09:58:46,2019-01-02,109,KOCE0001,19926,1,20190102109KOCE0001199251,31111,STAFF SALARY ACCOUNT,4307613101,430761,28529474,254721554699,KEVIN MWANGI KARIITHI ...,32099,ACCOUNT TO MPESA(B2C),5000.00,0.0,0.0,-5000.00,SEND TO MPESA 254721554699,0,0
96033,2019-01-02 15:34:57,2019-01-02,109,KOCE0001,26746,1,20190102109KOCE0001267451,31111,STAFF SALARY ACCOUNT,4307613101,430761,28529474,254721554699,KEVIN MWANGI KARIITHI ...,32099,ACCOUNT TO MPESA(B2C),23800.00,0.0,0.0,-23800.00,SEND TO MPESA 254721554699,0,0
98084,2019-01-01 15:34:34,2019-01-02,109,KOCE0001,9081,1,20190102109KOCE000190801,31111,STAFF SALARY ACCOUNT,3267643101,326764,27417482,254797051069,MARTIN GUAMA KIBOI ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1000.00,SEND TO MPESA 254797051069,0,0
98087,2019-01-01 21:41:56,2019-01-02,109,KOCE0001,14643,1,20190102109KOCE0001146421,31111,STAFF SALARY ACCOUNT,3267643101,326764,27417482,254797051069,MARTIN GUAMA KIBOI ...,31815,CR FROM MOBILE BANKING-MPESA TO ACC,1200.00,0.0,0.0,1200.00,NA12WCAUC6-254797051069 MPESA TO ACC,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5310490,2019-11-25 15:57:20,2019-11-25,109,KOCE0003,217,1,20191125109KOCE00032161,31111,STAFF SALARY ACCOUNT,9734783201,973478,33504171,254723819076,TONNY NZIOKI NGUNGU ...,34001,JOURNAL DEBIT,750.00,0.0,0.0,-750.00,FUNDS TRANSFER TO 7559283201,0,0
5310491,2019-11-25 15:57:20,2019-11-25,109,KOCE0003,218,1,20191125109KOCE00032171,31111,STAFF SALARY ACCOUNT,7559283201,755928,30139939,254722961676,ARNOLD OUKO OPORIA ...,33100,JOURNAL CREDIT,750.00,0.0,0.0,750.00,FUNDS TRANSFER FROM 9734783201,0,0
5310512,2019-11-25 15:59:01,2019-11-25,109,KOCE0001,8881,1,20191125109KOCE000188801,31111,STAFF SALARY ACCOUNT,2000105053,166735,24769697,254715761008,REGINAH WANJIRU MUGWE ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254715761008,0,0
5310513,2019-11-25 15:59:01,2019-11-25,109,KOCE0001,8881,1,20191125109KOCE000188801,31111,STAFF SALARY ACCOUNT,2000105053,166735,24769697,254715761008,REGINAH WANJIRU MUGWE ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254715761008,0,0
5310514,2019-11-25 15:59:04,2019-11-25,109,KOCE0001,8886,1,20191125109KOCE000188851,31111,STAFF SALARY ACCOUNT,2000060927,92867,22144141.,254722628054,AUDREY MUSUNGU SHILLIEBO ...,32099,ACCOUNT TO MPESA(B2C),30800.00,0.0,0.0,-30822.00,SEND TO MPESA 254722628054,0,0
5310515,2019-11-25 15:59:04,2019-11-25,109,KOCE0001,8886,1,20191125109KOCE000188851,31111,STAFF SALARY ACCOUNT,2000060927,92867,22144141.,254722628054,AUDREY MUSUNGU SHILLIEBO ...,32099,ACCOUNT TO MPESA(B2C),30800.00,0.0,0.0,-30822.00,SEND TO MPESA 254722628054,0,0
5310531,2019-11-25 16:00:27,2019-11-25,109,KOCE0001,8903,1,20191125109KOCE000189021,31111,STAFF SALARY ACCOUNT,2000060927,92867,22144141.,254722628054,AUDREY MUSUNGU SHILLIEBO ...,32099,ACCOUNT TO MPESA(B2C),1100.00,0.0,0.0,-1122.00,SEND TO MPESA 254722269821,0,0
5310532,2019-11-25 16:00:27,2019-11-25,109,KOCE0001,8903,1,20191125109KOCE000189021,31111,STAFF SALARY ACCOUNT,2000060927,92867,22144141.,254722628054,AUDREY MUSUNGU SHILLIEBO ...,32099,ACCOUNT TO MPESA(B2C),1100.00,0.0,0.0,-1122.00,SEND TO MPESA 254722269821,0,0
5310600,2019-11-25 16:04:51,2019-11-25,109,KOCE0002,1454,1,20191125109KOCE000214531,31111,STAFF SALARY ACCOUNT,9595283201,959528,27834222,0718061575,ERIC OUMA OTIENO ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254722648401,0,0
5310601,2019-11-25 16:04:51,2019-11-25,109,KOCE0002,1454,1,20191125109KOCE000214531,31111,STAFF SALARY ACCOUNT,9595283201,959528,27834222,0718061575,ERIC OUMA OTIENO ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254722648401,0,0
5310611,2019-11-25 16:05:28,2019-11-25,109,KOCE0001,8946,1,20191125109KOCE000189451,31111,STAFF SALARY ACCOUNT,9069733201,906973,23389814,254723022392,CYPRIAN ABUGA OBARE ...,32098,AIRTIME PURCHASE( MOBILE APP),50.00,0.0,0.0,-50.00,BUY AIRTIME FOR AIRTSAF 254723022392,0,0
5310637,2019-11-25 16:07:21,2019-11-25,109,KOCE0002,1467,1,20191125109KOCE000214661,31111,STAFF SALARY ACCOUNT,2000033031,29488,8182751,254714606788,GORDON MBIGO NYAGUDI ...,32099,ACCOUNT TO MPESA(B2C),2000.00,0.0,0.0,-2022.00,SEND TO MPESA 254725375620,0,0
5310638,2019-11-25 16:07:21,2019-11-25,109,KOCE0002,1467,1,20191125109KOCE000214661,31111,STAFF SALARY ACCOUNT,2000033031,29488,8182751,254714606788,GORDON MBIGO NYAGUDI ...,32099,ACCOUNT TO MPESA(B2C),2000.00,0.0,0.0,-2022.00,SEND TO MPESA 254725375620,0,0
5310663,2019-11-25 16:08:29,2019-11-25,109,KOCE0001,8972,1,20191125109KOCE000189711,31111,STAFF SALARY ACCOUNT,2000033031,29488,8182751,254714606788,GORDON MBIGO NYAGUDI ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254722721464,0,0
5310664,2019-11-25 16:08:29,2019-11-25,109,KOCE0001,8972,1,20191125109KOCE000189711,31111,STAFF SALARY ACCOUNT,2000033031,29488,8182751,254714606788,GORDON MBIGO NYAGUDI ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254722721464,0,0
5310744,2019-11-25 16:13:24,2019-11-25,109,KOCE0001,9031,1,20191125109KOCE000190301,31111,STAFF SALARY ACCOUNT,2000115011,188339,28597698,,WANJIKU ESTHER NJAU ...,32099,ACCOUNT TO MPESA(B2C),700.00,0.0,0.0,-715.00,SEND TO MPESA 254715681200,0,0
5310745,2019-11-25 16:13:24,2019-11-25,109,KOCE0001,9031,1,20191125109KOCE000190301,31111,STAFF SALARY ACCOUNT,2000115011,188339,28597698,,WANJIKU ESTHER NJAU ...,32099,ACCOUNT TO MPESA(B2C),700.00,0.0,0.0,-715.00,SEND TO MPESA 254715681200,0,0
5310781,2019-11-25 16:14:54,2019-11-25,109,KOCE0001,9042,1,20191125109KOCE000190411,31111,STAFF SALARY ACCOUNT,2000086724,124591,22204649,254722581540,ELIZABETH NJERI MWANGI ...,32099,ACCOUNT TO MPESA(B2C),12000.00,0.0,0.0,-12022.00,SEND TO MPESA 254727080818,0,0
5310782,2019-11-25 16:14:54,2019-11-25,109,KOCE0001,9042,1,20191125109KOCE000190411,31111,STAFF SALARY ACCOUNT,2000086724,124591,22204649,254722581540,ELIZABETH NJERI MWANGI ...,32099,ACCOUNT TO MPESA(B2C),12000.00,0.0,0.0,-12022.00,SEND TO MPESA 254727080818,0,0
5310868,2019-11-25 16:19:49,2019-11-25,109,KOCE0003,230,1,20191125109KOCE00032291,31111,STAFF SALARY ACCOUNT,2000103374,163180,28126945,254735911019,IVY MWIKALI WAMBUA ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254702043331,0,0
5310869,2019-11-25 16:19:49,2019-11-25,109,KOCE0003,230,1,20191125109KOCE00032291,31111,STAFF SALARY ACCOUNT,2000103374,163180,28126945,254735911019,IVY MWIKALI WAMBUA ...,32099,ACCOUNT TO MPESA(B2C),1000.00,0.0,0.0,-1015.00,SEND TO MPESA 254702043331,0,0
5310926,2019-11-25 16:23:47,2019-11-25,109,KOCE0001,9144,1,20191125109KOCE000191431,31111,STAFF SALARY ACCOUNT,6953203101,695320,35097689,254798449650,JANE ATIENO OOKO ...,34001,JOURNAL DEBIT,3000.00,0.0,0.0,-3000.00,FUNDS TRANSFER TO 2097183201,0,0
5310927,2019-11-25 16:23:48,2019-11-25,109,KOCE0001,9145,1,20191125109KOCE000191441,31111,STAFF SALARY ACCOUNT,2097183201,209718,32534300,254727775941,MUSA WACHIRA IBRAHIM ...,33100,JOURNAL CREDIT,3000.00,0.0,0.0,3000.00,FUNDS TRANSFER FROM 6953203101,0,0
5310957,2019-11-25 16:25:38,2019-11-25,109,KOCE0002,1522,1,20191125109KOCE000215211,31111,STAFF SALARY ACCOUNT,9572613201,957261,32152279,254713074821,LOREEN AMODING ...,32099,ACCOUNT TO MPESA(B2C),17670.00,0.0,0.0,-17692.00,SEND TO MPESA 254713074821,0,0
5310958,2019-11-25 16:25:38,2019-11-25,109,KOCE0002,1522,1,20191125109KOCE000215211,31111,STAFF SALARY ACCOUNT,9572613201,957261,32152279,254713074821,LOREEN AMODING ...,32099,ACCOUNT TO MPESA(B2C),17670.00,0.0,0.0,-17692.00,SEND TO MPESA 254713074821,0,0
5311025,2019-11-25 16:29:46,2019-11-25,109,KOCE0002,1534,1,20191125109KOCE000215331,31111,STAFF SALARY ACCOUNT,2000080924,117241,21611938,254723394259,TITUS MAYIEKA ONSOMU ...,32100,UTILITY BILL PAYMENT(APP),145.00,0.0,0.0,-145.00,BILL PAYMENT TO KPLC_POST 40751667,0,0
5311035,2019-11-25 16:31:12,2019-11-25,109,KOCE0001,9233,1,20191125109KOCE000192321,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),50.00,0.0,0.0,-65.00,SEND TO MPESA 254721372823,0,0
5311036,2019-11-25 16:31:12,2019-11-25,109,KOCE0001,9233,1,20191125109KOCE000192321,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),50.00,0.0,0.0,-65.00,SEND TO MPESA 254721372823,0,0
5311049,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0
5311050,2019-11-25 16:31:51,2019-11-25,109,KOCE0001,9241,1,20191125109KOCE000192401,31111,STAFF SALARY ACCOUNT,8925853201,892585,27673863,254721372823,MICHAEL KIVUVA ...,32099,ACCOUNT TO MPESA(B2C),34900.00,0.0,0.0,-34922.00,SEND TO MPESA 254721372823,0,0

In [292]:
#period of running 
#df3.TRX_DATE#.max()

#df2.TRX_DATE =  pd.to_datetime(df2.TRX_DATE, infer_datetime_format=True)
#df3.TMSTAMP.sort_values(ascending=False)
#df3

In [293]:
df3.dtypes

TMSTAMP                datetime64[ns]
TRX_DATE               datetime64[ns]
TRX_UNIT                        int64
TRX_USR                        object
TRX_USR_SN                      int64
TUN_INTERNAL_SN                 int64
TRANSACTION_REF                object
ID_PRODUCT                      int64
PRODUCT_DESCRIPTION            object
ACCOUNT_NUMBER                  int64
FK_CUSTOMERCUST_ID              int64
NATIONAL_ID                    object
MOBILE_TEL                     object
ACCOUNT_NAME                   object
I_ID_JUSTIFIC                   int64
TRANSACTION_TYPE               object
TRANSACTION_AMOUNT            float64
COMMISSION                    float64
EXCISE DUTY                   float64
TOTAL_TRX_AMOUNT              float64
TRX_COMMENTS                   object
REVERSE_FLAG                   object
REVERSED_TRX_FLAG              object
dtype: object

In [295]:
NOW = df3.TRX_DATE.max()
rfmTable = df3.groupby('ACCOUNT_NUMBER').agg({'TRX_DATE': lambda x: (NOW - x.max()).days, 'TRANSACTION_REF': lambda x: len(x), 'COMMISSION': lambda x: x.sum()})
rfmTable['TRX_DATE'] = rfmTable['TRX_DATE'].astype(int)
rfmTable.rename(columns={'TRX_DATE': 'recency', 
                         'TRANSACTION_REF': 'frequency', 
                         'COMMISSION': 'monetary_value'}, inplace=True)

In [296]:
rfmTable

                frequency  recency  monetary_value
ACCOUNT_NUMBER
201643101              11        0             0.0
949563101             703        0          4731.0
1098683102            703        2          5640.0
1302963102            155      154           555.0
1445193102              1       94             0.0
1591173102              3      108            66.0
1602073103              1       69             0.0
1619473101              1      188             0.0
1637003102             43        0           486.0
1687573101              1       70             0.0
1718983101              3      266             0.0
1850443102             12      284             0.0
1933933101            164        2          1656.0
1934193101              1      276             0.0
1934203101            260        0          1413.0
1950803101            339        0          1791.0
1965523101            498        7          4908.0
1985593201            150        0          2034.0
1987833101            203        3           912.0
1987853101             39      231             0.0
1987863101             23      272             0.0
1987883101            235        0          1911.0
1987903101            440        0          1641.0
1987923101            635        0          5355.0
1988003101             72       10           489.0
2000002630              4      198             0.0
2000032902            231        0          1611.0
2000032906              1      234             0.0
2000032907              1      132             0.0
2000032908             38        3           198.0
...                   ...      ...             ...
9250633201             36        0             0.0
9250743201             11        7             0.0
9250843201              8       11             0.0
9250923101             20        2             0.0
9295773201             27        2             0.0
9364553201              4      112            66.0
9400453201            145        0           465.0
9409553201             36       13           111.0
9409623201             48        3           222.0
9465843201             29       12           243.0
9470443201             20       24             0.0
9479013101            114        2           111.0
9526623201             76        2           198.0
9572613201             18        0             0.0
9594833201             21        0             0.0
9594973201             29        2             0.0
9595283201             66        0             0.0
9595293201             33        2             0.0
9603493101              2       28             0.0
9671213101              2       10             0.0
9681443201             25        4             0.0
9681463201              4       19             0.0
9734773201             19        3             0.0
9734783201             11        0             0.0
9734833201              5       13             0.0
9757443201              8       10             0.0
9783650409             11       12             0.0
9783651633              5        3             0.0
9783652533             12       11             0.0
9783652535              6       19             0.0

[479 rows x 3 columns]

In [297]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
print(quantiles)
quantiles = quantiles.to_dict()
quantiles

      frequency  recency  monetary_value
0.25       20.0      0.0             0.0
0.50       83.0      7.0           528.0
0.75      252.0     30.0          1815.0

{'frequency': {0.25: 20.0, 0.5: 83.0, 0.75: 252.0},
 'monetary_value': {0.25: 0.0, 0.5: 528.0, 0.75: 1815.0},
 'recency': {0.25: 0.0, 0.5: 7.0, 0.75: 30.0}}

In [298]:
#reference https://towardsdatascience.com/find-your-best-customers-with-customer-segmentation-in-python-61d602f9eee6
segmented_rfm = rfmTable

In [299]:
#The lowest recency, highest frequency and monetary amounts are our best customers.
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [300]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile
ACCOUNT_NUMBER,,,,,,
201643101,11,0,0.0,1,4,4
949563101,703,0,4731.0,1,1,1
1098683102,703,2,5640.0,2,1,1
1302963102,155,154,555.0,4,2,2
1445193102,1,94,0.0,4,4,4

In [301]:
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)   + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
ACCOUNT_NUMBER,,,,,,,
201643101,11,0,0.0,1,4,4,144
949563101,703,0,4731.0,1,1,1,111
1098683102,703,2,5640.0,2,1,1,211
1302963102,155,154,555.0,4,2,2,422
1445193102,1,94,0.0,4,4,4,444

In [302]:
segmented_rfm.RFMScore.max()

'444'

In [303]:
staff_identify = pd.read_excel (r'/Users/allan.aswani/Documents/scorecardworks/staff_loans_version_1.xlsx', sheet_name='Sheet2')
staff_identify

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,03,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,IC,Brenda Jebiwot Rop,6637423201,721137841,6000,STAFF SALARY ACCOUNT,663742.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,IC,Brevin Kiplangat Towett,6637963201,704576375,6000,STAFF SALARY ACCOUNT,663796.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,IC,Naomi Wangare Kahono,6637313201,700399203,6000,STAFF SALARY ACCOUNT,663731.0,1.0,0.0,2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,IC,Shirley Amisi Mundia,6637113201,727389342,6000,STAFF SALARY ACCOUNT,663711.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,IC,Florence Wanjiku Wanjiru,6909003201,701763861,6000,STAFF SALARY ACCOUNT,690900.0,0.0,0.0,2019-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,IC,Pauline Kendi Marete,6336393201,705082062,6000,STAFF SALARY ACCOUNT,633639.0,0.0,0.0,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,IC,Racheal Nyongesa,3617653201,0706 581 312,6000,STAFF SALARY ACCOUNT,361765.0,0.0,0.0,2018-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,IC,Patience Temko,3542833201,725168343,6000,VIRTUAL ACCOUNT MOBILE,354283.0,0.0,0.0,2018-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,NaN,James Mwanzia,2000033191,723215317,3000,STAFF SALARY ACCOUNT,41457.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,Isaac Chege,2000098824,721352802,3000,STAFF SALARY ACCOUNT,148275.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,Ann Wamuyu,2000116076,722783626,3000,STAFF SALARY ACCOUNT,190183.0,0.0,0.0,2015-10-05,NaN,NaN,2.000116e+09,190183.0,110079.0,ANNE WAMUYU MUGO,11699911,2.547228e+11,31111.0
357,NaN,Stephen Makau,2566933101,716199057,3000,STAFF SALARY ACCOUNT,256693.0,0.0,0.0,2018-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,Joseph Wahome,2291893101,799054321,3000,STAFF SAVINGS ACCOUNT,229189.0,0.0,0.0,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,NaN,Elmelda Bwari,1754233101,720319899,3000,STAFF SALARY ACCOUNT,175423.0,0.0,0.0,2016-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,NaN,Fredrick Okode,2000033195,723594331,3000,STAFF SALARY ACCOUNT,41454.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,NaN,Gedion Mule,2000033237,710819074,3000,STAFF SALARY ACCOUNT,38622.0,0.0,0.0,2000-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,Everline Anyango,9077073101,717048127,3000,STAFF SALARY ACCOUNT,907707.0,0.0,0.0,2019-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,Juma Mangongo,2000116077,729373548,3000,STAFF SALARY ACCOUNT,190184.0,0.0,0.0,2017-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,Carol Irungu,2000098823,713901942,3000,STAFF SALARY ACCOUNT,148272.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,NaN,Eunice Ouma,2239793101,780594331,3000,STAFF SALARY ACCOUNT,223979.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,David Otieno,2239803101,724252961,3000,STAFF SALARY ACCOUNT,223980.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,NaN,Branson Ngelengele,2239853101,741053087,3000,STAFF SALARY ACCOUNT,223985.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,Lydia Kageni,2000045327,724044709,3000,STAFF SALARY ACCOUNT,62457.0,0.0,0.0,2004-08-09,NaN,NaN,2.000045e+09,62457.0,59982.0,LYDIA KAGENI KIREA,21425788,2.547240e+11,31111.0
369,NaN,Christine Marowa,2000094679,727114520,3000,STAFF SALARY ACCOUNT,135683.0,0.0,0.0,2012-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,Simon Mwangi,1300803101,726704956,3000,STAFF SALARY ACCOUNT,130080.0,0.0,0.0,2016-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,joseph Kamau,8589783201,724001457,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,NaN,tonney agira,6870023202,713603163,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaN,jerusha igombo,8025403201,722977981,30000,NaN,NaN,NaN,NaN,NaT,M5,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,kingori mwangi,8951043201,713605651,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,kibet kitur,6615513201,721462728,30000,NaN,NaN,NaN,NaN,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
segmented_rfm = pd.DataFrame(segmented_rfm)
segmented_rfm.reset_index(level=0, inplace=True)
segmented_rfm

,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,201643101,11,0,0.0,1,4,4,144
1,949563101,703,0,4731.0,1,1,1,111
2,1098683102,703,2,5640.0,2,1,1,211
3,1302963102,155,154,555.0,4,2,2,422
4,1445193102,1,94,0.0,4,4,4,444
5,1591173102,3,108,66.0,4,4,3,443
6,1602073103,1,69,0.0,4,4,4,444
7,1619473101,1,188,0.0,4,4,4,444
8,1637003102,43,0,486.0,1,3,3,133
9,1687573101,1,70,0.0,4,4,4,444
10,1718983101,3,266,0.0,4,4,4,444
11,1850443102,12,284,0.0,4,4,4,444
12,1933933101,164,2,1656.0,2,2,2,222
13,1934193101,1,276,0.0,4,4,4,444
14,1934203101,260,0,1413.0,1,1,2,112
15,1950803101,339,0,1791.0,1,1,2,112
16,1965523101,498,7,4908.0,2,1,1,211
17,1985593201,150,0,2034.0,1,2,1,121
18,1987833101,203,3,912.0,2,2,2,222
19,1987853101,39,231,0.0,4,3,4,434
20,1987863101,23,272,0.0,4,3,4,434
21,1987883101,235,0,1911.0,1,2,1,121
22,1987903101,440,0,1641.0,1,1,2,112
23,1987923101,635,0,5355.0,1,1,1,111
24,1988003101,72,10,489.0,3,3,3,333
25,2000002630,4,198,0.0,4,4,4,444
26,2000032902,231,0,1611.0,1,2,2,122
27,2000032906,1,234,0.0,4,4,4,444
28,2000032907,1,132,0.0,4,4,4,444
29,2000032908,38,3,198.0,2,3,3,233
...,...,...,...,...,...,...,...,...
449,9250633201,36,0,0.0,1,3,4,134
450,9250743201,11,7,0.0,2,4,4,244
451,9250843201,8,11,0.0,3,4,4,344
452,9250923101,20,2,0.0,2,4,4,244
453,9295773201,27,2,0.0,2,3,4,234
454,9364553201,4,112,66.0,4,4,3,443
455,9400453201,145,0,465.0,1,2,3,123
456,9409553201,36,13,111.0,3,3,3,333
457,9409623201,48,3,222.0,2,3,3,233
458,9465843201,29,12,243.0,3,3,3,333
459,9470443201,20,24,0.0,3,4,4,344
460,9479013101,114,2,111.0,2,2,3,223
461,9526623201,76,2,198.0,2,3,3,233
462,9572613201,18,0,0.0,1,4,4,144
463,9594833201,21,0,0.0,1,3,4,134
464,9594973201,29,2,0.0,2,3,4,234
465,9595283201,66,0,0.0,1,3,4,134
466,9595293201,33,2,0.0,2,3,4,234
467,9603493101,2,28,0.0,3,4,4,344
468,9671213101,2,10,0.0,3,4,4,344
469,9681443201,25,4,0.0,2,3,4,234
470,9681463201,4,19,0.0,3,4,4,344
471,9734773201,19,3,0.0,2,4,4,244
472,9734783201,11,0,0.0,1,4,4,144
473,9734833201,5,13,0.0,3,4,4,344
474,9757443201,8,10,0.0,3,4,4,344
475,9783650409,11,12,0.0,3,4,4,344
476,9783651633,5,3,0.0,2,4,4,244
477,9783652533,12,11,0.0,3,4,4,344
478,9783652535,6,19,0.0,3,4,4,344

In [305]:
staff_identify.dtypes

Pfno                             object
Name                             object
ACCOUNT                           int64
MOBILE                           object
Loan Limit                        int64
Type of whizz Account            object
cust_id                         float64
target saving                   float64
fixed saving                    float64
opening date             datetime64[ns]
grade                            object
income proxy                    float64
accountNumber                   float64
cbsCustomerID                   float64
customerID                      float64
customerNames                    object
idNumber                         object
mobileNumber                    float64
productCode                     float64
dtype: object

In [306]:
print(segmented_rfm)

     ACCOUNT_NUMBER  frequency  recency  monetary_value  r_quartile  \
0         201643101         11        0             0.0           1
1         949563101        703        0          4731.0           1
2        1098683102        703        2          5640.0           2
3        1302963102        155      154           555.0           4
4        1445193102          1       94             0.0           4
5        1591173102          3      108            66.0           4
6        1602073103          1       69             0.0           4
7        1619473101          1      188             0.0           4
8        1637003102         43        0           486.0           1
9        1687573101          1       70             0.0           4
10       1718983101          3      266             0.0           4
11       1850443102         12      284             0.0           4
12       1933933101        164        2          1656.0           2
13       1934193101          1      276             0.0           4
14       1934203101        260        0          1413.0           1
15       1950803101        339        0          1791.0           1
16       1965523101        498        7          4908.0           2
17       1985593201        150        0          2034.0           1
18       1987833101        203        3           912.0           2
19       1987853101         39      231             0.0           4
20       1987863101         23      272             0.0           4
21       1987883101        235        0          1911.0           1
22       1987903101        440        0          1641.0           1
23       1987923101        635        0          5355.0           1
24       1988003101         72       10           489.0           3
25       2000002630          4      198             0.0           4
26       2000032902        231        0          1611.0           1
27       2000032906          1      234             0.0           4
28       2000032907          1      132             0.0           4
29       2000032908         38        3           198.0           2
..              ...        ...      ...             ...         ...
449      9250633201         36        0             0.0           1
450      9250743201         11        7             0.0           2
451      9250843201          8       11             0.0           3
452      9250923101         20        2             0.0           2
453      9295773201         27        2             0.0           2
454      9364553201          4      112            66.0           4
455      9400453201        145        0           465.0           1
456      9409553201         36       13           111.0           3
457      9409623201         48        3           222.0           2
458      9465843201         29       12           243.0           3
459      9470443201         20       24             0.0           3
460      9479013101        114        2           111.0           2
461      9526623201         76        2           198.0           2
462      9572613201         18        0             0.0           1
463      9594833201         21        0             0.0           1
464      9594973201         29        2             0.0           2
465      9595283201         66        0             0.0           1
466      9595293201         33        2             0.0           2
467      9603493101          2       28             0.0           3
468      9671213101          2       10             0.0           3
469      9681443201         25        4             0.0           2
470      9681463201          4       19             0.0           3
471      9734773201         19        3             0.0           2
472      9734783201         11        0             0.0           1
473      9734833201          5       13             0.0           3
474      9757443201          8       10             0.0           3
475      9783650409         11       12             0.0           3
476      9783651633          5        3             0.0           2
477      9783652533         12       11             0.0           3
478      9783652535          6       19             0.0           3

     f_quartile  m_quartile RFMScore
0             4           4      144
1             1           1      111
2             1           1      211
3             2           2      422
4             4           4      444
5             4           3      443
6             4           4      444
7             4           4      444
8             3           3      133
9             4           4      444
10            4           4      444
11            4           4      444
12            2           2      222
13            4           4      444
14            1           2      112
15            1           2      112
16            1           1      211
17            2           1      121
18            2           2      222
19            3           4      434
20            3           4      434
21            2           1      121
22            1           2      112
23            1           1      111
24            3           3      333
25            4           4      444
26            2           2      122
27            4           4      444
28            4           4      444
29            3           3      233
..          ...         ...      ...
449           3           4      134
450           4           4      244
451           4           4      344
452           4           4      244
453           3           4      234
454           4           3      443
455           2           3      123
456           3           3      333
457           3           3      233
458           3           3      333
459           4           4      344
460           2           3      223
461           3           3      233
462           4           4      144
463           3           4      134
464           3           4      234
465           3           4      134
466           3           4      234
467           4           4      344
468           4           4      344
469           3           4      234
470           4           4      344
471           4           4      244
472           4           4      144
473           4           4      344
474           4           4      344
475           4           4      344
476           4           4      244
477           4           4      344
478           4           4      344

[479 rows x 8 columns]

In [307]:
staff_account_limit = staff_identify.merge(segmented_rfm,left_on='ACCOUNT', right_on="ACCOUNT_NUMBER", how = "left")

In [308]:
staff_identify

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,03,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,IC,Brenda Jebiwot Rop,6637423201,721137841,6000,STAFF SALARY ACCOUNT,663742.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,IC,Brevin Kiplangat Towett,6637963201,704576375,6000,STAFF SALARY ACCOUNT,663796.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,IC,Naomi Wangare Kahono,6637313201,700399203,6000,STAFF SALARY ACCOUNT,663731.0,1.0,0.0,2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,IC,Shirley Amisi Mundia,6637113201,727389342,6000,STAFF SALARY ACCOUNT,663711.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,IC,Florence Wanjiku Wanjiru,6909003201,701763861,6000,STAFF SALARY ACCOUNT,690900.0,0.0,0.0,2019-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,IC,Pauline Kendi Marete,6336393201,705082062,6000,STAFF SALARY ACCOUNT,633639.0,0.0,0.0,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,IC,Racheal Nyongesa,3617653201,0706 581 312,6000,STAFF SALARY ACCOUNT,361765.0,0.0,0.0,2018-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,IC,Patience Temko,3542833201,725168343,6000,VIRTUAL ACCOUNT MOBILE,354283.0,0.0,0.0,2018-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,NaN,James Mwanzia,2000033191,723215317,3000,STAFF SALARY ACCOUNT,41457.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,Isaac Chege,2000098824,721352802,3000,STAFF SALARY ACCOUNT,148275.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,Ann Wamuyu,2000116076,722783626,3000,STAFF SALARY ACCOUNT,190183.0,0.0,0.0,2015-10-05,NaN,NaN,2.000116e+09,190183.0,110079.0,ANNE WAMUYU MUGO,11699911,2.547228e+11,31111.0
357,NaN,Stephen Makau,2566933101,716199057,3000,STAFF SALARY ACCOUNT,256693.0,0.0,0.0,2018-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,Joseph Wahome,2291893101,799054321,3000,STAFF SAVINGS ACCOUNT,229189.0,0.0,0.0,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,NaN,Elmelda Bwari,1754233101,720319899,3000,STAFF SALARY ACCOUNT,175423.0,0.0,0.0,2016-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,NaN,Fredrick Okode,2000033195,723594331,3000,STAFF SALARY ACCOUNT,41454.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,NaN,Gedion Mule,2000033237,710819074,3000,STAFF SALARY ACCOUNT,38622.0,0.0,0.0,2000-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,Everline Anyango,9077073101,717048127,3000,STAFF SALARY ACCOUNT,907707.0,0.0,0.0,2019-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,Juma Mangongo,2000116077,729373548,3000,STAFF SALARY ACCOUNT,190184.0,0.0,0.0,2017-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,Carol Irungu,2000098823,713901942,3000,STAFF SALARY ACCOUNT,148272.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,NaN,Eunice Ouma,2239793101,780594331,3000,STAFF SALARY ACCOUNT,223979.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,David Otieno,2239803101,724252961,3000,STAFF SALARY ACCOUNT,223980.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,NaN,Branson Ngelengele,2239853101,741053087,3000,STAFF SALARY ACCOUNT,223985.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,Lydia Kageni,2000045327,724044709,3000,STAFF SALARY ACCOUNT,62457.0,0.0,0.0,2004-08-09,NaN,NaN,2.000045e+09,62457.0,59982.0,LYDIA KAGENI KIREA,21425788,2.547240e+11,31111.0
369,NaN,Christine Marowa,2000094679,727114520,3000,STAFF SALARY ACCOUNT,135683.0,0.0,0.0,2012-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,Simon Mwangi,1300803101,726704956,3000,STAFF SALARY ACCOUNT,130080.0,0.0,0.0,2016-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,joseph Kamau,8589783201,724001457,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,NaN,tonney agira,6870023202,713603163,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaN,jerusha igombo,8025403201,722977981,30000,NaN,NaN,NaN,NaN,NaT,M5,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,kingori mwangi,8951043201,713605651,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,kibet kitur,6615513201,721462728,30000,NaN,NaN,NaN,NaN,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [309]:
staff_account_limit

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,2.000033e+09,142.0,9.0,1716.0,3.0,2.0,2.0,322
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,2.000033e+09,18.0,14.0,0.0,3.0,4.0,4.0,344
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000035e+09,1.0,233.0,0.0,4.0,4.0,4.0,444
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,2.000033e+09,231.0,0.0,1611.0,1.0,2.0,2.0,122
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,2.000033e+09,455.0,21.0,2841.0,3.0,1.0,1.0,311
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,2.000033e+09,132.0,3.0,1083.0,2.0,2.0,2.0,222
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,2.000033e+09,770.0,0.0,6642.0,1.0,1.0,1.0,111
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,2.000033e+09,476.0,0.0,2232.0,1.0,1.0,1.0,111
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,2.000033e+09,945.0,0.0,3840.0,1.0,1.0,1.0,111
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,2.000033e+09,212.0,16.0,1590.0,3.0,2.0,2.0,322
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,2.000033e+09,111.0,0.0,489.0,1.0,2.0,3.0,123
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,2.000033e+09,279.0,3.0,1059.0,2.0,1.0,2.0,212
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,2.000033e+09,203.0,3.0,1374.0,2.0,2.0,2.0,222
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,2.000033e+09,83.0,25.0,579.0,3.0,3.0,2.0,332
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,2.000033e+09,107.0,0.0,1305.0,1.0,2.0,2.0,122
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,2.000033e+09,223.0,0.0,690.0,1.0,2.0,2.0,122
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,2.000033e+09,299.0,0.0,1905.0,1.0,1.0,1.0,111
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000034e+09,1.0,214.0,0.0,4.0,4.0,4.0,444
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,03,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,2.000033e+09,598.0,0.0,3066.0,1.0,1.0,1.0,111
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,2.000033e+09,546.0,4.0,4371.0,2.0,1.0,1.0,211
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000038e+09,61.0,11.0,111.0,3.0,3.0,3.0,333
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,2.000036e+09,272.0,2.0,2208.0,2.0,1.0,1.0,211
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,2.000036e+09,199.0,0.0,1485.0,1.0,2.0,2.0,122
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,2.000036e+09,384.0,4.0,3219.0,2.0,1.0,1.0,211
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,2.000035e+09,728.0,0.0,5064.0,1.0,1.0,1.0,111
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000038e+09,210.0,0.0,1584.0,1.0,2.0,2.0,122
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000039e+09,335.0,14.0,3666.0,3.0,1.0,1.0,311
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,2.000033e+09,76.0,12.0,729.0,3.0,3.0,2.0,332
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000036e+09,5.0,53.0,0.0,4.0,4.0,4.0,444
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,2.000043e+09,448.0,2.0,3471.0,2.0,1.0,1.0,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,IC,Brenda Jebiwot Rop,6637423201,721137841,6000,STAFF SALARY ACCOUNT,663742.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637423e+09,175.0,0.0,1485.0,1.0,2.0,2.0,122
347,IC,Brevin Kiplangat Towett,6637963201,704576375,6000,STAFF SALARY ACCOUNT,663796.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637963e+09,18.0,10.0,264.0,3.0,4.0,3.0,343
348,IC,Naomi Wangare Kahono,6637313201,700399203,6000,STAFF SALARY ACCOUNT,663731.0,1.0,0.0,2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637313e+09,10.0,3.0,132.0,2.0,4.0,3.0,243
349,IC,Shirley Amisi Mundia,6637113201,727389342,6000,STAFF SALARY ACCOUNT,663711.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637113e+09,20.0,19.0,198.0,3.0,4.0,3.0,343
350,IC,Florence Wanjiku Wanjiru,6909003201,701763861,6000,STAFF SALARY ACCOUNT,690900.0,0.0,0.0,2019-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.909003e+09,72.0,9.0,1101.0,3.0,3.0,2.0,332
351,IC,Pauline Kendi Marete,6336393201,705082062,6000,STAFF SALARY ACCOUNT,633639.0,0.0,0.0,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.336393e+09,24.0,10.0,354.0,3.0,3.0,3.0,333
352,IC,Racheal Nyongesa,3617653201,0706 581 312,6000,STAFF SALARY ACCOUNT,361765.0,0.0,0.0,2018-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.617653e+09,26.0,24.0,132.0,3.0,3.0,3.0,333
353,IC,Patience Temko,3542833201,725168343,6000,VIRTUAL ACCOUNT MOBILE,354283.0,0.0,0.0,2018-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,NaN,James Mwanzia,2000033191,723215317,3000,STAFF SALARY ACCOUNT,41457.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,Isaac Chege,2000098824,721352802,3000,STAFF SALARY ACCOUNT,148275.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000099e+09,3.0,151.0,0.0,4.0,4.0,4.0,444
356,NaN,Ann Wamuyu,2000116076,722783626,3000,STAFF SALARY ACCOUNT,190183.0,0.0,0.0,2015-10-05,NaN,NaN,2.000116e+09,190183.0,110079.0,ANNE WAMUYU MUGO,11699911,2.547228e+11,31111.0,2.000116e+09,3.0,49.0,0.0,4.0,4.0,4.0,444
357,NaN,Stephen Makau,2566933101,716199057,3000,STAFF SALARY ACCOUNT,256693.0,0.0,0.0,2018-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,Joseph Wahome,2291893101,799054321,3000,STAFF SAVINGS ACCOUNT,229189.0,0.0,0.0,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,NaN,Elmelda Bwari,1754233101,720319899,3000,STAFF SALARY ACCOUNT,175423.0,0.0,0.0,2016-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,NaN,Fredrick Okode,2000033195,723594331,3000,STAFF SALARY ACCOUNT,41454.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000033e+09,1.0,139.0,0.0,4.0,4.0,4.0,444
361,NaN,Gedion Mule,2000033237,710819074,3000,STAFF SALARY ACCOUNT,38622.0,0.0,0.0,2000-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,Everline Anyango,9077073101,717048127,3000,STAFF SALARY ACCOUNT,907707.0,0.0,0.0,2019-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,Juma Mangongo,2000116077,729373548,3000,STAFF SALARY ACCOUNT,190184.0,0.0,0.0,2017-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,Carol Irungu,2000098823,713901942,3000,STAFF SALARY ACCOUNT,148272.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,NaN,Eunice Ouma,2239793101,780594331,3000,STAFF SALARY ACCOUNT,223979.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,David Otieno,2239803101,724252961,3000,STAFF SALARY ACCOUNT,223980.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,NaN,Branson Ngelengele,2239853101,741053087,3000,STAFF SALARY ACCOUNT,223985.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,Lydia Kageni,2000045327,724044709,3000,STAFF SALARY ACCOUNT,62457.0,0.0,0.0,2004-08-09,NaN,NaN,2.000045e+09,62457.0,59982.0,LYDIA KAGENI KIREA,21425788,2.547240e+11,31111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,NaN,Christine Marowa,2000094679,727114520,3000,STAFF SALARY ACCOUNT,135683.0,0.0,0.0,2012-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,Simon Mwangi,1300803101,726704956,3000,STAFF SALARY ACCOUNT,130080.0,0.0,0.0,2016-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,joseph Kamau,8589783201,724001457,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,NaN,tonney agira,6870023202,713603163,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaN,jerusha igombo,8025403201,722977981,30000,NaN,NaN,NaN,NaN,NaT,M5,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.025403e+09,782.0,0.0,7143.0,1.0,1.0,1.0,111
374,NaN,kingori mwangi,8951043201,713605651,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,kibet kitur,6615513201,721462728,30000,NaN,NaN,NaN,NaN,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [310]:
staff_account_limit.query('RFMScore>0')

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
0,363,Lucy Wangui Ndungu,2000032981,722310293,6000,STAFF SALARY ACCOUNT,29624.0,0.0,0.0,2000-12-06,01,10000.0,2.000033e+09,29624.0,519577.0,LUCY WANGUI,8515233,2.547223e+11,31111.0,2.000033e+09,142.0,9.0,1716.0,3.0,2.0,2.0,322
1,390,Rospa Jepngetich Kandie,2000033147,722466794,6000,STAFF SALARY ACCOUNT,30258.0,0.0,0.0,2018-06-13,UNC,NaN,2.000033e+09,30258.0,544942.0,ROSPA JEPNG'ETICH,9778506,2.547225e+11,31111.0,2.000033e+09,18.0,14.0,0.0,3.0,4.0,4.0,344
2,403,Alice Wanjiru Weru,2000035405,254722338270,6000,STAFF SALARY ACCOUNT,9582.0,0.0,0.0,2001-10-04,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000035e+09,1.0,233.0,0.0,4.0,4.0,4.0,444
3,415,George Mburu Karanu,2000032902,722559933,18000,STAFF SALARY ACCOUNT,4496.0,0.0,0.0,2000-11-29,M3,30000.0,2.000033e+09,4496.0,92.0,GEORGE MBURU,10874594,2.547226e+11,31111.0,2.000033e+09,231.0,0.0,1611.0,1.0,2.0,2.0,122
4,436,Eric Kiptoo Kosgei,2000033074,722859902,6000,STAFF SALARY ACCOUNT,1440.0,0.0,0.0,2012-11-17,UNC,NaN,2.000033e+09,1440.0,128.0,KOSGEI ERIC,9328141,2.547229e+11,31111.0,2.000033e+09,455.0,21.0,2841.0,3.0,1.0,1.0,311
5,439,David Kimutai Kirui,2000033024,721249078,6000,STAFF SALARY ACCOUNT,21135.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,21135.0,1278.0,DAVID KIRUI,10314300,2.547212e+11,31111.0,2.000033e+09,132.0,3.0,1083.0,2.0,2.0,2.0,222
6,441,Esther Wambui Muya,2000033121,720269385,6000,STAFF SALARY ACCOUNT,21123.0,0.0,0.0,2016-08-12,UNC,NaN,2.000033e+09,21123.0,2276.0,ESTHER MUYA,10269408,2.547203e+11,31111.0,2.000033e+09,770.0,0.0,6642.0,1.0,1.0,1.0,111
7,450,Jane Wambui Kuria,2000032960,722633539,12000,STAFF SALARY ACCOUNT,21439.0,0.0,0.0,2000-12-05,M2,20000.0,2.000033e+09,21439.0,181.0,JANE KURIA,10880731,2.547226e+11,31111.0,2.000033e+09,476.0,0.0,2232.0,1.0,1.0,1.0,111
8,462,Gordon Mbigo Nyagudi,2000033031,714606788,18000,STAFF SALARY ACCOUNT,29488.0,0.0,0.0,2014-10-28,M3,30000.0,2.000033e+09,29488.0,29.0,GORDON NYAGUDI,8182751,2.547146e+11,31111.0,2.000033e+09,945.0,0.0,3840.0,1.0,1.0,1.0,111
9,463,Lucy Njoki Njogu,2000033205,722790605,12000,STAFF SALARY ACCOUNT,20997.0,0.0,0.0,2000-12-13,M2,20000.0,2.000033e+09,20997.0,136.0,LUCY NJOGU,10087038,2.547228e+11,31111.0,2.000033e+09,212.0,16.0,1590.0,3.0,2.0,2.0,322
10,466,Eunice Wanja Kuria,2000032956,722445823,6000,STAFF SALARY ACCOUNT,29459.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,29459.0,1897.0,EUNICE WANJA,8071579,2.547224e+11,31111.0,2.000033e+09,111.0,0.0,489.0,1.0,2.0,3.0,123
11,480,Samuel Njuguna Mugo,2000033168,254722506128,6000,STAFF SALARY ACCOUNT,21738.0,0.0,0.0,2017-03-23,02,10000.0,2.000033e+09,21738.0,118.0,SAMUEL NJUGUNA,11669628,2.547225e+11,31111.0,2.000033e+09,279.0,3.0,1059.0,2.0,1.0,2.0,212
12,504,Dickson Nyaga Njagi,2000033067,722992269,6000,STAFF SALARY ACCOUNT,21571.0,0.0,0.0,2000-12-07,02,10000.0,2.000033e+09,21571.0,1201.0,DICKSON NJAGI,11210826,2.547230e+11,31111.0,2.000033e+09,203.0,3.0,1374.0,2.0,2.0,2.0,222
13,515,Joyce Wangu .,2000033071,722232012,6000,STAFF SALARY ACCOUNT,828.0,0.0,0.0,2012-04-26,03,10000.0,2.000033e+09,828.0,1634.0,JOYCE WANGU,10474968,2.547222e+11,31111.0,2.000033e+09,83.0,25.0,579.0,3.0,3.0,2.0,332
14,516,Joyce Muthoni Wambugu,2000033182,733858740,6000,STAFF SALARY ACCOUNT,45267.0,0.0,0.0,2009-09-07,02,10000.0,2.000033e+09,45267.0,341.0,JOYCE WAMBUGU,11410273,2.547229e+11,31111.0,2.000033e+09,107.0,0.0,1305.0,1.0,2.0,2.0,122
15,551,Joseph Karanja Githu,2000032977,712603278,6000,STAFF SALARY ACCOUNT,28258.0,0.0,0.0,2000-12-06,02,10000.0,2.000033e+09,28258.0,470628.0,JOSEPH KARANJA,6060445,2.547126e+11,31111.0,2.000033e+09,223.0,0.0,690.0,1.0,2.0,2.0,122
16,562,Rachel Sirma Cheren,2000033056,728878117,18000,STAFF SALARY ACCOUNT,22377.0,0.0,0.0,2010-08-26,M3,30000.0,2.000033e+09,22377.0,66.0,RACHEL SIRMA,14692843,2.547289e+11,31111.0,2.000033e+09,299.0,0.0,1905.0,1.0,1.0,1.0,111
17,564,Mary Wambui Kimemia,2000033683,713054217,12000,STAFF SALARY ACCOUNT,29236.0,0.0,0.0,2001-02-13,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000034e+09,1.0,214.0,0.0,4.0,4.0,4.0,444
18,571,Annsity Makena Mbaya,2000033190,722780800,6000,STAFF SALARY ACCOUNT,22135.0,1.0,0.0,2012-08-01,03,10000.0,2.000033e+09,22135.0,1178.0,ANNSITY MBAYA,13181862,2.547228e+11,31111.0,2.000033e+09,598.0,0.0,3066.0,1.0,1.0,1.0,111
19,596,Geofrey Mwaura Ngari,2000033012,722306171,30000,STAFF SALARY ACCOUNT,41545.0,0.0,0.0,2018-10-19,M4,50000.0,2.000033e+09,41545.0,7.0,GEOFREY NGARI,11606278,2.547223e+11,31111.0,2.000033e+09,546.0,4.0,4371.0,2.0,1.0,1.0,211
20,606,Anne Nkirote Murugu,2000038279,722757293,30000,NaN,NaN,0.0,0.0,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000038e+09,61.0,11.0,111.0,3.0,3.0,3.0,333
21,644,Dorothy Akinyi Opondo,2000036380,722520892,6000,STAFF SALARY ACCOUNT,48032.0,0.0,0.0,2002-02-18,03,10000.0,2.000036e+09,48032.0,115.0,DOROTHY OPONDO,11584589,2.547225e+11,31111.0,2.000036e+09,272.0,2.0,2208.0,2.0,1.0,1.0,211
22,659,Esther Waithira Ngirubiu,2000035625,254722258597,6000,STAFF SALARY ACCOUNT,47353.0,0.0,0.0,2012-05-17,03,10000.0,2.000036e+09,47353.0,39190.0,ESTHER KARANJA,10225545,2.547223e+11,31111.0,2.000036e+09,199.0,0.0,1485.0,1.0,2.0,2.0,122
23,662,Elizabeth Akinyi Nyakundi,2000035556,722831650,12000,STAFF SALARY ACCOUNT,47291.0,0.0,0.0,2001-10-26,M2,20000.0,2.000036e+09,47291.0,1742.0,ELIZABETH OSODO,13170860,2.547228e+11,31111.0,2.000036e+09,384.0,4.0,3219.0,2.0,1.0,1.0,211
24,666,Fridah Bongosa Mcharo,2000035057,722302365,18000,STAFF SALARY ACCOUNT,46946.0,0.0,0.0,2012-04-04,M3,30000.0,2.000035e+09,46946.0,2.0,FRIDAH MCHARO,21945555,2.547223e+11,31111.0,2.000035e+09,728.0,0.0,5064.0,1.0,1.0,1.0,111
25,687,Oduori Peter Mugeni,2000038045,NaN,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000038e+09,210.0,0.0,1584.0,1.0,2.0,2.0,122
26,692,Jane Margaret Surungai,2000038766,723681065,30000,STAFF SALARY ACCOUNT,50023.0,0.0,0.0,2002-12-17,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000039e+09,335.0,14.0,3666.0,3.0,1.0,1.0,311
27,709,Florence Mashaka Luganje,2000032959,254721750439,6000,STAFF SALARY ACCOUNT,25926.0,0.0,0.0,2000-12-05,02,10000.0,2.000033e+09,25926.0,141.0,FLORENCE LUGANJE,3642260,2.547218e+11,31111.0,2.000033e+09,76.0,12.0,729.0,3.0,3.0,2.0,332
28,1005,Mary Wanjiru Gathungu,2000036288,254721246093,6000,STAFF SALARY ACCOUNT,47960.0,0.0,0.0,2011-02-03,03,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000036e+09,5.0,53.0,0.0,4.0,4.0,4.0,444
29,1009,Anthony Ocharo Ombati,2000042996,728077290,18000,STAFF SALARY ACCOUNT,53453.0,0.0,0.0,2019-07-31,M3,30000.0,2.000043e+09,53453.0,90.0,ANTHONY OCHARO,20698390,2.547281e+11,31111.0,2.000043e+09,448.0,2.0,3471.0,2.0,1.0,1.0,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,3080,Margaret Waithera Mwai,9070063201,713646923,6000,STAFF SALARY ACCOUNT,907006.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.070063e+09,42.0,14.0,354.0,3.0,3.0,3.0,333
315,3081,Veronicah Wanjiku Wanjugu,9069683201,713994187,6000,STAFF SALARY ACCOUNT,906968.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.069683e+09,99.0,0.0,600.0,1.0,2.0,2.0,122
316,3082,Samuel Chege Gichure,9043983201,703929194,6000,STAFF SALARY ACCOUNT,904398.0,0.0,0.0,2019-05-24,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.043983e+09,61.0,18.0,246.0,3.0,3.0,3.0,333
317,3083,Mercy Chepngeno,9069693201,712879444,6000,STAFF SALARY ACCOUNT,906969.0,1.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.069693e+09,142.0,0.0,954.0,1.0,2.0,2.0,122
318,3086,Irene Jepkemoi Kiptoo,9070843201,790847868,6000,STAFF SALARY ACCOUNT,907084.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.070843e+09,71.0,3.0,447.0,2.0,3.0,3.0,233
321,3089,Don Odera Otoo,9080053201,722895047,6000,STAFF SALARY ACCOUNT,908005.0,0.0,0.0,2019-05-29,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.080053e+09,98.0,0.0,441.0,1.0,2.0,3.0,123
322,3090,Erick Ongore Angode,9069633201,716844363,6000,STAFF SALARY ACCOUNT,906963.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.069633e+09,288.0,0.0,1266.0,1.0,1.0,2.0,112
323,3091,Elisha Sami Saisi,9081523201,715243805,6000,STAFF SALARY ACCOUNT,908152.0,0.0,0.0,2019-05-29,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.081523e+09,98.0,7.0,357.0,2.0,2.0,3.0,223
324,3092,Mildred Kwamboka Gwaro,9070073201,726790781,6000,STAFF SALARY ACCOUNT,907007.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.070073e+09,3.0,24.0,0.0,3.0,4.0,4.0,344
326,3094,Lilian Kathure Riungu,2288623201,720797994,6000,STAFF SALARY ACCOUNT,228862.0,0.0,0.0,2017-11-30,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.288623e+09,15.0,52.0,0.0,4.0,4.0,4.0,444
328,3097,Veronica Njeri Gitahi,8280803102,713895264,6000,STAFF SALARY ACCOUNT,828080.0,0.0,0.0,2019-06-04,CON,NaN,8.280803e+09,828080.0,513846.0,VERONICA NJERI GITAHI,30260731,2.547139e+11,31111.0,8.280803e+09,164.0,0.0,1197.0,1.0,2.0,2.0,122
330,3101,Hillary Kimchas,9161823201,711147826,6000,STAFF SALARY ACCOUNT,916182.0,0.0,0.0,2019-06-10,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.161823e+09,55.0,0.0,594.0,1.0,3.0,2.0,132
331,3102,Veronicah Kagure Mwaniki,9161793201,729665465,6000,STAFF SALARY ACCOUNT,916179.0,0.0,0.0,2019-06-10,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.161793e+09,58.0,0.0,378.0,1.0,3.0,3.0,133
333,3107,Faith Kibugi Kibugi,7849283201,724542852,6000,STAFF SALARY ACCOUNT,784928.0,0.0,0.0,2019-03-20,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.849283e+09,71.0,12.0,45.0,3.0,3.0,3.0,333
334,3108,Sammy Njeru Njue,2455193201,726838746,6000,STAFF SALARY ACCOUNT,245519.0,0.0,0.0,2018-07-25,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.455193e+09,144.0,0.0,558.0,1.0,2.0,2.0,122
335,3109,Ritah Annete Akinyi,1637003102,713069852,6000,STAFF SALARY ACCOUNT,163700.0,0.0,0.0,2014-05-29,CON,NaN,1.637003e+09,163700.0,520280.0,RITAH ANNETE AKINYI,26158355,2.547131e+11,31111.0,1.637003e+09,43.0,0.0,486.0,1.0,3.0,3.0,133
336,3110,Faith Muthoni Macharia,2402893201,729471266,6000,STAFF SALARY ACCOUNT,240289.0,0.0,0.0,2018-07-19,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.402893e+09,113.0,9.0,639.0,3.0,2.0,2.0,322
337,3119,Hawa Banura Kasoro,9400453201,726442656,6000,STAFF SALARY ACCOUNT,940045.0,0.0,0.0,2019-07-15,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.400453e+09,145.0,0.0,465.0,1.0,2.0,3.0,123
345,IC,Jackline Njeri Mutuma,6590673201,701989099,6000,STAFF SALARY ACCOUNT,659067.0,0.0,0.0,2019-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.590673e+09,16.0,25.0,264.0,3.0,4.0,3.0,343
346,IC,Brenda Jebiwot Rop,6637423201,721137841,6000,STAFF SALARY ACCOUNT,663742.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637423e+09,175.0,0.0,1485.0,1.0,2.0,2.0,122
347,IC,Brevin Kiplangat Towett,6637963201,704576375,6000,STAFF SALARY ACCOUNT,663796.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637963e+09,18.0,10.0,264.0,3.0,4.0,3.0,343
348,IC,Naomi Wangare Kahono,6637313201,700399203,6000,STAFF SALARY ACCOUNT,663731.0,1.0,0.0,2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637313e+09,10.0,3.0,132.0,2.0,4.0,3.0,243
349,IC,Shirley Amisi Mundia,6637113201,727389342,6000,STAFF SALARY ACCOUNT,663711.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.637113e+09,20.0,19.0,198.0,3.0,4.0,3.0,343
350,IC,Florence Wanjiku Wanjiru,6909003201,701763861,6000,STAFF SALARY ACCOUNT,690900.0,0.0,0.0,2019-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.909003e+09,72.0,9.0,1101.0,3.0,3.0,2.0,332
351,IC,Pauline Kendi Marete,6336393201,705082062,6000,STAFF SALARY ACCOUNT,633639.0,0.0,0.0,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.336393e+09,24.0,10.0,354.0,3.0,3.0,3.0,333
352,IC,Racheal Nyongesa,3617653201,0706 581 312,6000,STAFF SALARY ACCOUNT,361765.0,0.0,0.0,2018-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.617653e+09,26.0,24.0,132.0,3.0,3.0,3.0,333
355,NaN,Isaac Chege,2000098824,721352802,3000,STAFF SALARY ACCOUNT,148275.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000099e+09,3.0,151.0,0.0,4.0,4.0,4.0,444
356,NaN,Ann Wamuyu,2000116076,722783626,3000,STAFF SALARY ACCOUNT,190183.0,0.0,0.0,2015-10-05,NaN,NaN,2.000116e+09,190183.0,110079.0,ANNE WAMUYU MUGO,11699911,2.547228e+11,31111.0,2.000116e+09,3.0,49.0,0.0,4.0,4.0,4.0,444
360,NaN,Fredrick Okode,2000033195,723594331,3000,STAFF SALARY ACCOUNT,41454.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000033e+09,1.0,139.0,0.0,4.0,4.0,4.0,444
373,NaN,jerusha igombo,8025403201,722977981,30000,NaN,NaN,NaN,NaN,NaT,M5,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.025403e+09,782.0,0.0,7143.0,1.0,1.0,1.0,111

In [311]:
def limitAdjuster(x):
    if x in ('111','112','122','133','134','144'):
        return 1.25
    elif x in ('211','221','222','232','233','243','244'):
        return 1.5
    elif x in ('311','321','322','333','343','344'): 
        return 1.75
    elif x in ('422','433','444'): 
        return 2
    else:
        return 1

In [312]:
#,'111','112','122','133','134','144','211','221','222','232','233','243','244','311','321','322','333','343','344','422','433','444'

In [313]:
staff_account_limit['Loan Limit'] = staff_account_limit['Loan Limit'].astype('int64')

In [314]:

#staff_account_limit.RFMScore.unique #staff_account_limit.RFMScore.fillna(0, inplace = True)

In [315]:
#staff_account_limit.RFMScore.unique

In [316]:
staff_account_limit['adjuster'] = staff_account_limit.RFMScore.apply(limitAdjuster)

In [317]:
staff_account_limit["new_limit_24_Nov"] = staff_account_limit['Loan Limit'] *staff_account_limit['adjuster']

In [254]:
staff_account_limit.head()
staff_account_limit_nov_2019 = staff_account_limit[["Pfno", "Name","ACCOUNT","Loan Limit" ,"new_limit_24_Nov"]]

In [318]:
staff_account_limit[staff_account_limit.ACCOUNT_NUMBER.isnull()]

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore,adjuster,new_limit_24_Nov
47,1154,Carolyne Mutegi Munene,2000077019,254722394554,6000,STAFF SALARY ACCOUNT,112296.0,0.0,0.0,2009-08-26,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
48,1156,Kenneth Nzomo Kiilu,7050000013,254723639144,18000,CURRENT ACCOUNT STAFF,113495.0,0.0,0.0,2010-03-08,M3,30000.0,7.050000e+09,113495.0,1207.0,KENNETH KIILU,13429771,2.547236e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
53,1174,Mark Gichuru Kinyuru,7050000070,254722932606,18000,CURRENT ACCOUNT STAFF,114704.0,0.0,0.0,2012-05-10,M3,30000.0,7.050000e+09,114704.0,122.0,MARK KINYURU,11608297,2.547229e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
74,1244,Amos Ndati Ndinza,2000089446,718786064,6000,STAFF SALARY ACCOUNT,128194.0,0.0,0.0,2011-09-07,02,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
81,1273,Stephen Paul Kimaku Wainaina,7050000162,722826853,18000,CURRENT ACCOUNT STAFF,136298.0,0.0,0.0,2012-11-14,M3,30000.0,7.050000e+09,136298.0,1185.0,STEPHEN PAUL,23149980,2.547228e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
88,1326,Annrita Mwirigi,7050000186,NaN,6000,NaN,NaN,NaN,NaN,NaT,O1,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
89,1327,Samuel Muthomi Kibiti,7050000187,254728068518,6000,CURRENT ACCOUNT STAFF,138242.0,0.0,0.0,2013-01-15,03,10000.0,7.050000e+09,138242.0,43.0,SAMUEL MUTHOMI KIBITI,23707644,2.547281e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
91,1329,Eric Kihu Nguithi,7050000195,254728216722,6000,CURRENT ACCOUNT STAFF,138820.0,0.0,0.0,2013-02-11,03,10000.0,7.050000e+09,138820.0,36.0,ERIC NGUITHI,25641336,2.547282e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
93,1334,Lawi Omondi Ochaye,7050000194,254728039840,6000,CURRENT ACCOUNT STAFF,138819.0,0.0,0.0,2013-02-11,02,10000.0,7.050000e+09,138819.0,1906.0,LAWI OCHAYE,25030674,2.547280e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
94,1355,Francis Mungathia Miriti,7050000214,254725333982,6000,CURRENT ACCOUNT STAFF,140753.0,0.0,0.0,2013-04-15,03,10000.0,7.050000e+09,140753.0,120.0,FRANCIS MUNGATHIA,23180519,2.547205e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
97,1384,Floyd Mathias Mutia,7050000233,0722705241,18000,LENGO ACCOUNT,144519.0,0.0,0.0,2019-06-26,M3,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
99,1391,Joseph Onyango Lule,7050000250,727337536,6000,CURRENT ACCOUNT STAFF,146694.0,0.0,0.0,2014-10-28,02,10000.0,7.050000e+09,146694.0,2661.0,JOSEPH LULE,21676243,2.547273e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
100,1392,Caroline Margaret Wanja Festus,7050000253,254720329647,6000,CURRENT ACCOUNT STAFF,146699.0,0.0,0.0,2016-09-23,02,10000.0,7.050000e+09,146699.0,1152.0,CAROLINE FESTUS,22179724,2.547203e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
102,1398,Damaris Wanjiku Mwangi,7050000246,254726524275,6000,CURRENT ACCOUNT STAFF,146685.0,0.0,0.0,2013-09-02,03,10000.0,7.050000e+09,146685.0,1319.0,DAMARIS MWANGI,26298503,2.547265e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
103,1401,Denis Bundi Mwilaria,7050000247,0726359802,6000,CURRENT ACCOUNT STAFF,146687.0,0.0,0.0,2013-09-02,01,10000.0,7.050000e+09,146687.0,39868.0,DENIS MWILARIA,25095968,2.547264e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
105,1406,Winnie Ngéno,7050000267,NaN,12000,NaN,NaN,NaN,NaN,NaT,M2,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12000.0
106,1407,Regina Kajuju Anyika,7050000272,254712445933,30000,CURRENT ACCOUNT STAFF,147983.0,0.0,0.0,2013-09-23,M6,50000.0,7.050000e+09,147983.0,1131.0,REGINA ANYIKA,A565928,2.547124e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
107,1408,Patrick Mwangi Wainaina,7050000268,254722205194,12000,CURRENT ACCOUNT STAFF,147619.0,0.0,0.0,2013-09-16,M2,20000.0,7.050000e+09,147619.0,16890.0,PATRICK WAINAINA,20794724,2.547217e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12000.0
108,1409,Joan Mukami Bundi,7050000270,254720927052,6000,CURRENT ACCOUNT STAFF,147622.0,0.0,0.0,2013-09-16,03,10000.0,7.050000e+09,147622.0,173.0,JOAN BUNDI,22913096,2.547209e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
109,1414,Joseph Munyao Mutisya,7050000244,729498494,6000,CURRENT ACCOUNT STAFF,146437.0,0.0,0.0,2018-01-26,01,10000.0,7.050000e+09,146437.0,110.0,JOSEPH MUTISYA,25077155,2.547356e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
110,1419,Henry Cheruiyot Serem,7050000260,254721491324,6000,CURRENT ACCOUNT STAFF,147326.0,0.0,0.0,2013-09-10,01,10000.0,7.050000e+09,147326.0,1183.0,HENRY SEREM,22224283,2.547215e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
111,1425,Nelly Jebiwott Kibet,7050000255,254720346183,6000,CURRENT ACCOUNT STAFF,147318.0,0.0,0.0,2017-02-03,01,10000.0,7.050000e+09,147318.0,33255.0,NELLY KIBET,25981782,2.547269e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
112,1452,Liza Muthoni Ndwiga,7050000285,254715227650,6000,CURRENT ACCOUNT STAFF,150280.0,0.0,0.0,2013-10-22,01,10000.0,7.050000e+09,150280.0,16295.0,LIZA MUTHONI,28490896,2.547152e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
117,1470,Colleta Malomba Oganyo,7050000291,729833861,12000,CURRENT ACCOUNT STAFF,152009.0,0.0,0.0,2014-10-28,M2,20000.0,7.050000e+09,152009.0,32119.0,COLLETA OGANYO,24141406,2.547298e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12000.0
118,1473,Elvis Muchangi Njeru,7050000293,254721258123,6000,CURRENT ACCOUNT STAFF,152013.0,0.0,0.0,2013-11-18,03,10000.0,7.050000e+09,152013.0,133.0,ELVIS NJERU,21816338,2.547213e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
119,1489,Robert Muchiri Mugo,7050000298,254708089328,12000,CURRENT ACCOUNT STAFF,153084.0,0.0,0.0,2013-12-02,M2,20000.0,7.050000e+09,153084.0,1192.0,ROBERT MUGO,12710534,2.547224e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12000.0
120,1492,Sarah Mong'ina Momanyi,7050000302,254724831069,6000,CURRENT ACCOUNT STAFF,154446.0,0.0,0.0,2019-09-11,03,10000.0,7.050000e+09,154446.0,505529.0,SARAH MOMANYI,25105957,2.547248e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
121,1493,Vincent Mutinda Mutule,7050000304,721236857,18000,CURRENT ACCOUNT STAFF,154514.0,0.0,0.0,2016-01-06,M3,30000.0,7.050000e+09,154514.0,48.0,VINCENT MUTULE,20164650,2.547212e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
122,1502,Lucy Achieng Oluoch,7050000311,254722465748,30000,CURRENT ACCOUNT STAFF,158122.0,1.0,0.0,2014-02-20,M4,50000.0,7.050000e+09,158122.0,201.0,LUCY OLUOCH,21962036,2.547225e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
124,1521,Benson Wesonga Washika,7050000312,254720291470,18000,CURRENT ACCOUNT STAFF,159115.0,0.0,0.0,2015-03-31,M3,30000.0,7.050000e+09,159115.0,29118.0,BENSON WESONGA,20798024,2.547203e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,3093,Lilian Chepchumba Langat,9071173201,0711409301,6000,TRANSACTIONAL ACCOUNT-CA,907117.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
327,3096,Yvonne Wanjiku Waiganjo,7706063201,0724215509,6000,CURRENT ACCOUNT STAFF,770606.0,1.0,0.0,2019-03-15,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
329,3098,Mercy Sereyia Leboo,9069653201,254742185842,6000,VIRTUAL ACCOUNT MOBILE,906965.0,0.0,0.0,2019-05-28,CON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
332,3105,Patrick Njunhe,6210393201,725300081,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
338,IC,Maxwel Ouko Obiero,6871113201,714009108,6000,HFC SALARY ACCOUNT,687111.0,0.0,0.0,2019-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
339,IC,Antony Obwori Lubondi,6637153201,700478128,6000,HFC SALARY ACCOUNT,663715.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
340,IC,Purity Makena Mbaabu,3106243201,705902239,6000,MICRO BIZ ACCOUNT,310624.0,0.0,0.0,2018-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
341,IC,Whitney Khamete L'ingori,3105853201,700423062,6000,HFC SALARY ACCOUNT,310585.0,0.0,0.0,2018-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
342,IC,Benjamin Kipkirui Ngeno,3072963201,715197935,6000,HFC SALARY ACCOUNT,307296.0,0.0,0.0,2018-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
343,IC,Alex Kyula Mutei,6637133201,702842523,6000,HFC SALARY ACCOUNT,663713.0,0.0,0.0,2019-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
344,IC,Jackson Thuo Njuguna,6890703201,725837453,6000,HFC SALARY ACCOUNT,689070.0,0.0,0.0,2019-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
353,IC,Patience Temko,3542833201,725168343,6000,VIRTUAL ACCOUNT MOBILE,354283.0,0.0,0.0,2018-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6000.0
354,NaN,James Mwanzia,2000033191,723215317,3000,STAFF SALARY ACCOUNT,41457.0,0.0,0.0,2000-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
357,NaN,Stephen Makau,2566933101,716199057,3000,STAFF SALARY ACCOUNT,256693.0,0.0,0.0,2018-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
358,NaN,Joseph Wahome,2291893101,799054321,3000,STAFF SAVINGS ACCOUNT,229189.0,0.0,0.0,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
359,NaN,Elmelda Bwari,1754233101,720319899,3000,STAFF SALARY ACCOUNT,175423.0,0.0,0.0,2016-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
361,NaN,Gedion Mule,2000033237,710819074,3000,STAFF SALARY ACCOUNT,38622.0,0.0,0.0,2000-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
362,NaN,Everline Anyango,9077073101,717048127,3000,STAFF SALARY ACCOUNT,907707.0,0.0,0.0,2019-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
363,NaN,Juma Mangongo,2000116077,729373548,3000,STAFF SALARY ACCOUNT,190184.0,0.0,0.0,2017-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
364,NaN,Carol Irungu,2000098823,713901942,3000,STAFF SALARY ACCOUNT,148272.0,0.0,0.0,2013-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
365,NaN,Eunice Ouma,2239793101,780594331,3000,STAFF SALARY ACCOUNT,223979.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
366,NaN,David Otieno,2239803101,724252961,3000,STAFF SALARY ACCOUNT,223980.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
367,NaN,Branson Ngelengele,2239853101,741053087,3000,STAFF SALARY ACCOUNT,223985.0,0.0,0.0,2017-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
368,NaN,Lydia Kageni,2000045327,724044709,3000,STAFF SALARY ACCOUNT,62457.0,0.0,0.0,2004-08-09,NaN,NaN,2.000045e+09,62457.0,59982.0,LYDIA KAGENI KIREA,21425788,2.547240e+11,31111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
369,NaN,Christine Marowa,2000094679,727114520,3000,STAFF SALARY ACCOUNT,135683.0,0.0,0.0,2012-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
370,NaN,Simon Mwangi,1300803101,726704956,3000,STAFF SALARY ACCOUNT,130080.0,0.0,0.0,2016-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3000.0
371,NaN,joseph Kamau,8589783201,724001457,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
372,NaN,tonney agira,6870023202,713603163,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
374,NaN,kingori mwangi,8951043201,713605651,30000,NaN,NaN,NaN,NaN,NaT,M6,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0
375,NaN,kibet kitur,6615513201,721462728,30000,NaN,NaN,NaN,NaN,NaT,M4,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30000.0

In [319]:
staff_account_limit.ACCOUNT_NUMBER.isnull().sum()

157

In [325]:
staff_account_limit.query('idNumber == 24991210')

,Pfno,Name,ACCOUNT,MOBILE,Loan Limit,Type of whizz Account,cust_id,target saving,fixed saving,opening date,grade,income proxy,accountNumber,cbsCustomerID,customerID,customerNames,idNumber,mobileNumber,productCode,ACCOUNT_NUMBER,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore,adjuster,new_limit_24_Nov
206,1917,Anthony Mwenda Mutembei,1934193201,254720935672,12000,CURRENT ACCOUNT STAFF,193419.0,0.0,0.0,2016-02-16,M2,20000.0,1.934193e+09,193419.0,1146.0,ANTHONY MUTEMBEI,24991210,2.547228e+11,31705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12000.0

import psycopg2
t
    connection = psycopg2.connect(user = "datawarehouse",
                                  password = "P@ssw0rd",
                                  host = "128.2.4.15",
                                  port = "5432",
                                  database = "datawarehouse")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
            
            
            dbname = "datawarehouse",
                 host = "128.2.4.15", port = 5432,
                 user = "datawarehouse", password = pw)

In [ ]:
import psycopg2
    connection = psycopg2.connect(user = "datawarehouse",
                                  password = "P@ssw0rd",
                                  host = "128.2.4.15",
                                  port = "5432",
                                  database = "datawarehouse")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

In [323]:
export_csv = staff_account_limit.to_csv (r'/Users/allan.aswani/Documents/scorecardworks/staff_account_limit_25_Nov_2019.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [322]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')